@model IEnumerable<TimeTask.Models.MainSettings2>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoraNocna_Poczatek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoraNocna_Koniec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnyPoniedzialek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnyWtorek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnaSroda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnyCzwartek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnyPiatek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnaSobota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolnaNiedziela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoraNocna_Poczatek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoraNocna_Koniec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnyPoniedzialek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnyWtorek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnaSroda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnyCzwartek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnyPiatek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnaSobota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolnaNiedziela)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
