<div class="IdRKPExyAQSewBL" onscroll="DKE3PlNoUnmS(this)">
	
	



	<a class="settings_a" href="@Url.Action("Index", "Home")">
		<svg viewBox="-8.5 0 32 32" width="32" height="32"><path d="M15.281 7.188v17.594l-15.281-8.781z"></path></svg>
		<span>Strona główna</span>
	</a>

	<span class="settings_span">Ustawienia:</span>
	<div style="height: 5px;"></div>

	<a class="settings_a" href="#" id="settings_sett_over_id">
		<svg viewBox="0 0 1920 1920" width="30" height="30"><path d="M1703.534 960c0-41.788-3.84-84.48-11.633-127.172l210.184-182.174-199.454-340.856-265.186 88.433c-66.974-55.567-143.323-99.389-223.85-128.415L1158.932 0h-397.78L706.49 269.704c-81.43 29.138-156.423 72.282-223.962 128.414l-265.073-88.32L18 650.654l210.184 182.174C220.39 875.52 216.55 918.212 216.55 960s3.84 84.48 11.633 127.172L18 1269.346l199.454 340.856 265.186-88.433c66.974 55.567 143.322 99.389 223.85 128.415L761.152 1920h397.779l54.663-269.704c81.318-29.138 156.424-72.282 223.963-128.414l265.073 88.433 199.454-340.856-210.184-182.174c7.793-42.805 11.633-85.497 11.633-127.285m-743.492 395.294c-217.976 0-395.294-177.318-395.294-395.294 0-217.976 177.318-395.294 395.294-395.294 217.977 0 395.294 177.318 395.294 395.294 0 217.976-177.317 395.294-395.294 395.294"></path></svg>
		<span>Ustawienia ogólne</span>
	</a>

	<a class="settings_a" href="@Url.Action("Index", "Workers2")" id="settings_departs_workers_id">
		<svg viewBox="0 0 24 24" width="30" height="30"><path d="M12,3 C10.3431,3 9,4.34315 9,6 C9,7.30622 9.83481,8.41746 11,8.82929 L11,11 L8,11 C6.34315,11 5,12.3431 5,14 L5,15.1707 C3.83481,15.5825 3,16.6938 3,18 C3,19.6569 4.34315,21 6,21 C7.65685,21 9,19.6569 9,18 C9,16.6938 8.16519,15.5825 7,15.1707 L7,14 C7,13.4477 7.44772,13 8,13 L16,13 C16.5523,13 17,13.4477 17,14 L17,15.1707 C15.8348,15.5825 15,16.6938 15,18 C15,19.6569 16.3431,21 18,21 C19.6569,21 21,19.6569 21,18 C21,16.6938 20.1652,15.5825 19,15.1707 L19,14 C19,12.3431 17.6569,11 16,11 L13,11 L13,8.82929 C14.1652,8.41746 15,7.30622 15,6 C15,4.34315 13.6569,3 12,3 Z"></path></svg>
		<span>Działy i Pracownicy</span>
	</a>

@*    <a class="settings_a" href="@Url.Action("Index", "Workers2")">
		<svg viewBox="0 0 32 32" width="30" height="30"><path d="M4 28q0 0.832 0.576 1.44t1.44 0.576h20q0.8 0 1.408-0.576t0.576-1.44q0-1.44-0.672-2.912t-1.76-2.624-2.496-2.144-2.88-1.504q1.76-1.088 2.784-2.912t1.024-3.904v-1.984q0-3.328-2.336-5.664t-5.664-2.336-5.664 2.336-2.336 5.664v1.984q0 2.112 1.024 3.904t2.784 2.912q-1.504 0.544-2.88 1.504t-2.496 2.144-1.76 2.624-0.672 2.912z"></path></svg>
		<span>Pracownicy</span>
	</a>*@

	<a class="settings_a" href="@Url.Action("Index", "Times")" id="settings_times_id">
		<svg viewBox="0 0 512 512" width="30" height="26">
			<path d="M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256c141.4,0,256-114.6,256-256S397.4,0,256,0z M256,469.3c-117.8,0-213.3-95.5-213.3-213.3c0-117.8,95.5-213.3,213.3-213.3c117.8,0,213.3,95.5,213.3,213.3C469.3,373.8,373.8,469.3,256,469.3z M234.7,234.7L149.3,320l32,32l96-96V85.3h-42.7V234.7z"></path>
		</svg>
		<span>Czas pracy i Urlopy</span>
	</a>

	<a class="settings_a" href="#" id="settings_tasks_id">
		<svg class="DnnTeTYpszZXNnO" viewBox="0 0 512 400" width="30" height="30"><path d="M1.20792265e-13,197.76 C54.5835501,218.995667 112.186031,231.452204 170.666667,234.666667 L170.666667,277.333333 L256,277.333333 L256,234.666667 C314.339546,231.013 371.833936,218.86731 426.666667,198.613333 L426.666667,362.666667 L1.20792265e-13,362.666667 L1.20792265e-13,197.76 Z M277.333333,-1.42108547e-14 L298.666667,21.3333333 L298.666667,64 L426.666667,64 L426.666667,175.146667 C361.254942,199.569074 292.110481,212.488551 222.293333,213.333333 L222.293333,213.333333 L206.933333,213.333333 C136.179047,212.568604 66.119345,199.278929 7.10542736e-15,174.08 L7.10542736e-15,174.08 L7.10542736e-15,64 L128,64 L128,21.3333333 L149.333333,-1.42108547e-14 L277.333333,-1.42108547e-14 Z M256,42.6666667 L170.666667,42.6666667 L170.666667,64 L256,64 L256,42.6666667 Z"></path></svg>
		<span>Grafik</span>
	</a>

	<a class="settings_a" href="@Url.Action("Index", "Periods")" id="settings_periods_id">
		<svg viewBox="0 0 512 512" width="30" height="26"><path d="M413.807,0H98.193v63.123h10.603c-0.018,0.619-0.081,1.22-0.081,1.83v45.955c0,32.49,13.446,63.526,37.145,85.736l41.748,39.147c3.354,3.157,5.274,7.543,5.274,12.163v18.864c0,4.62-1.92,9.015-5.274,12.173l-41.748,39.146c-23.698,22.21-37.145,53.238-37.145,85.737v45.003H98.193V512h315.615v-63.123h-10.53v-45.003c0-32.499-13.447-63.527-37.137-85.737l-41.747-39.146c-3.364-3.158-5.275-7.553-5.275-12.173v-18.864c0-4.62,1.912-9.006,5.257-12.163l41.766-39.147c23.69-22.21,37.137-53.246,37.137-85.736V64.953c0-0.61-0.054-1.211-0.081-1.83h10.611V0z M292.819,247.954v18.864c0,11.885,4.915,23.242,13.581,31.351l41.747,39.146c18.389,17.24,28.83,41.344,28.83,66.559v45.003H135.015v-45.003c0-25.215,10.441-49.319,28.83-66.55l41.748-39.155c8.664-8.109,13.581-19.466,13.581-31.351v-18.864c0-11.886-4.916-23.233-13.581-31.36l-41.748-39.146c-18.388-17.232-28.83-41.326-28.83-66.54V64.953c0-0.628,0.117-1.211,0.188-1.83h241.585c0.072,0.619,0.188,1.202,0.188,1.83v45.955c0,25.215-10.441,49.308-28.83,66.54l-41.747,39.146C297.734,224.721,292.819,236.068,292.819,247.954z"></path></svg>
		<span>Okresy rozliczeniowe</span>
	</a>

	<a class="settings_a" href="@Url.Action("Index", "Openings")" id="settings_openings_id">
		<svg viewBox="0 0 1920 1920" width="30" height="26"><path d="M1439.667 1417.92v-191.253H1333V1440c0 14.188 5.653 27.733 15.573 37.76l123.414 123.306 75.413-75.413-107.733-107.733Z" /><path d="M1386.333 1813.333C1180.467 1813.333 1013 1645.867 1013 1440c0-205.867 167.467-373.333 373.333-373.333 205.867 0 373.334 167.466 373.334 373.333 0 205.867-167.467 373.333-373.334 373.333ZM159.666 266.667c0-29.44 24-53.334 53.334-53.334h160v53.334c0 29.44 23.894 53.333 53.333 53.333 29.44 0 53.333-23.893 53.333-53.333v-53.334h746.667v53.334c0 29.44 23.894 53.333 53.334 53.333 29.44 0 53.333-23.893 53.333-53.333v-53.334h160c29.333 0 53.333 23.894 53.333 53.334v160H159.666v-160ZM1653 1041.28V266.667c0-88.214-71.787-160-160-160h-160V53.333C1333 23.893 1309.107 0 1279.667 0c-29.44 0-53.334 23.893-53.334 53.333v53.334H479.666V53.333C479.666 23.893 455.773 0 426.333 0 396.894 0 373 23.893 373 53.333v53.334H213c-88.213 0-160 71.786-160 160v1546.666h1035.307C1170.547 1879.04 1273.16 1920 1386.333 1920c264.64 0 480-215.36 480-480 0-166.08-84.8-312.533-213.333-398.72Z" /></svg>
		<span>Bilans otwarcia</span>
	</a>

	<a class="settings_a" href="@Url.Action("Index", "Holidays")" id="settings_holidays_id">
		<svg viewBox="0 0 24 24" width="30" height="30"><path d="M11,16H4L9,9H6l6-7,6,7H15l5,7H13v4h3a1,1,0,0,1,0,2H8a1,1,0,0,1,0-2h3Z" /></svg>
		<span>Święta</span>
	</a>

	<a class="settings_a" href="#">
		<svg class="DnnTeTYpszZXNnO" viewBox="0 0 30 30" width="30" height="30"><path d="M9.938 20.25l-1.219-1.25s-3.469 1.344-6.969-2.125c-2.969-2.969-1.656-7.625 0.281-9.531 2.063-2.063 6.469-3.313 9.688-0.094s1.844 7.031 1.844 7.031l8.844 8.813-0.25 4.594-4.5 0.281-0.25-2.25-2.344-0.281-0.219-2.344-2.313-0.313-0.344-2.25zM3.25 8.594c-1.375 1.375-1.75 3.219-0.844 4.094 0.906 0.906 2.719 0.531 4.094-0.844s1.781-3.219 0.875-4.094c-0.875-0.906-2.75-0.531-4.125 0.844zM21.344 24.844l0.063-1.313-8.406-8.406-0.688 0.688z"></path></svg>
		<span>Uprawnienia</span>
	</a>

	<a class="settings_a" href="#">
		<svg viewBox="0 0 52 52" width="30" height="30">
			<path d="M50,43v2.2c0,2.6-2.2,4.8-4.8,4.8H6.8C4.2,50,2,47.8,2,45.2V43c0-5.8,6.8-9.4,13.2-12.2c0.2-0.1,0.4-0.2,0.6-0.3c0.5-0.2,1-0.2,1.5,0.1c2.6,1.7,5.5,2.6,8.6,2.6s6.1-1,8.6-2.6c0.5-0.3,1-0.3,1.5-0.1c0.2,0.1,0.4,0.2,0.6,0.3C43.2,33.6,50,37.1,50,43z M26,2c6.6,0,11.9,5.9,11.9,13.2S32.6,28.4,26,28.4s-11.9-5.9-11.9-13.2S19.4,2,26,2z"></path>
		</svg>
		<span>Konta</span>
	</a>

	<a href="@Url.Action("Index", "Wallpaper2")" class="settings_a" id="RulQCOUeIjlrFpq">
		<svg viewBox="0 0 256 256" width="30" height="30"><path d="M208,40H48A24.0275,24.0275,0,0,0,24,64V176a24.0275,24.0275,0,0,0,24,24h72v16H96a8,8,0,0,0,0,16h64a8,8,0,0,0,0-16H136V200h72a24.0275,24.0275,0,0,0,24-24V64A24.0275,24.0275,0,0,0,208,40Zm8,136a8.00917,8.00917,0,0,1-8,8H48a8.00917,8.00917,0,0,1-8-8V160H216Z"></path></svg>
		<span>Tapeta</span>
	</a>








	<label class="oKuDQuaWdDBDLIN" id="oKuDQuaWdDBDLIN_">
		<input type="checkbox" class="displayNone" id="oKuDQuaWdDBDLIN_input" />
		<svg viewBox="0 0 24 24" height="24" width="24">
			<path d="M8.70710678,12 L19.5,12 C19.7761424,12 20,12.2238576 20,12.5 C20,12.7761424 19.7761424,13 19.5,13 L8.70710678,13 L11.8535534,16.1464466 C12.0488155,16.3417088 12.0488155,16.6582912 11.8535534,16.8535534 C11.6582912,17.0488155 11.3417088,17.0488155 11.1464466,16.8535534 L7.14644661,12.8535534 C6.95118446,12.6582912 6.95118446,12.3417088 7.14644661,12.1464466 L11.1464466,8.14644661 C11.3417088,7.95118446 11.6582912,7.95118446 11.8535534,8.14644661 C12.0488155,8.34170876 12.0488155,8.65829124 11.8535534,8.85355339 L8.70710678,12 L8.70710678,12 Z M4,5.5 C4,5.22385763 4.22385763,5 4.5,5 C4.77614237,5 5,5.22385763 5,5.5 L5,19.5 C5,19.7761424 4.77614237,20 4.5,20 C4.22385763,20 4,19.7761424 4,19.5 L4,5.5 Z"></path>
		</svg>
	</label>

</div>

<div class="user">
	<a asp-area="Identity" asp-page="/Account/Manage/Index" class="userFirstA">
		<svg viewBox="0 0 512 512" width="48" height="48">
			<path d="M213.333333,3.55271368e-14 C269.912851,3.55271368e-14 324.175019,22.4761259 364.18278,62.4838867 C404.190541,102.491647 426.666667,156.753816 426.666667,213.333333 C426.666667,331.15408 331.15408,426.666667 213.333333,426.666667 C95.5125867,426.666667 2.84217094e-14,331.15408 2.84217094e-14,213.333333 C2.84217094e-14,95.5125867 95.5125867,3.55271368e-14 213.333333,3.55271368e-14 Z M234.666667,234.666667 L192,234.666667 C139.18529,234.666667 93.8415802,266.653822 74.285337,312.314895 C105.229171,355.70638 155.977088,384 213.333333,384 C270.689579,384 321.437496,355.70638 352.381644,312.31198 C332.825087,266.653822 287.481377,234.666667 234.666667,234.666667 L234.666667,234.666667 Z M213.333333,64 C177.987109,64 149.333333,92.653776 149.333333,128 C149.333333,163.346224 177.987109,192 213.333333,192 C248.679557,192 277.333333,163.346224 277.333333,128 C277.333333,92.653776 248.679557,64 213.333333,64 Z"></path>
		</svg>
	</a>
	<div class="userDiv">
		<a>@User.Identity?.Name?.Split('@')[0]</a>
		@*<a asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia konta</a>*@
	</div>
	<form class="logOut" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<input type="submit" value="" id="logOutClick" />
		<button type="button" title="Wyloguj" onclick="logOut()">
			<svg viewBox="-2 0 19 19" width="37" height="37">
				<path d="M7.498 17.1a7.128 7.128 0 0 1-.98-.068 7.455 7.455 0 0 1-1.795-.483 7.26 7.26 0 0 1-3.028-2.332A7.188 7.188 0 0 1 .73 12.52a7.304 7.304 0 0 1 .972-7.128 7.221 7.221 0 0 1 1.387-1.385 1.03 1.03 0 0 1 1.247 1.638 5.176 5.176 0 0 0-.993.989 5.313 5.313 0 0 0-.678 1.181 5.23 5.23 0 0 0-.348 1.292 5.22 5.22 0 0 0 .326 2.653 5.139 5.139 0 0 0 .69 1.212 5.205 5.205 0 0 0 .992.996 5.257 5.257 0 0 0 1.178.677 5.37 5.37 0 0 0 1.297.35 5.075 5.075 0 0 0 1.332.008 5.406 5.406 0 0 0 1.32-.343 5.289 5.289 0 0 0 2.211-1.682 5.18 5.18 0 0 0 1.02-2.465 5.2 5.2 0 0 0 .01-1.336 5.315 5.315 0 0 0-.343-1.318 5.195 5.195 0 0 0-.695-1.222 5.134 5.134 0 0 0-.987-.989 1.03 1.03 0 1 1 1.24-1.643 7.186 7.186 0 0 1 1.384 1.386 7.259 7.259 0 0 1 .97 1.706 7.413 7.413 0 0 1 .473 1.827 7.296 7.296 0 0 1-4.522 7.65 7.476 7.476 0 0 1-1.825.471 7.203 7.203 0 0 1-.89.056zM7.5 9.613a1.03 1.03 0 0 1-1.03-1.029V2.522a1.03 1.03 0 0 1 2.06 0v6.062a1.03 1.03 0 0 1-1.03 1.03z"></path>
			</svg>
		</button>
	</form>
</div>

