@model IEnumerable<TimeTask.Models.Task>

<div class="koblSjvDsfoQbAD" onscroll="HzvDBbvTRQnGBub(this)">
    <a class="settings_a" href="@Url.Action("Index", "Home")">
        <svg viewBox="-8.5 0 32 32" width="32" height="32"><path d="M15.281 7.188v17.594l-15.281-8.781z"></path></svg>
        <span>Strona główna</span>
    </a>


    <select class="HQTuaisxjrtQHPq" id="uKdvKAhOhYwppOO" onchange="FvEKesXHjbxXQEL()"> <!--Rok-->
        @{
            var r = Model.GroupBy(x => x.Date.Year).Select(x => x.First());
        }
        @if (r == null || r.Count() == 0)
        {
            <option value="@DateTime.Now.Year">@DateTime.Now.Year</option>
        }
        else
        {
            foreach (var item in r)
            {
                <option value="@item.Date.Year">@item.Date.Year</option>
            }
        }
    </select>

    <select class="HQTuaisxjrtQHPq" id="JFUPeUjXoygHiiK" onchange="drmZhscxvPoxiya()"> <!--Tydzień-->

    </select>

    <span class="settings_span">Grafik dla działu:</span>
    <div style="height: 5px;"></div>
    <select class="HQTuaisxjrtQHPq" id="kRyEzzxRxADfSZj" onchange="arKOctcZVJhWuhL()">
        @foreach (var item in ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name))
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>

    <span class="settings_span">Zadania:</span>
    <div style="height: 5px;"></div>
    @if (((IEnumerable<TaskName2>)ViewBag.TaskNames).Count() == 0)
    {
        <div class="pyyxmssXgPCWuUc" onclick="kJYIwPwacgrxdrX()">
            <span>Dodaj nowe zadanie</span>
        </div>
    }
    else
    {
        <div class="CMwsOZudhBlDtQi">
            @foreach (var item in ((IEnumerable<TaskName2>)ViewBag.TaskNames).OrderBy(x => x.DepartmentID))
            {
                <div class="YgYDRNgkzyxgztO" id2="@item.Id" id="@item.DepartmentID" style="display: none;">
                    <svg class="EpPTURkmdIzOSnq" id2="@item.Id" viewBox="0 0 20 20" height="20" width="20"><path d="M2.5 8C1.94772 8 1.5 7.55228 1.5 7C1.5 6.44772 1.94772 6 2.5 6H17.5C18.0523 6 18.5 6.44772 18.5 7C18.5 7.55228 18.0523 8 17.5 8H2.5Z" /><path d="M2.5 11.25C1.94772 11.25 1.5 10.8023 1.5 10.25C1.5 9.69772 1.94772 9.25 2.5 9.25H17.5C18.0523 9.25 18.5 9.69772 18.5 10.25C18.5 10.8023 18.0523 11.25 17.5 11.25H2.5Z" /><path d="M2.5 14.5C1.94772 14.5 1.5 14.0523 1.5 13.5C1.5 12.9477 1.94772 12.5 2.5 12.5H17.5C18.0523 12.5 18.5 12.9477 18.5 13.5C18.5 14.0523 18.0523 14.5 17.5 14.5H2.5Z" /></svg>
                    <div class="uESYaZNLlshNOzd">
                        <span>@item.Name</span>
                        <a onclick="ydcXSyYYSvQPggQ(this)" gwyIDEzPzXYjfLE="@item.Id" kCKFvozEWxUVxxp="@item.Name" iuCJIrClUqpPWfy="@item.DepartmentID" title="Edytuj"><svg viewBox="0 0 512 512" height="12" width="12"><path class="st0" d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z" /><polygon class="st0" points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	" /></svg></a>
                        <a onclick="pXwvhczxXMKKzWB(this)" WYxbaolkBNcDokP="@item.Id" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="12" width="12"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                    </div>
                </div>
            }
            <div class="pyyxmssXgPCWuUc" onclick="kJYIwPwacgrxdrX()">
                <span>Dodaj nowe zadanie</span>
            </div>
        </div>
    }
</div>

<div class="user">
    <a href="#" class="userFirstA" title="Edytuj awatar">
        <svg viewBox="0 0 512 512" width="48" height="48">
            <path d="M213.333333,3.55271368e-14 C269.912851,3.55271368e-14 324.175019,22.4761259 364.18278,62.4838867 C404.190541,102.491647 426.666667,156.753816 426.666667,213.333333 C426.666667,331.15408 331.15408,426.666667 213.333333,426.666667 C95.5125867,426.666667 2.84217094e-14,331.15408 2.84217094e-14,213.333333 C2.84217094e-14,95.5125867 95.5125867,3.55271368e-14 213.333333,3.55271368e-14 Z M234.666667,234.666667 L192,234.666667 C139.18529,234.666667 93.8415802,266.653822 74.285337,312.314895 C105.229171,355.70638 155.977088,384 213.333333,384 C270.689579,384 321.437496,355.70638 352.381644,312.31198 C332.825087,266.653822 287.481377,234.666667 234.666667,234.666667 L234.666667,234.666667 Z M213.333333,64 C177.987109,64 149.333333,92.653776 149.333333,128 C149.333333,163.346224 177.987109,192 213.333333,192 C248.679557,192 277.333333,163.346224 277.333333,128 C277.333333,92.653776 248.679557,64 213.333333,64 Z"></path>
        </svg>
    </a>
    <div class="userDiv">
        <a>@User.Identity?.Name?.Split('@')[0]</a>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia konta</a>
    </div>
    <form class="logOut" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <input type="submit" value="" id="logOutClick" />
        <button type="button" title="Wyloguj" onclick="logOut()">
            <svg viewBox="-2 0 19 19" width="37" height="37">
                <path d="M7.498 17.1a7.128 7.128 0 0 1-.98-.068 7.455 7.455 0 0 1-1.795-.483 7.26 7.26 0 0 1-3.028-2.332A7.188 7.188 0 0 1 .73 12.52a7.304 7.304 0 0 1 .972-7.128 7.221 7.221 0 0 1 1.387-1.385 1.03 1.03 0 0 1 1.247 1.638 5.176 5.176 0 0 0-.993.989 5.313 5.313 0 0 0-.678 1.181 5.23 5.23 0 0 0-.348 1.292 5.22 5.22 0 0 0 .326 2.653 5.139 5.139 0 0 0 .69 1.212 5.205 5.205 0 0 0 .992.996 5.257 5.257 0 0 0 1.178.677 5.37 5.37 0 0 0 1.297.35 5.075 5.075 0 0 0 1.332.008 5.406 5.406 0 0 0 1.32-.343 5.289 5.289 0 0 0 2.211-1.682 5.18 5.18 0 0 0 1.02-2.465 5.2 5.2 0 0 0 .01-1.336 5.315 5.315 0 0 0-.343-1.318 5.195 5.195 0 0 0-.695-1.222 5.134 5.134 0 0 0-.987-.989 1.03 1.03 0 1 1 1.24-1.643 7.186 7.186 0 0 1 1.384 1.386 7.259 7.259 0 0 1 .97 1.706 7.413 7.413 0 0 1 .473 1.827 7.296 7.296 0 0 1-4.522 7.65 7.476 7.476 0 0 1-1.825.471 7.203 7.203 0 0 1-.89.056zM7.5 9.613a1.03 1.03 0 0 1-1.03-1.029V2.522a1.03 1.03 0 0 1 2.06 0v6.062a1.03 1.03 0 0 1-1.03 1.03z"></path>
            </svg>
        </button>
    </form>
</div>

<script type="text/javascript">
    if (sessionStorage.getItem('qweznPAaXCMlTFi') != null)
    {
        let qweznPAaXCMlTFi = sessionStorage.getItem('qweznPAaXCMlTFi');

        let e = document.getElementById('kRyEzzxRxADfSZj');
        e.value = qweznPAaXCMlTFi;
    }

    {
        let date = new Date();

        //let weeks = getWeekNumber(date);
        //let weeks_year = weeksInYear(date.getFullYear());

        let uKdvKAhOhYwppOO = document.getElementById('uKdvKAhOhYwppOO');// rok

        let JFUPeUjXoygHiiK = document.getElementById('JFUPeUjXoygHiiK');// tydzien
        let year_ = date.getFullYear();
        let month_ = date.getMonth() + 1;
        let day_ = date.getDate();

        $.ajax({
            type: 'GET',
            url: '/Tasks/WeeksInYear',
            data: {
                year: year_,
                month: month_,
                day: day_
            },
            success: function (response)
            {
                for (const [key, value] of Object.entries(response))
                {
                    if (key == 'weeks')
                    {
                        for (let i = 1; i <= value; i++)
                        {
                            JFUPeUjXoygHiiK.innerHTML += `<option value="` + i + `">` + i + ` tydzień</option>`;
                        }
                    }
                    if (key == 'currentWeek')
                    {
                        let newValue = value + 1;
                        JFUPeUjXoygHiiK.value = newValue; //nastepny tydzien

                        $.ajax({
                            type: 'GET',
                            url: '/Tasks/FirstDayOfWeek',
                            data: {
                                y: year_,
                                weekofyear: newValue
                            },
                            success: function (response2) {
                                console.log(response2);
                            },
                            error: function (xhr2, status2, error2) {
                                console.log('Error getting data:', error2);
                            }
                        });


                    }
                }

            },
            error: function (xhr, status, error)
            {
                console.log('Error getting data:', error);
            }
        });
    }








    function kJYIwPwacgrxdrX()
    {
        let e = document.getElementById('kRyEzzxRxADfSZj');
        let e2 = e.options[e.selectedIndex].value;
        let f = document.getElementById('hdfoDuUOBPpvhSl');
        f.value = e2;


        let a = document.getElementById('hJQarhdVtvVBOnk');
        $(a).fadeIn(200);
    };

    function ydcXSyYYSvQPggQ(t)
    {
        let gwyIDEzPzXYjfLE = sessionStorage.setItem('gwyIDEzPzXYjfLE', t.getAttribute('gwyIDEzPzXYjfLE'));
        document.getElementById('gPLPpoufGitmRJK').value = t.getAttribute('kCKFvozEWxUVxxp');

        let iuCJIrClUqpPWfy = t.getAttribute('iuCJIrClUqpPWfy');
        let rFaJKmZDlbnwiBP = document.getElementById('rFaJKmZDlbnwiBP');

        if (iuCJIrClUqpPWfy == 0)
        {
            rFaJKmZDlbnwiBP.value = 'Wszyscy';
        }
        else
        {
            rFaJKmZDlbnwiBP.value = iuCJIrClUqpPWfy;
        }


        let a = document.getElementById('HrjQZZqwQjnGRuC');
        $(a).fadeIn(200);
    };

    function arKOctcZVJhWuhL()
    {
        let e = document.getElementById('kRyEzzxRxADfSZj');
        let e2 = e.options[e.selectedIndex].value;
        sessionStorage.setItem('qweznPAaXCMlTFi', e2);

        let array = document.querySelectorAll('.YgYDRNgkzyxgztO');
        for (let i = 0; i < array.length; i++)
        {
            if (array[i].id == e2 || array[i].id == 0)
            {
                $(array[i]).show();
            }
            else
            {
                $(array[i]).hide();
            }
        }

        let wcHMgjWjXaRMPKy = document.querySelectorAll('.wcHMgjWjXaRMPKy');
        for (let i = 0; i < wcHMgjWjXaRMPKy.length; i++)
        {
            if (wcHMgjWjXaRMPKy[i].id == e2)
            {
                $(wcHMgjWjXaRMPKy[i]).show();
            }
            else
            {
                $(wcHMgjWjXaRMPKy[i]).hide();
            }
        }
    };
    //arKOctcZVJhWuhL();
    //-script is running in site.js






    let EpPTURkmdIzOSnq = document.querySelectorAll('.EpPTURkmdIzOSnq');
    for (let i = 0; i < EpPTURkmdIzOSnq.length; i++)
    {
        let id_ = EpPTURkmdIzOSnq[i].getAttribute('id2');
        EpPTURkmdIzOSnq[i].addEventListener('mousedown', function ()
        {

            let user = document.querySelector('.user');
            let YgYDRNgkzyxgztO = document.querySelectorAll('.YgYDRNgkzyxgztO');

            for (let j = 0; j < YgYDRNgkzyxgztO.length; j++)
            {
                let id__ = YgYDRNgkzyxgztO[j].getAttribute('id2');
                if (id_ == id__)
                {
                    EpPTURkmdIzOSnq[i].style.cursor = 'grabbing';

                    $(YgYDRNgkzyxgztO[j]).draggable({
                        handle: EpPTURkmdIzOSnq[i],
                        snap: '.test',
                        snapMode: 'inner',
                        appendTo: 'body',
                        scroll: false,
                        helper: 'clone',
                        start: function (event, ui)
                        {
                            $(ui.helper).css('width', `${$(event.target).width()}px`);
                            @*$(ui.helper).css('width', `${$(event.target).width()}` - 24);*@
                            $($(ui.helper).children('div').find('a')[0]).css('display', 'none');
                            $($(ui.helper).children('div').find('a')[1]).css('display', 'none');
                        }
                    });

                    $('.test').droppable({
                        accept: YgYDRNgkzyxgztO[j],
                        drop: function (event, ui)
                        {
                            //$(this).append($(ui.helper).clone());
                            var item = ui.draggable;
                            var newItem = item.clone();
                            newItem.appendTo($(this))
                                .draggable({
                                    handle: $(this).not(".ui-resizable-handle"),
                                    containment: $(".droppable")
                                });
                            newItem.resizable({
                                ghost: false
                            });
                                
                            $($(newItem).children('div').find('a')).remove();
                            for(let x = 0; x < 3; x++){
                                $($(newItem).children('div')[1]).remove();
                            }
                            
                            $(newItem).children('svg').css('cursor', 'grab');
                        },
                        drag: function ()
                        {
                            var offset = $(this).offset();
                            var xPos = offset.left;
                            var yPos = offset.top;
                        }
                    });
                }

                    
            }

            document.addEventListener('mouseup', function ()
            {
                for (let j = 0; j < YgYDRNgkzyxgztO.length; j++)
                {
                    EpPTURkmdIzOSnq[i].style.removeProperty('cursor');

                }
            });
        });
    }







    function rURQfWmsrmzXwCV()
    {
        let e = document.getElementById('hJQarhdVtvVBOnk');
        $(e).fadeOut(200);
    };

    function wNvCTiOzGLwtsaX()
    {
        let e = document.getElementById('HrjQZZqwQjnGRuC');
        $(e).fadeOut(200);
    };

    function zGWGBXreWGtGNcS()
    {
        let name_ = document.getElementById('IluduaIgOUVOGRf').value;
        let e = document.getElementById('hdfoDuUOBPpvhSl');
        let id_ = e.options[e.selectedIndex].value;

        $.ajax({
            type: 'POST',
            url: '/TaskName2/AddTask',
            data: {
                name: name_,
                departmentID: id_
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error adding data:', error);
            }
        });
    };

    function CaomIrxdWJchcOk()
    {
        let id_ = sessionStorage.getItem('gwyIDEzPzXYjfLE');
        let name_ = document.getElementById('gPLPpoufGitmRJK').value;
        let department_ = document.getElementById('rFaJKmZDlbnwiBP');
        let department__ = department_.options[department_.selectedIndex].value;

        $.ajax({
            type: 'POST',
            url: '/TaskName2/EditTask',
            data: {
                id: id_,
                name: name_,
                departmentID: department__
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error updating data:', error);
            }
        });
    };

    function pXwvhczxXMKKzWB(t)
    {
        let id_ = t.getAttribute('WYxbaolkBNcDokP');

        $.ajax({
            type: 'POST',
            url: '/TaskName2/RemoveTask',
            data: {
                id: id_,
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error removing data:', error);
            }
        });
    };



        //function getWeekNumber(d)
        //{
        //    d = new Date(+d);
        //    d.setHours(0, 0, 0, 0);
        //    d.setDate(d.getDate() + 4 - (d.getDay() || 7));
        //    var yearStart = new Date(d.getFullYear(), 0, 1);
        //    var weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);
        //    return [d.getFullYear(), weekNo];
        //}

        //function weeksInYear(year)
        //{
        //    var d = new Date(year, 11, 31);
        //    var week = getWeekNumber(d)[1];
        //    return week == 1 ? 52 : week;
        //}
</script>