@model TimeTask.Models.Opening

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opening</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOpening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOpening)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
