@model IEnumerable<TimeTask.Models.Holiday>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
    var culture = new System.Globalization.CultureInfo("pl-PL");
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                @if(Model != null){
                    var r = Model.GroupBy(x => x.Date.Year).Select(x => x.First()).OrderBy(x => x.Date);
                    foreach (var item in r)
                    {
                        <input class="kzQkCNWOiUhJxRl" value="@item.Date.Year" type="radio" name="year" id="@item.Id" onclick="bxDzoLwDZzickPI(this)" hidden />
                        <label class="oZBtnmiLrunDFMC" for="@item.Id">@item.Date.Year</label>
                    }
                }
            </div>

            <div class="IVnxgCORpPYL" onclick="fwsxYepQKkCq()">
                <span>Nowe święto</span>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            @if (Model != null)
            {
                <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Nazwa</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OrderBy(x => x.Date))
                    {
                        <tr class="EmRSNqsShbDnTsE fQOipKjlgeboVkZ" style="display: none;" id="@item.Date.Year">
                            <td id="@item.Date.Year">@item.Date.ToString("yyyy-MM-dd") (@culture.DateTimeFormat.GetDayName(item.Date.DayOfWeek))</td>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="EYwnRBQDFEHjzsN(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Edytuj">
                                    <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                                </a>
                                <a onclick="hFUdwiFlMmxASVH(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Usuń">
                                    <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </section>
</div>

<script type="text/javascript" src="~/js/sorttable.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/HolidaySettings.js"></script>