@model IEnumerable<TimeTask.Models.Holiday>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
    var culture = new System.Globalization.CultureInfo("pl-PL");
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                @if(Model != null){
                    var r = Model.GroupBy(x => x.Date.Year).Select(x => x.First()).OrderBy(x => x.Date);
                    foreach (var item in r)
                    {
                        <input class="kzQkCNWOiUhJxRl" value="@item.Date.Year" type="radio" name="year" id="@item.Id" onclick="bxDzoLwDZzickPI(this)" hidden />
                        <label class="oZBtnmiLrunDFMC" for="@item.Id">@item.Date.Year</label>
                    }
                }
            </div>

            <div class="IVnxgCORpPYL" onclick="fwsxYepQKkCq()">
                <span>Nowe święto</span>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            @if (Model != null)
            {
                <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Nazwa</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OrderBy(x => x.Date))
                    {
                        <tr class="EmRSNqsShbDnTsE fQOipKjlgeboVkZ" style="display: none;" id="@item.Date.Year">
                            <td id="@item.Date.Year">@item.Date.ToString("yyyy-MM-dd") (@culture.DateTimeFormat.GetDayName(item.Date.DayOfWeek))</td>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="EYwnRBQDFEHjzsN(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Edytuj">
                                    <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                                </a>
                                <a onclick="hFUdwiFlMmxASVH(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Usuń">
                                    <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </section>
</div>
<div id="GpoavnFwAOos" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa święta..." id="oVxJeHhcExMV" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" type="date" id="IyWRFThVHhEX" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="BmJPiKFdcncS()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EjaqSVIBTCAu()" />
        </div>
    </form>
</div>
<div id="HnwuRhmRcJCZacg" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa święta..." id="WjuzdnDpZbVVtTO" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" type="date" id="osABhxQjWaMpiQP" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="lwuUErBiOwfxbau()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="suSTEPirxzisDIq()" />
        </div>
    </form>
</div>
<div id="YiAVCpnVzhDnOsL" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
        <div class="IvBtEDulLESDYxK">
            <span id="ewZOdyapfFtPtMi"></span>
            <span id="nZDLxLTZwFzAFCY"></span>
        </div>
        <div class="btn-danger-div" id="FamcDfiHIvhi">
            <input type="button" value="Usuń" id="XSkMvvmEXCee" onclick="dDlRcSCJZAuO()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/sorttable.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

<script type="text/javascript">

var tables = document.getElementsByTagName('table');
for (var i=0; i<tables.length;i++){
 resizableGrid(tables[i]);
}

function resizableGrid(table) {
 var row = table.getElementsByTagName('tr')[0],
 cols = row ? row.children : undefined;
 if (!cols) return;
 
 table.style.overflow = 'hidden';
 
 var tableHeight = table.offsetHeight;
 
 for (var i=0;i<cols.length-2;i++){
  var div = createDiv(tableHeight);
  cols[i].appendChild(div);
  cols[i].style.position = 'relative';
  setListeners(div);
 }

 function setListeners(div){
  var pageX,curCol,nxtCol,curColWidth,nxtColWidth;

  div.addEventListener('mousedown', function (e) {
   curCol = e.target.parentElement;
   nxtCol = curCol.nextElementSibling;
   pageX = e.pageX; 
 
   var padding = paddingDiff(curCol);
 
   curColWidth = curCol.offsetWidth - padding;
   if (nxtCol)
    nxtColWidth = nxtCol.offsetWidth - padding;
  });

  document.addEventListener('mousemove', function (e) {
   if (curCol) {
    var diffX = e.pageX - pageX;
 
    if (nxtCol)
     nxtCol.style.width = (nxtColWidth - (diffX))+'px';

    curCol.style.width = (curColWidth + diffX)+'px';
   }
  });

  document.addEventListener('mouseup', function (e) { 
   curCol = undefined;
   nxtCol = undefined;
   pageX = undefined;
   nxtColWidth = undefined;
   curColWidth = undefined
  });
 }
 
 function createDiv(height){
  var div = document.createElement('div');
  div.style.top = 0;
  div.style.right = 0;
  div.style.width = '23px';
  div.style.zIndex = '1';
  div.style.position = 'absolute';
  div.style.cursor = 'col-resize';
  div.style.userSelect = 'none';
  div.style.height = '52px';

  div.style.transform = 'translatex(10px)';
  div.innerHTML += `<i class="arrow left"></i> <div class="lines line1"></div> <div class="lines line2"></div> <i class="arrow right"></i>`;//<div class="lines line1"></div> <div class="lines line2"></div>
  div.setAttribute('id', 'GRgYMQCkHWKDuyb');
  div.setAttribute('onmouseover', 'ZKHOrDgJBDHOpmW(this)');
  div.setAttribute('onmouseout', 'pNxCxvPIUtCbSHM(this)');
  div.setAttribute('onclick', 'kEDVBzpHnAzOqpp(this, event)');

  return div;
 }

 function paddingDiff(col){
 
  if (getStyleVal(col,'box-sizing') == 'border-box'){
   return 0;
  }
 
  var padLeft = getStyleVal(col,'padding-left');
  var padRight = getStyleVal(col,'padding-right');
  return (parseInt(padLeft) + parseInt(padRight));

 }

 function getStyleVal(elm,css){
  return (window.getComputedStyle(elm, null).getPropertyValue(css))
 }
};



function kEDVBzpHnAzOqpp(t, e){
    e.stopPropagation();
};

function ZKHOrDgJBDHOpmW(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().addClass('qDIGovQQrGkMAIm');
    }   
};

function pNxCxvPIUtCbSHM(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().removeClass('qDIGovQQrGkMAIm');
    } 
}

    let selected = document.getElementById('settings_holidays_id');
    selected.classList.add('settings_a_selected');


    //
    let nQlwxouxuRYzbeT = document.querySelectorAll('.ECTosDyufuTqvBV input');
    let dcxYcMhfumNSWHt = new Date().getFullYear();
    for (let i = 0; i < nQlwxouxuRYzbeT.length; i++)
    {
        if (nQlwxouxuRYzbeT[i].value == dcxYcMhfumNSWHt)
        {
            nQlwxouxuRYzbeT[i].checked = true;
        }
    }

    let fQOipKjlgeboVkZ = document.querySelectorAll('.fQOipKjlgeboVkZ');
    for (let i = 0; i < fQOipKjlgeboVkZ.length; i++)
    {
        if (fQOipKjlgeboVkZ[i].id == dcxYcMhfumNSWHt)
        {
            $(fQOipKjlgeboVkZ[i]).show();
        }
    }
    //

    function bxDzoLwDZzickPI(t) {
        t.checked = true;

        let fQOipKjlgeboVkZ = document.querySelectorAll('.fQOipKjlgeboVkZ');
        for (let i = 0; i < fQOipKjlgeboVkZ.length; i++)
        {
            if (fQOipKjlgeboVkZ[i].id == t.value)
            {
                $(fQOipKjlgeboVkZ[i]).show();
            }
            else {
                $(fQOipKjlgeboVkZ[i]).hide();
            }
        }
    };


    function EjaqSVIBTCAu() {
        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeOut(200);
    };

    function fwsxYepQKkCq() {
        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeIn(200);
    };

    function BmJPiKFdcncS() {
        let a = document.getElementById('oVxJeHhcExMV').value;
        let b = document.getElementById('IyWRFThVHhEX').value;

        $.ajax({
            type: 'POST',
            url: '/Holidays/AddHoliday',
            data: {
                name: a,
                date: b
            },
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log('Error adding data:', error);
            }
        });
    };

    function EYwnRBQDFEHjzsN(t) {
        sessionStorage.setItem('gFiXwoYVuxBrQrm', t.id);
        let name_ = t.getAttribute('name');
        let date_ = t.getAttribute('date');
        document.getElementById('WjuzdnDpZbVVtTO').value = name_;
        document.getElementById('osABhxQjWaMpiQP').value = date_;


        $('#HnwuRhmRcJCZacg').fadeIn(200);
    };

    function suSTEPirxzisDIq() {
        $('#HnwuRhmRcJCZacg').fadeOut(200);
    };

    function lwuUErBiOwfxbau() {
        let id_ = sessionStorage.getItem('gFiXwoYVuxBrQrm');
        let a = document.getElementById('WjuzdnDpZbVVtTO').value;
        let b = document.getElementById('osABhxQjWaMpiQP').value;

        $.ajax({
            type: 'POST',
            url: '/Holidays/EditHoliday',
            data: {
                id: id_,
                name: a,
                date: b
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error updating data:', error);
            }
        });
    };

    function hFUdwiFlMmxASVH(t) {
        sessionStorage.setItem('VBDsuugVdfnalOZ', t.id);
        document.getElementById('ewZOdyapfFtPtMi').innerHTML = t.getAttribute('name');
        document.getElementById('nZDLxLTZwFzAFCY').innerHTML = t.getAttribute('date');

        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeIn(200);
    };

    function UOspQSjpbVdS() {
        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeOut(200);
    };

    function dDlRcSCJZAuO() {
        let id_ = sessionStorage.getItem('VBDsuugVdfnalOZ');
        
        $.ajax({
            type: 'POST',
            url: '/Holidays/RemoveHoliday',
            data: {
                id: id_
            },
            success: function(response) {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error deleting data:', error);
            }
        });
    };
</script>

