@model IEnumerable<TimeTask.Models.Holiday>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">

            <div class="ECTosDyufuTqvBV">
                @if(Model != null){
                    var r = Model.GroupBy(x => x.Date.Year).Select(x => x.First());
                    foreach (var item in r)
                    {
                        <input class="kzQkCNWOiUhJxRl" value="@item.Date.Year" type="radio" name="year" id="@item.Id" onclick="bxDzoLwDZzickPI(this)" hidden />
                        <label class="oZBtnmiLrunDFMC" for="@item.Id">@item.Date.Year</label>
                    }
                }
            </div>

            <div class="IVnxgCORpPYL" onclick="fwsxYepQKkCq()">
                <span>Nowe święto</span>
@*                <svg viewBox="0 0 16 16" width="20" height="20"><path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path></svg>
*@            </div>
        </div>

        <div class="YUPrikbkYzkc">
            @if (Model != null)
            {
                <table class="VUXahzbNUTWtiZa" id="tableId">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Nazwa</th>
                            <th>Opcje</th>
                            <!--text-align: right; padding-right: 20px; width: 100px;-->
                        </tr>
                    </thead>
                    @foreach (var item in Model.OrderBy(x => x.Date))
                    {
                        <tr class="EmRSNqsShbDnTsE fQOipKjlgeboVkZ" style="display: none;" id="@item.Date.Year">
                            <td id="@item.Date.Year">@item.Date.ToShortDateString()</td>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="EYwnRBQDFEHjzsN(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Edytuj"><svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>
                                <a onclick="hFUdwiFlMmxASVH(this)" id="@item.Id" name="@item.Name" date="@item.Date.ToString("yyyy-MM-dd")" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="16" width="16"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                            </td>
                            <!--text-align: right; padding-right: 20px; width: 100px;-->
                        </tr>
                    }
                </table>


            }
        </div>

    </section>
</div>
<div id="GpoavnFwAOos" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa święta..." id="oVxJeHhcExMV" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" type="date" id="IyWRFThVHhEX" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="BmJPiKFdcncS()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EjaqSVIBTCAu()" />
        </div>
    </form>
</div>
<div id="HnwuRhmRcJCZacg" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa święta..." id="WjuzdnDpZbVVtTO" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" type="date" id="osABhxQjWaMpiQP" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="lwuUErBiOwfxbau()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="suSTEPirxzisDIq()" />
        </div>
    </form>
</div>
<div id="YiAVCpnVzhDnOsL" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
        <div class="IvBtEDulLESDYxK">
            <span id="ewZOdyapfFtPtMi"></span>
            <span id="nZDLxLTZwFzAFCY"></span>
        </div>
        <div class="btn-danger-div" id="FamcDfiHIvhi">
            <input type="button" value="Usuń" id="XSkMvvmEXCee" onclick="dDlRcSCJZAuO()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>


<script type="text/javascript">

var tables = document.getElementsByTagName('table');
for (var i=0; i<tables.length;i++){
 resizableGrid(tables[i]);
}

function resizableGrid(table) {
 var row = table.getElementsByTagName('tr')[0],
 cols = row ? row.children : undefined;
 if (!cols) return;
 
 table.style.overflow = 'hidden';
 
 var tableHeight = table.offsetHeight;
 
 for (var i=0;i<cols.length - 2;i++){
  var div = createDiv(tableHeight);
  cols[i].appendChild(div);
  cols[i].style.position = 'relative';
  setListeners(div);
 }


 function setListeners(div){
  var pageX,curCol,nxtCol,curColWidth,nxtColWidth;

  div.addEventListener('mousedown', function (e) {
   curCol = e.target.parentElement;
   nxtCol = curCol.nextElementSibling;
   pageX = e.pageX; 
 
   var padding = paddingDiff(curCol);
 
   curColWidth = curCol.offsetWidth - padding;
   if (nxtCol)
    nxtColWidth = nxtCol.offsetWidth - padding;
  });

  div.addEventListener('mouseover', function (e) {
   e.target.style.borderRight = '4px double rgb(150, 150, 150)';
  })

  div.addEventListener('mouseout', function (e) {
   e.target.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';
  })

  document.addEventListener('mousemove', function (e) {
   if (curCol) {
    var diffX = e.pageX - pageX;
 
    if (nxtCol)
     nxtCol.style.width = (nxtColWidth - (diffX))+'px';

    curCol.style.width = (curColWidth + diffX)+'px';
   }
  });

  document.addEventListener('mouseup', function (e) { 
   curCol = undefined;
   nxtCol = undefined;
   pageX = undefined;
   nxtColWidth = undefined;
   curColWidth = undefined
  });
 }
 
 function createDiv(height){
  var div = document.createElement('div');
  div.style.top = 0;
  div.style.right = 0;
  div.style.width = '4px';
  div.style.position = 'absolute';
  div.style.cursor = 'col-resize';
  div.style.userSelect = 'none';
  @*div.style.height = height + 'px';*@
  div.style.height = '52px';
  div.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';
  @*div.style.transform = 'translateX(2px)';*@
  div.innerHTML += `<i class="arrow left"></i><i class="arrow right"></i>`;

  return div;
 }
 
 function paddingDiff(col){
 
  if (getStyleVal(col,'box-sizing') == 'border-box'){
   return 0;
  }
 
  var padLeft = getStyleVal(col,'padding-left');
  var padRight = getStyleVal(col,'padding-right');
  return (parseInt(padLeft) + parseInt(padRight));

 }

 function getStyleVal(elm,css){
  return (window.getComputedStyle(elm, null).getPropertyValue(css))
 }
};




    //var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Public_Holidays));
    //console.log(model_h);

    let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[5];
    selected.classList.add('settings_a_selected');


    //
    let nQlwxouxuRYzbeT = document.querySelectorAll('.ECTosDyufuTqvBV input');
    let dcxYcMhfumNSWHt = new Date().getFullYear();
    for (let i = 0; i < nQlwxouxuRYzbeT.length; i++)
    {
        if (nQlwxouxuRYzbeT[i].value == dcxYcMhfumNSWHt)
        {
            nQlwxouxuRYzbeT[i].checked = true;
        }
    }

    let fQOipKjlgeboVkZ = document.querySelectorAll('.fQOipKjlgeboVkZ');
    for (let i = 0; i < fQOipKjlgeboVkZ.length; i++)
    {
        if (fQOipKjlgeboVkZ[i].id == dcxYcMhfumNSWHt)
        {
            $(fQOipKjlgeboVkZ[i]).show();
        }
    }
    //

    function bxDzoLwDZzickPI(t) {
        t.checked = true;

        let fQOipKjlgeboVkZ = document.querySelectorAll('.fQOipKjlgeboVkZ');
        for (let i = 0; i < fQOipKjlgeboVkZ.length; i++)
        {
            if (fQOipKjlgeboVkZ[i].id == t.value)
            {
                $(fQOipKjlgeboVkZ[i]).show();
            }
            else {
                $(fQOipKjlgeboVkZ[i]).hide();
            }
        }
    };


    function EjaqSVIBTCAu() {
        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeOut(200);
    };

    function fwsxYepQKkCq() {
        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeIn(200);
    };

    function BmJPiKFdcncS() {
        let a = document.getElementById('oVxJeHhcExMV').value;
        let b = document.getElementById('IyWRFThVHhEX').value;

        $.ajax({
            type: 'POST',
            url: '/Holidays/AddHoliday',
            data: {
                name: a,
                date: b
            },
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log('Error adding data:', error);
            }
        });
    };

    function EYwnRBQDFEHjzsN(t) {
        sessionStorage.setItem('gFiXwoYVuxBrQrm', t.id);
        let name_ = t.getAttribute('name');
        let date_ = t.getAttribute('date');
        document.getElementById('WjuzdnDpZbVVtTO').value = name_;
        document.getElementById('osABhxQjWaMpiQP').value = date_;


        $('#HnwuRhmRcJCZacg').fadeIn(200);
    };

    function suSTEPirxzisDIq() {
        $('#HnwuRhmRcJCZacg').fadeOut(200);
    };

    function lwuUErBiOwfxbau() {
        let id_ = sessionStorage.getItem('gFiXwoYVuxBrQrm');
        let a = document.getElementById('WjuzdnDpZbVVtTO').value;
        let b = document.getElementById('osABhxQjWaMpiQP').value;

        $.ajax({
            type: 'POST',
            url: '/Holidays/EditHoliday',
            data: {
                id: id_,
                name: a,
                date: b
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error updating data:', error);
            }
        });
    };

    function hFUdwiFlMmxASVH(t) {
        sessionStorage.setItem('VBDsuugVdfnalOZ', t.id);
        document.getElementById('ewZOdyapfFtPtMi').innerHTML = t.getAttribute('name');
        document.getElementById('nZDLxLTZwFzAFCY').innerHTML = t.getAttribute('date');

        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeIn(200);
    };

    function UOspQSjpbVdS() {
        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeOut(200);
    };

    function dDlRcSCJZAuO() {
        let id_ = sessionStorage.getItem('VBDsuugVdfnalOZ');
        
        $.ajax({
            type: 'POST',
            url: '/Holidays/RemoveHoliday',
            data: {
                id: id_
            },
            success: function(response) {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error deleting data:', error);
            }
        });
    };




</script>