@model IEnumerable<TimeTask.Models.MainSettings>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        <!--Ustawienia wizualne-->
        <div class="YavvRCMQscelhIs">
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" checked id="TTMVSxbkjvHXBjL" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Zaokrąglone rogi okienek</span>
            </div>
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="SWsLyZvwqDpSdQO" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Odwróć kolor czcionki</span>
                
                
                <label class="msdgExEZCpefgcL">
                    <span id="zaOUenxMdmwGCGR" class="hFzZLqJdsEqdlrx_">Wybierz kolor</span>
                    <input type="color" class="inputColor" />
                </label>
                <span id="HfWCJVSWcwekwai" class="hFzZLqJdsEqdlrx__" style="display: none;">Resetuj kolor</span>
            </div>


        </div>
        
        
        <!---->


    </section>
</div>

<script type="text/javascript">
    //let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[4];
    //selected.classList.add('settings_a_selected');
    let selected = document.getElementById('settings_sett_over_id');
    selected.classList.add('settings_a_selected');
</script>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/MainSettings.js"></script>


