@model IEnumerable<TimeTask.Models.MainSettings>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        <!--Ustawienia wizualne-->
        <div class="YavvRCMQscelhIs riqhWBvtFoKacNt">

            <!--Włącz tapetę aplikacji-->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" checked id="nLzkASTGLjvGiSi" onchange="nLzkASTGLjvGiSi_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Włącz tapetę aplikacji</span>

                <label class="msdgExEZCpefgcL">
                    <a class="hFzZLqJdsEqdlrx_" href="@Url.Action("Index", "Wallpaper2")">Wybierz / Dodaj tapetę</a>
                </label>
            </div>

            <!--Mniejszy pasek nawigacyjny-->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="hQJwclGLiNLiRrQ" onchange="hQJwclGLiNLiRrQ_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Mniejszy pasek nawigacyjny</span>
            </div>

            <!--Odwróć kolor czcionki-->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="SWsLyZvwqDpSdQO" onchange="SWsLyZvwqDpSdQO_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Niestandardowy kolor czcionki</span>

                <label class="msdgExEZCpefgcL msdgExEZCpefgcL_disabled">
                    <a id="zaOUenxMdmwGCGR" class="hFzZLqJdsEqdlrx_">Wybierz kolor</a>
                    <input type="color" class="inputColor" value="#ffffff" />
                </label>
                <span id="HfWCJVSWcwekwai" class="hFzZLqJdsEqdlrx__" style="display: none;">Resetuj kolor</span>
            </div>

            <!--Zaokrąglone rogi okienek-->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" checked id="TTMVSxbkjvHXBjL" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Zaokrąglone rogi okienek</span>
            </div>

            



        </div>
        <!---->


    </section>
</div>

<script type="text/javascript">
    let selected = document.getElementById('settings_sett_over_id');
    selected.classList.add('settings_a_selected');
</script>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/MainSettings.js"></script>


