@model IEnumerable<TimeTask.Models.Workers2>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">

        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">

            </div>

            <div class="IVnxgCORpPYL" onclick="YENAVVQWwo()">
                <span>Nowy pracownik</span>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            @if (Model != null)
            {
                <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                    <thead>
                        <tr>
                            <th style="width: 100px;">ID</th>
                            <th style="width: 50%;">Nazwisko</th>
                            <th>Imię</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OrderBy(x => x.Surname))
                    {
                        <tr class="EmRSNqsShbDnTsE" id="@item.DepartmentID">
                            <td>@item.Id</td>
                            <td>@item.Surname</td>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="IxsCvPIuWwZw(this)" title="Edytuj">
                                    @* <svg viewBox="0 0 512 512" height="20" width="20"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg> *@
                                    <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                                </a>
                                <a onclick="deleteWorker(this)" title="Usuń">
                                    @* <svg viewBox="0 0 469.404 469.404" height="20" width="20"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg> *@
                                    <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            }



        </div>

    </section>
</div>

<div id="QmRrlOQPQW" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="imię pracownika..." id="GVegODKbEh" />
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwisko pracownika..." id="toPdQnPuvH" />
        </div>
        <div class="form-group form-group-margin">
            <label>Wybierz dział:</label>
            <select class="form-control bYwPpsleuVCBkPv" id="OyRfwpeqzbeyVEW">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name))
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="TEqGSwRYnu()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EYVOxDPdHV()" />
        </div>
    </form>
</div>

<div id="XOrtKNkAwk" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwa działu..." id="svFbsOqCAR" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="GuDpHEcfHN()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="bmIRCNZNky()" />
        </div>
    </form>
</div>

<div id="uLTJNrstvNEQ" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwa działu..." id="coVYuzZVCFxh" />
        </div>
        <div class="form-group">
            <input type="button" value="Edytuj" class="btn-custom" onclick="KOdkyXQcUVJW()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="NlckkxcEbWXv()" />
        </div>
    </form>
</div>

<div id="PNujBEeIildr" class="pGKcZvErUB" style="display: none;">
    <form>
        <span id="JsFfTXmLOVbI" class="nknRtrdeAeIX">@Resource.ClickBelowToDelete @Resource.DepartmentLowecase.</span>
        <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="IWantToDeleteDepartment(this)" />
        <div class="btn-danger-div" id="bAWzKvvkmVmE">
            <input type="button" value="Tak" id="nditIlzCWflU" onclick="adqwBJykaCzQ()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<div id="jwOsncySQjwD" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="imię pracownika..." id="qxZnTneGdrVW" />
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwisko pracownika..." id="xEjLBIPqUXLK" />
        </div>
        <div class="form-group form-group-margin">
            <label>Wybierz dział:</label>
            <select class="form-control bYwPpsleuVCBkPv" id="ZRfCdgttdnOCfXF">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name))
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="KfdhlqmDXEsR()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="vQaAzODstzsu()" />
        </div>
    </form>
</div>

<div id="UwCmLRqIRSZM" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
        <span id="zwQBaubcYWcJ" class="nknRtrdeAeIX">@Resource.ClickBelowToDeleteWorker.</span>
        <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="dDlRcSCJZAuO(this)" />
        <div class="btn-danger-div" id="FamcDfiHIvhi">
            <input type="button" value="Tak" id="XSkMvvmEXCee" onclick="dDlRcSCJZAuO()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/sorttable.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

<script type="text/javascript">
    var model_w = @Html.Raw(JsonConvert.SerializeObject(Model));
    var model_d = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Department));

    //let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[1];
    //selected.classList.add('settings_a_selected');
    let selected = document.getElementById('settings_departs_workers_id');
    selected.classList.add('settings_a_selected');

    if(model_d.length == 0){
        $('#tableId').hide();
        $('.IVnxgCORpPYL').hide();
    }
    



    let ECTosDyufuTqvBV = document.querySelector('.ECTosDyufuTqvBV');
    ECTosDyufuTqvBV.innerHTML += `<input onclick="BqujyivUqK()" type="button" class="oZBtnmiLrunDFMC uyGcnHMadlagzhh" id="dWaFnMJPHpXnJhm" value="Nowy dział"/>`;
    sortArray(model_d);
    for(let i = 0; i < model_d.length; i++){
        ECTosDyufuTqvBV.innerHTML += `<input class="kzQkCNWOiUhJxRl" value="` + model_d[i].Name + `" type="radio" name="name" id="` + model_d[i].Id + `" onclick="bxDzoLwDZzickPI(this, event)" hidden />` +
            `<label class="oZBtnmiLrunDFMC" for="` + model_d[i].Id + `"><span>` + model_d[i].Name + `</span>` + // class + SqhCHzsNTMEsjQk
                `<i class="OxwaVAXXNsMtYHu JxeYECtwrfrUhgj" onclick="sNYSYigDKYrjjtq(this, event)" style="display: none;">` + 
                    `<svg viewBox="0 0 512 512" width="16" height="16">` + 
                        `<path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path>` +
                        `<polygon class="st0" points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751"/>` +
                    `</svg>` +
                `</i>` + 
                `<i class="OxwaVAXXNsMtYHu" onclick="bdoycBpPxFPywju(this, event)" style="display: none;">` + 
                    `<svg viewBox="0 0 469.404 469.404" width="16" height="16">` + 
                        `<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>` +
                    `</svg>` +
                `</i>` + 
            `</label>`;

    }
    //nieprzypisani
    let depCheck = [];
    var workersWithNoDepartment = [];
    for(let i = 0; i < model_d.length; i++){
        depCheck.push(model_d[i].Id);
    }
    for(let i = 0; i < model_w.length; i++){
        if(!depCheck.includes(model_w[i].DepartmentID)){
            workersWithNoDepartment.push({ id: model_w[i].Id, name: model_w[i].Name, surname: model_w[i].Surname, department: model_w[i].DepartmentID, employed: model_w[i].Employed });
        }
    }
    for(let i = 0; i < model_w.length; i++){
        if(!depCheck.includes(model_w[i].DepartmentID)){
            ECTosDyufuTqvBV.innerHTML += `<input class="kzQkCNWOiUhJxRl" type="radio" name="name" id="no_department" onclick="bxDzoLwDZzickPI(this, event)" hidden />` +
                `<label class="oZBtnmiLrunDFMC lMliDWsRdSOjYmB" for="no_department"><span>Nieprzypisani pracownicy</span></label>`;
            break;
        }
    }
    //
    //ECTosDyufuTqvBV.innerHTML += `<input onclick="BqujyivUqK()" type="button" class="oZBtnmiLrunDFMC uyGcnHMadlagzhh" id="dWaFnMJPHpXnJhm" value="Nowy dział"/>`;

    let kzQkCNWOiUhJxRl_array = document.querySelectorAll('.kzQkCNWOiUhJxRl');
    if (sessionStorage.getItem('qbMvtjjezfxSFsv') != null && sessionStorage.getItem('qbMvtjjezfxSFsv') != 'no_department')
    {
        for (let i = 0; i < kzQkCNWOiUhJxRl_array.length; i++)
        {
            if (kzQkCNWOiUhJxRl_array[i].id == sessionStorage.getItem('qbMvtjjezfxSFsv'))
            {
                $(kzQkCNWOiUhJxRl_array[i]).trigger('click');
            }
        }
    }
    else if(sessionStorage.getItem('qbMvtjjezfxSFsv') == 'no_department'){
        $(kzQkCNWOiUhJxRl_array[0]).trigger('click');
    }
    else
    {
        $(kzQkCNWOiUhJxRl_array[0]).trigger('click');
    }



    function bxDzoLwDZzickPI(t, e)
    {
        let arrayCheck = [];
        let id = t.id;
        let children = $(t).parent().children();
        let VUXahzbNUTWtiZa = document.querySelectorAll('.VUXahzbNUTWtiZa tbody tr');
        for (let i = 0; i < children.length; i++)
        {
            let for_ = $(children[i]).attr('for');
            if (id == for_ && children[i].tagName.toLowerCase() == 'label')
            {
                sessionStorage.setItem('qbMvtjjezfxSFsv', for_);

                let ECTosDyufuTqvBV = document.querySelector('.ECTosDyufuTqvBV');
                let element = children[i];
                element.scrollIntoView({
                    behavior: 'smooth',
                    //inline: 'start',
                    block: 'nearest'
                });



                $(children[i]).children().eq(1).show();
                $(children[i]).children().eq(2).show();
                //$(children[i]).children().eq(3).show();
                $(children[i]).addClass('SqhCHzsNTMEsjQk');
            }
            else if(id != for_){
                $(children[i]).children().eq(1).hide();
                $(children[i]).children().eq(2).hide();
                //$(children[i]).children().eq(3).hide();
                $(children[i]).removeClass('SqhCHzsNTMEsjQk');
            }
        }



        for (let j = 0; j < VUXahzbNUTWtiZa.length; j++)
        {
            let depID = VUXahzbNUTWtiZa[j].id;
            if (depID == id)
            {
                $(VUXahzbNUTWtiZa[j]).show();
                arrayCheck.push(depID);
            }
            else
            {
                $(VUXahzbNUTWtiZa[j]).hide();

                let id__ = $(VUXahzbNUTWtiZa[j]).children().eq(0).html();
                if(workersWithNoDepartment.length > 0){
                    for(let k = 0; k < workersWithNoDepartment.length; k++){
                        let w_id = workersWithNoDepartment[k].id;
                        if(w_id == id__ && t.id == 'no_department'){
                            $(VUXahzbNUTWtiZa[j]).show();
                        }
                    }
                }
            }
        }

        if(arrayCheck.length > 0 || workersWithNoDepartment.length > 0 && t.id == 'no_department'){
            $('#tableId').show();
        }
        else {
            $('#tableId').hide();
        }

    };

    function sNYSYigDKYrjjtq(t, e) {
        let uLTJNrstvNEQ = document.getElementById('uLTJNrstvNEQ');
        $(uLTJNrstvNEQ).fadeIn(200);

        sessionStorage.setItem('oKVpUNCSlKRZWqW', $(t).parent().attr('for'));

        document.getElementById('coVYuzZVCFxh').value = $(t).parent().children().eq(0).text();
    };

    function NlckkxcEbWXv() {
        let uLTJNrstvNEQ = document.getElementById('uLTJNrstvNEQ');
        $(uLTJNrstvNEQ).fadeOut(200);
    };

    function KOdkyXQcUVJW() {
        if(document.getElementById('coVYuzZVCFxh').value != null){
            let XozBLvRgROAw = document.getElementById('coVYuzZVCFxh').value;

            let RNeDYmxNNzoe = sessionStorage.getItem('oKVpUNCSlKRZWqW');

            //id, name
            VYhhVLCczCoE(RNeDYmxNNzoe, XozBLvRgROAw);
        }
    };
    
    function bdoycBpPxFPywju(t, e) {
        sessionStorage.setItem('NdheQmPNteYHXBD', $(t).parent().attr('for'));

        let b = document.getElementById("bAWzKvvkmVmE");
        b.style.display = 'none';
        let PNujBEeIildr = document.getElementById('PNujBEeIildr');
        $(PNujBEeIildr).fadeIn(200);
    };

    function adqwBJykaCzQ(){
        let RNeDYmxNNzoe = sessionStorage.getItem('NdheQmPNteYHXBD');
        
        ertVmpwgdwWK(RNeDYmxNNzoe);
    };

    function IWantToDeleteDepartment(t) {
        let check = false;
        let RNeDYmxNNzoe = sessionStorage.getItem('NdheQmPNteYHXBD');
        for(let i = 0; i < model_w.length; i++){
            if(model_w[i].DepartmentID == RNeDYmxNNzoe){
                if(model_w.length != 0){
                    check = true;
                }
            }
        }

        if(check){
            document.getElementById("JsFfTXmLOVbI").innerHTML = 'Dział nie jest pusty!' + '<br>' + '@Resource.AreYouSureYouWantToDeleteDepartment';
            let a = document.getElementById("bAWzKvvkmVmE");
            a.style.display = '';
            t.style.display = 'none';
        }

        /*timer*/
        if(check){
            let count = 4;
            document.getElementById("nditIlzCWflU").value = '@Resource.Yes' + ' ' + '(' + 5 + ')';
            setInterval(function() {
                if (count > 0) {
                    document.getElementById("nditIlzCWflU").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                    count--;
                }
                else {
                    document.getElementById("nditIlzCWflU").value = '@Resource.Yes';
                }
            }, 1000);

            document.getElementById("nditIlzCWflU").setAttribute('disabled', '');
            setTimeout(function() {
                document.getElementById("nditIlzCWflU").removeAttribute('disabled');
            }, 5000);
        }
        else {
            ertVmpwgdwWK(RNeDYmxNNzoe);
        }
        /**/
    };

var tables = document.getElementsByTagName('table');
for (var i=0; i<tables.length;i++){
 resizableGrid(tables[i]);
}

function resizableGrid(table) {
 var row = table.getElementsByTagName('tr')[0],
 cols = row ? row.children : undefined;
 if (!cols) return;
 
 table.style.overflow = 'hidden';
 
 var tableHeight = table.offsetHeight;
 
 for (var i=0;i<cols.length-2;i++){
  var div = createDiv(tableHeight);
  cols[i].appendChild(div);
  cols[i].style.position = 'relative';
  setListeners(div);
 }

 function setListeners(div){
  var pageX,curCol,nxtCol,curColWidth,nxtColWidth;

  div.addEventListener('mousedown', function (e) {
   curCol = e.target.parentElement;
   nxtCol = curCol.nextElementSibling;
   pageX = e.pageX; 
 
   var padding = paddingDiff(curCol);
 
   curColWidth = curCol.offsetWidth - padding;
   if (nxtCol)
    nxtColWidth = nxtCol.offsetWidth - padding;
  });

  div.addEventListener('mouseover', function (e) {
   //e.target.style.borderRight = '4px double rgb(150, 150, 150)';
  })

  div.addEventListener('mouseout', function (e) {
     //e.target.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';
  })

  document.addEventListener('mousemove', function (e) {
   if (curCol) {
    var diffX = e.pageX - pageX;
 
    if (nxtCol)
     nxtCol.style.width = (nxtColWidth - (diffX))+'px';

    curCol.style.width = (curColWidth + diffX)+'px';
   }
  });

  document.addEventListener('mouseup', function (e) { 
   curCol = undefined;
   nxtCol = undefined;
   pageX = undefined;
   nxtColWidth = undefined;
   curColWidth = undefined
  });
 }
 
 function createDiv(height){
  var div = document.createElement('div');
  div.style.top = 0;
  div.style.right = 0;
  //div.style.width = '5px';
  div.style.width = '23px';
  //div.style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
  div.style.zIndex = '1';
  div.style.position = 'absolute';
  div.style.cursor = 'col-resize';
  div.style.userSelect = 'none';
  @*div.style.height = height + 'px';*@
  div.style.height = '52px';
  //div.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';

  //div.style.right = '-10px';

  div.style.transform = 'translatex(10px)';
  div.innerHTML += `<i class="arrow left"></i> <div class="lines line1"></div> <div class="lines line2"></div> <i class="arrow right"></i>`;//<div class="lines line1"></div> <div class="lines line2"></div>
  div.setAttribute('id', 'GRgYMQCkHWKDuyb');
  div.setAttribute('onmouseover', 'ZKHOrDgJBDHOpmW(this)');
  div.setAttribute('onmouseout', 'pNxCxvPIUtCbSHM(this)');
  div.setAttribute('onclick', 'kEDVBzpHnAzOqpp(this, event)');

  return div;
 }


 
 function paddingDiff(col){
 
  if (getStyleVal(col,'box-sizing') == 'border-box'){
   return 0;
  }
 
  var padLeft = getStyleVal(col,'padding-left');
  var padRight = getStyleVal(col,'padding-right');
  return (parseInt(padLeft) + parseInt(padRight));

 }

 function getStyleVal(elm,css){
  return (window.getComputedStyle(elm, null).getPropertyValue(css))
 }
};



function kEDVBzpHnAzOqpp(t, e){
    e.stopPropagation();
};

function ZKHOrDgJBDHOpmW(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().addClass('qDIGovQQrGkMAIm');
    }   
};

function pNxCxvPIUtCbSHM(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().removeClass('qDIGovQQrGkMAIm');
    } 
}

    function BqujyivUqK() {
        $('#XOrtKNkAwk').fadeIn(200);
    };

    function GuDpHEcfHN() {
        if(document.getElementById('svFbsOqCAR').value != ''){
            let DeViohCQjIFT = document.getElementById('svFbsOqCAR').value;

            opvqVIGDmNiz(DeViohCQjIFT);
        }
    };

    function bmIRCNZNky() {
        $('#XOrtKNkAwk').fadeOut(200);
        setTimeout(function (){
            document.getElementById('svFbsOqCAR').value = '';
        }, 200);
    };

    $('#svFbsOqCAR').on('keydown', function(e){
        if(e.keyCode == '13'){//enter
            e.preventDefault();
            GuDpHEcfHN();
        }
    });

    function YENAVVQWwo() {

        let kzQkCNWOiUhJxRl = document.querySelectorAll('.kzQkCNWOiUhJxRl');
        for(let i = 0; i < kzQkCNWOiUhJxRl.length; i++){
            if(kzQkCNWOiUhJxRl[i].checked){
                document.getElementById('OyRfwpeqzbeyVEW').value = kzQkCNWOiUhJxRl[i].id;   
            }
        }

        $('#QmRrlOQPQW').fadeIn(200);
    };

    function EYVOxDPdHV() {
        $('#QmRrlOQPQW').fadeOut(200);
        setTimeout(function (){
            document.getElementById('GVegODKbEh').value = '';
            document.getElementById('toPdQnPuvH').value = '';
        }, 200);
    };

    function TEqGSwRYnu() {
        if(document.getElementById('GVegODKbEh').value != '' && document.getElementById('toPdQnPuvH').value != '') {
            let name_ = document.getElementById('GVegODKbEh').value;
            let surname_ = document.getElementById('toPdQnPuvH').value;
            //let dep_id_ = parseInt(sessionStorage.getItem('storage_AddWorker'));
            let e = document.getElementById('OyRfwpeqzbeyVEW');
            let dep_id_ = e.options[e.selectedIndex].value;
            let employed_ = true;

            KOxtvRcBmzeo(name_, surname_, dep_id_, employed_);
        }
    };

    $('#GVegODKbEh').on('keydown', function(e){
        if(e.keyCode == '13'){
            e.preventDefault();
            TEqGSwRYnu();
        }
    });

    $('#toPdQnPuvH').on('keydown', function(e){
        if(e.keyCode == '13'){
            e.preventDefault();
            TEqGSwRYnu();
        }
    });

    function IxsCvPIuWwZw(t) {
        let jwOsncySQjwD = document.getElementById('jwOsncySQjwD');

        //let id_ = t.getAttribute('uRiajmNrSFFv');
        //let name_ = t.getAttribute('gvOdItWZFRSg');
        //let surname_ = t.getAttribute('UcWvjqdRNTDD');
        let id_ = $(t).parent().parent().children().eq(0).html();
        let name_ = $(t).parent().parent().children().eq(2).html();
        let surname_ = $(t).parent().parent().children().eq(1).html();
        let dep_ = $(t).parent().parent().attr('id');

        sessionStorage.setItem('rGjJZtPGkSIg', id_);

        document.getElementById('qxZnTneGdrVW').value = name_;
        document.getElementById('xEjLBIPqUXLK').value = surname_;
        document.getElementById('ZRfCdgttdnOCfXF').value = dep_;

        $(jwOsncySQjwD).fadeIn(200);
    };

    function vQaAzODstzsu() {
        let jwOsncySQjwD = document.getElementById('jwOsncySQjwD');
        $(jwOsncySQjwD).fadeOut(200);
    };

    function KfdhlqmDXEsR() {
        let id_ = parseInt(sessionStorage.getItem('rGjJZtPGkSIg'));
        let name_ = document.getElementById('qxZnTneGdrVW').value;
        let surname_ = document.getElementById('xEjLBIPqUXLK').value;
        let dep_ = document.getElementById('ZRfCdgttdnOCfXF').value;

        kMCAxKgSATqh(id_, name_, surname_, dep_)
    };

    function deleteWorker(t) {
        sessionStorage.setItem('dKorJSPZCYCt', $(t).parent().parent().children().eq(0).html());

        let b = document.getElementById("FamcDfiHIvhi");
        b.style.display = 'none';
        let UwCmLRqIRSZM = document.getElementById('UwCmLRqIRSZM');
        $(UwCmLRqIRSZM).fadeIn(200);

        //console.log($(t).parent().parent().children().eq(0).html());
    };

    function UOspQSjpbVdS() {
        location.reload();
    };

    function fBTJyaaQRpDf(t) {
        document.getElementById("zwQBaubcYWcJ").innerHTML = '@Resource.AreYouSureYouWantToDeleteWorker';

        let a = document.getElementById("FamcDfiHIvhi");
        a.style.display = '';
        t.style.display = 'none';

        /*timer*/
        let count = 4;
        document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes' + ' ' + '(' + 5 + ')';
        setInterval(function() {
            if (count > 0) {
                document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                count--;
            }
            else {
                document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes';
            }
        }, 1000);

        document.getElementById("XSkMvvmEXCee").setAttribute('disabled', '');
        setTimeout(function() {
            document.getElementById("XSkMvvmEXCee").removeAttribute('disabled');
        }, 5000);
        /**/
    };

    function dDlRcSCJZAuO() {
        let id_ = parseInt(sessionStorage.getItem('dKorJSPZCYCt')) ;
        blKTigJUXVdB(id_);
    };

    


</script>

