@using Newtonsoft.Json
@using System.Security.Claims;
@using System.Drawing

@{
	ViewData["Title"] = "Home Page";
	var culture = new System.Globalization.CultureInfo("pl-PL");
	var monthName = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MMMM", culture);

	//userID
	var claimsIdentity = User.Identity as ClaimsIdentity;
	var userID = "";
	if (claimsIdentity != null)
	{
		var userIdClaim = claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
		if (userIdClaim != null)
		{
			userID = userIdClaim.Value;
		}
	}

	//policz przypomnienia
	var count_p = ((IEnumerable<Reminders3>)ViewBag.Reminders).Count(x => x.RemindDate != null && x.UserID == userID);

	//policz notatki
	var count_n = ((IEnumerable<Reminders3>)ViewBag.Reminders).Count(x => x.RemindDate == null && x.UserID == userID);

	//get users from UserIdentity
	var userIdentity = ((IEnumerable<UserIdentity>)ViewBag.UserIdentity);

	// Random rnd = new Random();
	// System.Drawing.Color col = System.Drawing.ColorTranslator.FromHtml("#FF2233");

	var color = userIdentity.First(x => x.UserId == userID).UserColor;
	Color col_ = System.Drawing.ColorTranslator.FromHtml(color);
	string spanColor = "";
	@if (col_.R * 0.2126 + col_.G * 0.7152 + col_.B * 0.0722 < 255 / 2)
	{
		//dark color
		spanColor = "white";
	}
	else
	{
		//light color
		spanColor = "black";
	}

	var workers = ((IEnumerable<Workers2>)ViewBag.Workers);
	var departments = ((IEnumerable<Department>)ViewBag.Department);
	var workstations = ((IEnumerable<Workstations>)ViewBag.Workstation);
	var shifts = ((IEnumerable<Shifts>)ViewBag.Shift);
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">

	<section class="left-nav" id="left-nav-id">
		@Html.Partial("_Menu")
	</section>

	<section class="right-nav">
		<div class="ATKLsxSduWPahPh">

			<div class="kfVQjJnCTNjZlgW" style="display: none;">
				<div class="TOBgPdZDnrCaJEf">@DateTime.Now.ToString("dd MMMM yyyy")</div>
				<div class="nLnyXKLeDWgYvPh">
					<span id="clockSpanID">@DateTime.Now.ToString("HH:mm:ss")</span>
				</div>
			</div>
			
			@* <img src="~/css/img/pexels-pixabay-33109.jpg" width="200" height="200" />
			<img src="~/css/img/clock4.png" width="200" height="200" /> *@

			@* <div class="msdgExEZCpefgcL msdgExEZCpefgcL_">
				<span class="hFzZLqJdsEqdlrx">8-godzinny system czasu pracy</span>
				<label class="FdcnMtAlziKwEep">
					<input type="checkbox" id="ZpSoSRpyrSOlvoJ" />
					<span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
				</label>
				<span class="hFzZLqJdsEqdlrx">Praca zmianowa</span>
			</div> *@

			@* <div class="form-group form-group-margin">
				<label>System :</label>
				<select class="form-control bYwPpsleuVCBkPv" id="OyRfwpeqzbeyVEW">

				</select>
			</div> *@

			<div class="YavvRCMQscelhIs tePqkpVdZPYCotv">




				<div class="settings">
					<div class="settings_">
						<div class="settings__">
							<div>
								<div>
									<ion-icon name="people-outline"></ion-icon>
									<span>Pracownicy</span>
								</div>
								<div>
									<span>Ilość</span>
									@if (workers.Count() > 0)
									{
										<span>@workers.Count()</span>
									}
									else
									{
										<span style="color: red;">@workers.Count()</span>
									}
								</div>
							</div>
							<div>
								<div>
									<ion-icon name="cube-outline"></ion-icon>
									<span>Działy</span>
								</div>
								<div>
									<span>Ilość</span>
									@if (departments.Count() > 0)
									{
										<span>@departments.Count()</span>
									}
									else
									{
										<span style="color: red;">@departments.Count()</span>
									}
								</div>
							</div>
						</div>

						<div class="settings__">
							<div>
								<div>
									<ion-icon name="briefcase-outline"></ion-icon>
									<span>Stanowiska</span>
								</div>
								<div>
									<span>Ilość</span>
									<span>@workstations.Count()</span>
								</div>
							</div>
						</div>

						<div class="settings__">
							<div>
								<div>
									<ion-icon name="git-compare-outline"></ion-icon>
									<span>Grupy zmianowe</span>
								</div>
								<div>
									<span>Ilość</span>
									<span>@shifts.Count()</span>
								</div>
							</div>

							@if (shifts.Count() > 0)
							{
								@foreach (var row in shifts)
								{
									<div>
										<div>
											<span>@row.Name</span>
										</div>
										<div>
											<span style="font-size: 16px;">
												@workers.Where(e => e.ShiftId == row.Id).Count()
											</span>
										</div>
									</div>
								}
							}
						</div>
					</div>
					<div class="settings_">
						<div class="settings__">
							<div>
								<div>
									<ion-icon name="notifications-outline"></ion-icon>
									<span>Przypomnienia</span>
								</div>
								<div>
									<span>Ilość</span>
									@* <span>@workstations.Count()</span> *@
									<span>0</span>
								</div>
							</div>



							<div class="settings__inner">
								<div>
									<span>test2</span>
								</div>
								<div>
									<span>16.08.2025</span>
									<span>za 12 dni</span>
								</div>
							</div>
							<div class="settings__inner">
								<div>
									<span>test3fdgdfnvb hfdbsgvjfdbgfdsdf;.d''absdfhjbsdjf</span>
								</div>
								<div>
									<span>02.09.2025</span>
									<span>za 2 dni</span>
								</div>
								
								
							</div>

						</div>
					</div>
					<div class="settings_">
						<div class="clock clockAnalog" id="widg4" style="">
							<img src="~/css/img/clock4.png" width="200" height="200" />
							<span id="hour"></span>
							<span id="minute"></span>
							<span id="second"></span>
						</div>

						<div class="AipWiPstniVIhkC" id="widg5" style="">
							<div class="iEJFylzLAwnEGbD">
								<div class="laelGSoQzzZzzxU">
									<span>@monthName @DateTime.Now.Year</span>
								</div>
								<div class="QUDSzRKLukXdIRq">
									<div class="calendar_widg" id="calendar_id_widg">
										<div class="month_widg">
											<div class="weekdays_widg">
												<div>Pon</div>
												<div>Wto</div>
												<div>Śro</div>
												<div>Czw</div>
												<div>Pią</div>
												<div>Sob</div>
												<div>Nie</div>
											</div>
											<div class="days_widg"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




				<div class="miDoCHDzMtfgfwJ UerVekGrigzHetD" style="display: none;">
					
					<!--zegar-->
					<div class="clock clockAnalog" id="widg4" style="">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
						<div></div>
						<div></div>
						<div class="GteoTFWvjCrnpmN" id="widg4_handle"></div>
						</div>*@
						<!---->

						<img src="~/css/img/clock4.png" width="200" height="200" />
						<span id="hour"></span>
						<span id="minute"></span>
						<span id="second"></span>

						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
						<svg viewBox="0 0 470 470" width="15" height="15">
						<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
						</svg>
						</div>*@
						<!---->
					</div>

					<!--kalendarz-->
					<div class="AipWiPstniVIhkC" id="widg5" style="">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
						<div></div>
						<div></div>
						<div class="GteoTFWvjCrnpmN" id="widg5_handle"></div>
						</div>*@
						<!---->
						<div class="iEJFylzLAwnEGbD">
							<div class="laelGSoQzzZzzxU">
								@*<i class="fas fa-angle-left" id="calendar_widg_previous"></i>*@
								@*<input type="month" value="@DateTime.Now.Year-@DateTime.Now.Month" id="calendar_widg_month" />*@
								@*<i class="fas fa-angle-right" id="calendar_widg_next"></i>*@
								<span>@monthName @DateTime.Now.Year</span>
							</div>
							<div class="QUDSzRKLukXdIRq">
								<div class="calendar_widg" id="calendar_id_widg">
									<div class="month_widg">
										<div class="weekdays_widg">
											<div>Pon</div>
											<div>Wto</div>
											<div>Śro</div>
											<div>Czw</div>
											<div>Pią</div>
											<div>Sob</div>
											<div>Nie</div>
										</div>
										<div class="days_widg"></div>
									</div>
								</div>
							</div>
						</div>
						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
						<svg viewBox="0 0 470 470" width="15" height="15">
						<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
						</svg>
						</div>*@
						<!---->
					</div>

					<!--procent1-->
					<div class="AipWiPstniVIhkC" id="widg1" style="display: none;">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
						<div></div>
						<div></div>
						<div class="GteoTFWvjCrnpmN" id="widg1_handle"></div>
						</div>*@
						<!---->
						<svg class="round" id="round1" viewBox="0 0 100 100" width="190" height="190" data-percent="71" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="34" />
							<text id="XLkvcgJWzEfxPvE" x="50" y="48" text-anchor="middle" dominant-baseline="central" transform="rotate(90, 50, 50)"></text>
						</svg>
						<svg class="roundBackground" viewBox="0 0 100 100" width="190" height="190" data-percent="100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="40" />
						</svg>
						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
						<svg viewBox="0 0 470 470" width="15" height="15">
						<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
						</svg>
						</div>*@
						<!---->
					</div>


					<!--procent2-->
					<div class="AipWiPstniVIhkC" id="widg2" style="display: none;">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
						<div></div>
						<div></div>
						<div class="GteoTFWvjCrnpmN" id="widg2_handle"></div>
						</div>*@
						<!---->
						<svg class="round" id="round2" viewBox="0 0 100 100" width="190" height="190" data-percent="42" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="34" />
							<text id="HTdLmnPsRaqTSUU" x="50" y="48" text-anchor="middle" dominant-baseline="central" transform="rotate(90, 50, 50)"></text>
						</svg>
						<svg class="roundBackground" viewBox="0 0 100 100" width="190" height="190" data-percent="100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="40" />
						</svg>
						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
						<svg viewBox="0 0 470 470" width="15" height="15">
						<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
						</svg>
						</div>*@
						<!---->
					</div>
				</div>


				<div class="miDoCHDzMtfgfwJ" style="display: none;">
					<!--Przypomnienia-->
					<div class="quickNotepad ECaaSDRIYJCuREK" id="widg6">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
							<div></div>
							<div></div>
							<div class="GteoTFWvjCrnpmN" id="widg6_handle"></div>
						</div>*@
						<!---->
						
						@*<span>Przypomnienia</span>*@
						<div class="hzbdsLoiCKYdXki">
							<span>Przypomnienia i Notatki</span>
							<!--Add button-->
							<div class="uttPwSlVwzYRFsN" id="cKyQznqiHBCNqod" title="Dodaj">
								<svg viewBox="-6 -4.5 25 25" width="38" height="38">
									<path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path>
								</svg>
							</div>
							<!---->
						</div>
						@*<span>Przypomnienia i Notatki</span>*@
						@if (((IEnumerable<Reminders3>)ViewBag.Reminders).Any(x => x.UserID == userID))
						{
							<div class="npcFeVbrHTwFdfE">
								@foreach (var item in ((IEnumerable<Reminders3>)ViewBag.Reminders).OrderBy(x => x.RemindDate).Where(e => e.UserID == userID))
								{
									@if (item.RemindDate != null)
									{
										<div class="RXURyrVQZpeADOh" id="przypomnienia_id" aMPKLBaWjjzJFbN="@item.Id" onclick="SFnCnjucFGPsUMa(this)" title="Kliknij, aby zobaczyć szczegóły">
											<span class="qPLshtSBjcUMPhi">@item.Title</span>
											<span class="qPLshtSBjcUMPhi_" style="display: none;">@item.ReminderDescription</span>

											@if (DateTime.Now.Date == item.RemindDate || DateTime.Now.Date > item.RemindDate)
											{
												<span class="fNNuHCyCzMAKIiN" id="PBCVQWJaipMqDOZ" style="color: #ff0000;" OPBZAtSFbCoqXRK="@item.RemindDate">@item.RemindDate?.ToString("dd MMMM yyyy")</span>
											}
											else
											{
												<span class="fNNuHCyCzMAKIiN" id="PBCVQWJaipMqDOZ" OPBZAtSFbCoqXRK="@item.RemindDate">@item.RemindDate?.ToString("dd MMMM yyyy")</span>
											}
										</div>
									}
									else
									{
										<div class="RXURyrVQZpeADOh" id="notatki_id" aMPKLBaWjjzJFbN="@item.Id" onclick="QtokgKHdkxlbOgO(this)" title="Kliknij, aby zobaczyć szczegóły">
											<span class="qPLshtSBjcUMPhi">@item.Title</span>
											<span class="qPLshtSBjcUMPhi_" style="display: none;">@item.ReminderDescription</span>
										</div>
									}
								}
							</div>
						}
						else
						{
							<div class="oJSrXlbUoUZELPZ">
								<span>Brak przypomnień/notatek</span>
							</div>
						}

						<div class="LnUQrJmWUuewBhp">
							<div class="YANONwJheyppZDG" id="avFbWLrryTfbsfN">
								<span>Przypomnienia</span>
								<input type="radio" name="reminder_" id="avFbWLrryTfbsfN_" style="display: none;" />
								<div class="roNwzjAutuLOrAX">
									<span>@count_p</span>
								</div>
							</div>
							<div class="TJfLhELXhofvBlO" id="kEWZMkOkYppAIql">
								<span>Notatki</span>
								<input type="radio" name="reminder_" id="kEWZMkOkYppAIql_" style="display: none;" />
								<div class="roNwzjAutuLOrAX">
									<span>@count_n</span>
								</div>
							</div>
						</div>

						<!--expand-->
						@*<div class="rzVCoiMyvGxrbEa rzVCoiMyvGxrbEa_" title="Rozszerz" id="yrHcVnwJhiNRpeh">
							<svg width="15" height="15" viewBox="0 0 32 32">
								<g transform="translate(-310.000000, -1193.000000)">
									<path d="M341.977,1194.15 C341.976,1193.84 341.836,1193.56 341.623,1193.37 C341.43,1193.16 341.158,1193.01 340.849,1193.01 L332.079,1193 C331.499,1193 331.029,1193.47 331.029,1194.06 C331.03,1194.64 331.708,1195.3 331.998,1195.59 L334.216,1197.82 L328,1204 L331,1207 L337.174,1200.8 L339.392,1203.03 C339.871,1203.52 340.358,1204.03 340.938,1204.03 C341.52,1204.03 341.989,1203.56 341.988,1202.97 L341.977,1194.15 L341.977,1194.15 Z M321,1211 L314.746,1217.38 L312.565,1215.2 C312.094,1214.73 311.614,1214.22 311.044,1214.22 C310.473,1214.22 310.011,1214.68 310.012,1215.25 L310.023,1223.88 C310.023,1224.18 310.161,1224.45 310.371,1224.64 C310.561,1224.85 310.828,1224.99 311.132,1224.99 L319.756,1225 C320.326,1225 320.788,1224.54 320.788,1223.97 C320.787,1223.4 320.121,1222.75 319.835,1222.47 L317.654,1220.29 L324,1214 L321,1211 L321,1211 Z"></path>
								</g>
							</svg>
						</div>*@
						<!---->
						<!--contract-->
						@*<div class="MprLrIoIAXLqljb MprLrIoIAXLqljb_" title="Zmniejsz" id="MyASZDrJkXegceG">
							<svg width="15" height="15" viewBox="0 0 52 52">
								<g>
									<path d="M29.6,23.9H45c1,0,1.3-1.1,0.5-1.9l-4.9-5l9-9.1c0.5-0.5,0.5-1.4,0-1.9l-3.7-3.7c-0.5-0.4-1.3-0.4-1.9,0.1l-9,9l-5.1-4.9C29.1,5.7,28,6,28,7v15.4C28,23.1,28.9,23.9,29.6,23.9z"/>
									<path d="M22.4,28H7c-1,0-1.3,1.1-0.5,1.9l4.9,5l-9,9.1c-0.5,0.5-0.5,1.4,0,1.9l3.7,3.7c0.5,0.5,1.3,0.5,1.9,0l9.1-9.1l5.1,4.9C22.9,46.3,24,46,24,45V29.7C24,29,23.1,28,22.4,28z"/>
								</g>
							</svg>
						</div>*@
						<!---->
						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
							<svg viewBox="0 0 470 470" width="15" height="15">
								<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
							</svg>
						</div>*@
						<!---->
						<!--Add button-->
						@*<div class="uttPwSlVwzYRFsN" id="cKyQznqiHBCNqod" title="Dodaj">
							<svg viewBox="-6 -4.5 25 25" width="38" height="38">
								<path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path>
							</svg>
						</div>*@
						<!---->
					</div>
				

					<!--notatnik-->
					<div class="quickNotepad" id="widg3" style="display: none;">
						<!--grab-->
						@*<div class="MAoVlTMOGZzPPsu">
							<div></div>
							<div></div>
							<div class="GteoTFWvjCrnpmN" id="widg3_handle"></div>
						</div>*@
						<!---->
						<span>Notatnik</span>
						<textarea spellcheck="false" id=""></textarea>
						<!--expand-->
						@*<div class="rzVCoiMyvGxrbEa" title="Rozszerz" id="yaSffAvBMRaDXMN">
							<svg width="15" height="15" viewBox="0 0 32 32">
								<g transform="translate(-310.000000, -1193.000000)">
									<path d="M341.977,1194.15 C341.976,1193.84 341.836,1193.56 341.623,1193.37 C341.43,1193.16 341.158,1193.01 340.849,1193.01 L332.079,1193 C331.499,1193 331.029,1193.47 331.029,1194.06 C331.03,1194.64 331.708,1195.3 331.998,1195.59 L334.216,1197.82 L328,1204 L331,1207 L337.174,1200.8 L339.392,1203.03 C339.871,1203.52 340.358,1204.03 340.938,1204.03 C341.52,1204.03 341.989,1203.56 341.988,1202.97 L341.977,1194.15 L341.977,1194.15 Z M321,1211 L314.746,1217.38 L312.565,1215.2 C312.094,1214.73 311.614,1214.22 311.044,1214.22 C310.473,1214.22 310.011,1214.68 310.012,1215.25 L310.023,1223.88 C310.023,1224.18 310.161,1224.45 310.371,1224.64 C310.561,1224.85 310.828,1224.99 311.132,1224.99 L319.756,1225 C320.326,1225 320.788,1224.54 320.788,1223.97 C320.787,1223.4 320.121,1222.75 319.835,1222.47 L317.654,1220.29 L324,1214 L321,1211 L321,1211 Z"></path>
								</g>
							</svg>
						</div>*@
						<!---->
						<!--contract-->
						@*<div class="MprLrIoIAXLqljb" title="Zmniejsz" id="tNQKplspKGJSQLU">
							<svg width="15" height="15" viewBox="0 0 52 52">
								<g>
									<path d="M29.6,23.9H45c1,0,1.3-1.1,0.5-1.9l-4.9-5l9-9.1c0.5-0.5,0.5-1.4,0-1.9l-3.7-3.7c-0.5-0.4-1.3-0.4-1.9,0.1l-9,9l-5.1-4.9C29.1,5.7,28,6,28,7v15.4C28,23.1,28.9,23.9,29.6,23.9z"/>
									<path d="M22.4,28H7c-1,0-1.3,1.1-0.5,1.9l4.9,5l-9,9.1c-0.5,0.5-0.5,1.4,0,1.9l3.7,3.7c0.5,0.5,1.3,0.5,1.9,0l9.1-9.1l5.1,4.9C22.9,46.3,24,46,24,45V29.7C24,29,23.1,28,22.4,28z"/>
								</g>
							</svg>
						</div>*@
						<!---->
						<!--disable-->
						@*<div class="BnDZmDEehCCybzG" title="Usuń">
							<svg viewBox="0 0 470 470" width="15" height="15">
								<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
							</svg>
						</div>*@
						<!---->
						<!--Save button-->
						<div class="uttPwSlVwzYRFsN" title="Zapisz">
							<svg viewBox="-2.5 0 19 19" width="35" height="35">
								<path d="M13.014 3.638v11.133a.476.476 0 0 1-.475.475H3.214a1.342 1.342 0 0 1-.813-.333L1.325 13.86a1.301 1.301 0 0 1-.34-.808V3.638a.476.476 0 0 1 .476-.475H12.54a.476.476 0 0 1 .474.475zm-2.208.954a.476.476 0 0 0-.475-.475H3.67a.476.476 0 0 0-.475.475v3.212a.476.476 0 0 0 .475.475h6.66a.476.476 0 0 0 .476-.475zm-.5 5.883a.477.477 0 0 0-.475-.476H4.16a.477.477 0 0 0-.475.476v3.442a.476.476 0 0 0 .475.475h5.67a.476.476 0 0 0 .475-.475zm-4.356.635H4.74v2.2h1.21z"></path>
							</svg>
						</div>
						<!---->
					</div>
				</div>

				

				<div class="iKlKXUFEJUNEQul" id="LldXkbnodmhlJIn" style="display: none;">
					<svg viewBox="0 0 1920 1920" width="50" height="50">
						<path d="M866.332 213v653.332H213v186.666h653.332v653.332h186.666v-653.332h653.332V866.332h-653.332V213z"></path>
					</svg>
				</div>


			</div>
		</div>



	</section>
</div>

<div class="aLTkEQlLIqOrXvT" style="display: none;">
	<div class="aLTkEQlLIqOrXvT_">

		<div class="ElementWidg">
			<div class="quickNotepad uERspJxBzaiedUf">
				<span>Notatnik</span>
			</div>
			<div class="HXkSPSnoVyQiCrS">
				<span>Dodaj</span>
			</div>
		</div>
		
		<div class="ElementWidg">
			<div class="AipWiPstniVIhkC uERspJxBzaiedUf">
				<svg class="round" id="round1" viewBox="0 0 100 100" width="190" height="190" data-percent="71" xmlns="http://www.w3.org/2000/svg">
					<circle cx="50" cy="50" r="34" />
					<text id="XLkvcgJWzEfxPvE" x="50" y="48" text-anchor="middle" dominant-baseline="central" transform="rotate(90, 50, 50)"></text>
				</svg>
				<svg class="roundBackground" viewBox="0 0 100 100" width="190" height="190" data-percent="100" xmlns="http://www.w3.org/2000/svg">
					<circle cx="50" cy="50" r="40" />
				</svg>
			</div>
			<div class="HXkSPSnoVyQiCrS">
				<span>Dodaj</span>
			</div>
		</div>

		<div class="ElementWidg">
			<div class="AipWiPstniVIhkC uERspJxBzaiedUf">
				<svg class="round" id="round2" viewBox="0 0 100 100" width="190" height="190" data-percent="42" xmlns="http://www.w3.org/2000/svg">
					<circle cx="50" cy="50" r="34" />
					<text id="HTdLmnPsRaqTSUU" x="50" y="48" text-anchor="middle" dominant-baseline="central" transform="rotate(90, 50, 50)"></text>
				</svg>
				<svg class="roundBackground" viewBox="0 0 100 100" width="190" height="190" data-percent="100" xmlns="http://www.w3.org/2000/svg">
					<circle cx="50" cy="50" r="40" />
				</svg>
			</div>
			<div class="HXkSPSnoVyQiCrS">
				<span>Dodaj</span>
			</div>
		</div>

		<div class="ElementWidg">
			<div class="clock clockAnalog uERspJxBzaiedUf">
				<img src="~/css/img/clock4.png" width="200" height="200"/>
				<span id="hour"></span>
				<span id="minute"></span>
				<span id="second"></span> 
			</div>
			<div class="HXkSPSnoVyQiCrS">
				<span>Dodaj</span>
			</div>
		</div>

	</div>
	<!--exit-->
	<div class="BnDZmDEehCCybzG DYnUImwbtfMRlDe" id="rCnoNzileMKWYLc" title="Zamknij">
		<svg viewBox="0 0 470 470" width="15" height="15">
			<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
		</svg>
	</div>
	<!---->
</div>

<div id="SifCPThsCoyHbct" class="pGKcZvErUB" style="display: none;">
    <form class="form_3">
		<div class="form-group">
			<label>Wybierz</label>
			<select class="form-control" id="ssVGkNItXJosOsP">
				<option>Przypomnienie</option>
				<option>Notatka</option>
			</select>
		</div>
		<div class="form-group">
			<label>Tytuł*</label>
			<input class="form-control" id="fFWegXyYZmbBpEN" required/>
		</div>
		<div class="form-group">
			<label>Opis (opcjonalny)</label>
			<textarea class="form-control" id="ITnLhNHsrVsLMlU" spellcheck="false"></textarea>
		</div>
		<div class="form-group" id="iGxMAezVPdacNFH">
			<label>Data przypomnienia*</label>
			<input class="form-control" type="date" id="SxtTxveciNblgyY" required />
		</div>
		<div style="margin-bottom: 10px;"></div>
		<div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" id="CKwCPBbYtspreJT" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" id="ueUfjQYGkUvCTDV" />
        </div>
    </form>
</div>

@*<div id="aZVwWFKbYTeoWFY" class="HRvGYpBLRXqiEGy" style="display: none;">
	<div class="EJVmUUDGWRneSip">
		<div class="form-group">
			<label>Tytuł</label>
		</div>
		


		<!--exit-->
		<div class="BnDZmDEehCCybzG LPbaczkZTGFbIBk" id="xcMbuPyBDAClZLf" title="Zamknij">
			<svg viewBox="0 0 470 470" width="15" height="15">
				<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
			</svg>
		</div>
		<!---->
	</div>
</div>*@
<div id="aZVwWFKbYTeoWFY" class="pGKcZvErUB" style="display: none;">
	<form class="form_3 mcplGLYbKYUWdZP">
		<div class="form-group">
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="nIuUYPMpJnDKAdU">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.856V6.367a3.534 3.534 0 1 1 7.068 0v1.768h.856a.794.794 0 0 1 .792.792zm-2.756-2.56a2.426 2.426 0 1 0-4.852 0v1.768h4.852zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 0 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="eHtCczehqWNQbOp" style="display: none;">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.654L1.956 7.11a3.534 3.534 0 0 1 6.769-2.035.554.554 0 1 1-1.062.32A2.426 2.426 0 0 0 3.017 6.79l.404 1.345h6.97a.794.794 0 0 1 .79.792zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 1 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<label>Tytuł</label>
			<input class="form-control SSwvVHQbXDMTOIM" id="tAnrJNlkpUSBwYm" readonly/>
		</div>
		<div class="form-group">
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="nIuUYPMpJnDKAdU">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.856V6.367a3.534 3.534 0 1 1 7.068 0v1.768h.856a.794.794 0 0 1 .792.792zm-2.756-2.56a2.426 2.426 0 1 0-4.852 0v1.768h4.852zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 0 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="eHtCczehqWNQbOp" style="display: none;">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.654L1.956 7.11a3.534 3.534 0 0 1 6.769-2.035.554.554 0 1 1-1.062.32A2.426 2.426 0 0 0 3.017 6.79l.404 1.345h6.97a.794.794 0 0 1 .79.792zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 1 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<label>Opis</label>
			<textarea class="form-control" id="mmoyAbgbxQKYSoj" readonly spellcheck="false"></textarea>
		</div>
		<div class="form-group" id="zbzEzYandOHZEfD">
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="nIuUYPMpJnDKAdU">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.856V6.367a3.534 3.534 0 1 1 7.068 0v1.768h.856a.794.794 0 0 1 .792.792zm-2.756-2.56a2.426 2.426 0 1 0-4.852 0v1.768h4.852zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 0 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<svg width="24" height="24" viewBox="-3.5 0 19 19" class="EGRzqdMqFGbncKx" id="eHtCczehqWNQbOp" style="display: none;">
				<path d="M11.182 8.927v6.912a.794.794 0 0 1-.792.792H1.61a.794.794 0 0 1-.792-.792V8.927a.794.794 0 0 1 .792-.792h.654L1.956 7.11a3.534 3.534 0 0 1 6.769-2.035.554.554 0 1 1-1.062.32A2.426 2.426 0 0 0 3.017 6.79l.404 1.345h6.97a.794.794 0 0 1 .79.792zM7.108 11.47a1.108 1.108 0 1 0-1.583 1.001v1.849a.475.475 0 1 0 .95 0v-1.849a1.108 1.108 0 0 0 .633-1.001z"></path>
			</svg>
			<label>Data przypomnienia*</label>
			<input class="form-control SSwvVHQbXDMTOIM" type="date" id="ZCzfTXZrzTrrevD" readonly />
		</div>
		<div style="height: 10px;"></div>
		<!--save-->
		<div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" id="oJBIgYGPcPhAnBT" disabled />
        </div>
		<!---->
		<!--dropdown menu-->


		<div class="YjkkjeNTfcoaTKV" id="XNHJrvIVqCNmgtk" title="Pokaż opcje">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="rgba(255, 255, 255, 0.8)">
				<path d="M8,12a2,2,0,1,1-2-2A2,2,0,0,1,8,12Zm10-2a2,2,0,1,0,2,2A2,2,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z" />
			</svg>
			<input type="checkbox" style="display: none;" />
		</div>
		<div class="lNtafEivzgxCGEt" id="bYagNRvDbxmLPLr" style="display: none;">
			<div class="ZowjxyOWQjRdLqf" id="mwWoomQJyONfwSI">
				<span>Edytuj</span>
				<svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg>			
			</div>
			<div class="ZowjxyOWQjRdLqf" id="hnYUcPVRjsmjSBc">
				<span>Usuń</span>
				<svg width="18" height="18" viewBox="0 0 24 24"><path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"></path></svg>
			</div>
		</div>


		<!---->
		@*<!--edit-->
		<div class="BnDZmDEehCCybzG LPbaczkZTGFbIBk xpsijJzntnReBBE" id="mwWoomQJyONfwSI" title="Edytuj">
			<span>Edytuj</span>
			<span style="display: none;">W trakcie edycji</span>
			<svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg>			
		</div>
		<!---->
		<!--delete-->
		<div class="BnDZmDEehCCybzG LPbaczkZTGFbIBk xpsijJzntnReBBE ZUjudUWQaFITMQG" id="CdQpMPhonsugjYc" title="Usuń">
			<span>Usuń</span>
			<svg width="18" height="18" viewBox="0 0 24 24"><path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"></path></svg>
		</div>
		<!---->*@
		<!--exit-->
		<div class="BnDZmDEehCCybzG LPbaczkZTGFbIBk" id="xcMbuPyBDAClZLf" title="Zamknij">
			<svg viewBox="0 0 470 470" width="15" height="15">
				<path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path>
			</svg>
		</div>
		<!---->
	</form>
</div>

@*<div id="lZTzyyrlsKUKtLZ" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
        <div class="IvBtEDulLESDYxK">
            <span id="ewZOdyapfFtPtMi"></span>
            <span id="nZDLxLTZwFzAFCY"></span>
        </div>
        <div class="btn-danger-div" id="FamcDfiHIvhi">
            <input type="button" value="Usuń" id="BwVzvkXmOvPyjNM"/>
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" />
        </div>
    </form>
</div>*@

@*<a target="_blank" href="https://icons8.com/icon/2797/home">Home</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@


<script type="text/javascript">
	sessionStorage.setItem('XqeDUTCSnAFTQgb', `@userID`);
	sessionStorage.removeItem('mroVVIkOkxMcDez');

	var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));
	var model_r = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Reminders));
	var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));
	
	

	var rightNav = document.querySelector('.right-nav');
	var spanInfo = document.createElement('div');
	spanInfo.id = 'info';
	spanInfo.innerHTML += '<svg viewBox="0 0 32 32" width="64" height="64"><path d="M26.562 5.309c-0.896-0.918-1.916-1.71-3.034-2.349l-0.067-0.035c-2.087-1.186-4.584-1.886-7.245-1.886-0.825 0-1.634 0.067-2.422 0.196l0.086-0.012c-0.999 0.16-1.89 0.404-2.739 0.731l0.092-0.031c-1.246 0.453-2.316 1.113-3.223 1.948l0.007-0.006c0.918-0.532 1.981-0.958 3.107-1.224l0.080-0.016c0.866-0.213 1.861-0.334 2.884-0.334 0.627 0 1.242 0.046 1.844 0.134l-0.068-0.008c2.677 0.375 5.028 1.556 6.854 3.286l-0.006-0.005c0.612 0.58 1.148 1.231 1.598 1.942l0.024 0.041c0.841 1.321 1.34 2.93 1.34 4.657 0 1.568-0.412 3.039-1.133 4.312l0.023-0.044c-1.209 1.8-3.179 3.007-5.439 3.16l-0.022 0.001c-1.030-0.038-1.992-0.295-2.852-0.725l0.040 0.018c-1.7-0.775-2.86-2.459-2.86-4.414 0-1.358 0.56-2.586 1.462-3.465l0.001-0.001c-0.101-0.011-0.219-0.017-0.337-0.017-1.264 0-2.368 0.685-2.961 1.704l-0.009 0.016c-0.456 0.819-0.725 1.797-0.725 2.838 0 0.791 0.155 1.546 0.437 2.235l-0.014-0.040c-0.345-0.687-0.603-1.483-0.732-2.323l-0.006-0.045c-0.065-0.421-0.103-0.907-0.103-1.401 0-1.223 0.228-2.393 0.645-3.469l-0.022 0.066c0.437-1.149 1.028-2.14 1.76-3.008l-0.013 0.015c0.892-1.11 2.051-1.97 3.382-2.487l0.055-0.019c-0.799-0.6-1.808-0.96-2.901-0.96-0.044 0-0.087 0.001-0.131 0.002l0.006-0c-0.038-0.001-0.082-0.001-0.127-0.001-2.37 0-4.543 0.842-6.237 2.242l0.016-0.013c-0.999 0.832-1.825 1.833-2.443 2.963l-0.027 0.053c-0.327 0.595-0.622 1.29-0.849 2.015l-0.022 0.082c0.225-1.885 0.777-3.599 1.598-5.146l-0.038 0.079c-1.345 0.939-2.384 2.233-2.992 3.745l-0.020 0.056c-0.69 1.699-1.090 3.669-1.090 5.733 0 0.844 0.067 1.671 0.196 2.479l-0.012-0.089c1.25 7.137 7.4 12.492 14.801 12.492 8.293 0 15.015-6.722 15.015-15.015 0-4.164-1.695-7.932-4.433-10.652l-0.001-0.001z"></path></svg>';
	spanInfo.innerHTML += '<span>Aplikacja TIMETASK działa najlepiej na przeglądarce \'Mozilla Firefox\'.</span>';
	spanInfo.style.display = 'none';
	rightNav.appendChild(spanInfo);


	var logoScreen = document.createElement('div');
	logoScreen.id = 'logoid';
	logoScreen.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="1000" height="625" viewBox="0 0 1000 625"><g transform="matrix(1,0,0,1,0,0)"><svg viewBox="0 0 512 320" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" height="625" width="1000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0,0)"><svg viewBox="0 0 512 320" height="320" width="512"><g><svg></svg></g><g><svg viewBox="0 0 512 320" height="320" width="512"><g><path xmlns="http://www.w3.org/2000/svg" d="M96 160c0-88.366 71.634-160 160-160 88.366 0 160 71.634 160 160 0 88.366-71.634 160-160 160-88.366 0-160-71.634-160-160zM256 313.678c84.874 0 153.678-68.804 153.678-153.678 0-84.874-68.804-153.678-153.678-153.678-84.874 0-153.678 68.804-153.678 153.678 0 84.874 68.804 153.678 153.678 153.678z" fill="#61777f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal" data-fill-palette-color="tertiary"></path></g><g transform="matrix(1,0,0,1,128,142.47313061770893)"><svg viewBox="0 0 256 35.05373876458214" height="35.05373876458214" width="256"><g><svg viewBox="0 0 256 35.05373876458214" height="35.05373876458214" width="256"><g><svg viewBox="0 0 256 35.05373876458214" height="35.05373876458214" width="256"><g id="textblocktransform"><svg viewBox="0 0 256 35.05373876458214" height="35.05373876458214" width="256" id="textblock"><g><svg viewBox="0 0 256 35.05373876458214" height="35.05373876458214" width="256"><g transform="matrix(1,0,0,1,0,0)"><svg width="256" viewBox="0 -35.79999923706055 261.42999267578125 35.79999923706055" height="35.05373876458214" data-palette-color="#61777f"><path d="M18.05-2.15L30.2-2.15 30.2 0 0 0 0-2.15 12.15-2.15 12.15-29.55 1.55-29.55 1.55-34.95 28.65-34.95 28.65-29.55 18.05-29.55 18.05-2.15ZM30.2-2.15L35.05-2.15 35.05-34.95 40.95-34.95 40.95-2.15 45.8-2.15 45.8 0 30.2 0 30.2-2.15ZM90.09-2.15L94.95-2.15 94.95 0 84.2 0 84.2-27.3 72-3.05 68.7-3.05 56.55-27.3 56.55 0 45.8 0 45.8-2.15 50.65-2.15 50.65-34.95 59.84-34.95 70.4-13 80.94-34.95 90.09-34.95 90.09-2.15ZM94.94-2.15L99.79-2.15 99.79-34.95 124.34-34.95 124.34-29.4 105.69-29.4 105.69-20.15 122.44-20.15 122.44-14.9 105.69-14.9 105.69-5.55 124.94-5.55 124.94-2.15 129.79-2.15 129.79 0 94.94 0 94.94-2.15ZM145.69-2.15L157.84-2.15 157.84 0 127.64 0 127.64-2.15 139.79-2.15 139.79-29.55 129.19-29.55 129.19-34.95 156.29-34.95 156.29-29.55 145.69-29.55 145.69-2.15ZM191.24-2.15L197.04-2.15 197.04 0 185.89 0 182.39-7.95 164.89-7.95 161.39 0 150.24 0 150.24-2.15 156.04-2.15 170.49-34.95 176.79-34.95 191.24-2.15ZM167.29-13.4L179.99-13.4 173.64-27.8 167.29-13.4ZM217.44-2.15L223.69-2.15 223.69 0 192.19 0 192.19-2.15 198.59-2.15Q196.19-3.4 194.19-5.25L194.19-5.25 197.89-9.7Q203.19-5.1 208.89-5.1L208.89-5.1Q211.74-5.1 213.41-6.33 215.09-7.55 215.09-9.58 215.09-11.6 213.51-12.73 211.94-13.85 208.09-14.78 204.24-15.7 202.24-16.48 200.24-17.25 198.69-18.5L198.69-18.5Q195.59-20.85 195.59-25.7 195.59-30.55 199.11-33.18 202.64-35.8 207.84-35.8L207.84-35.8Q211.19-35.8 214.49-34.7 217.79-33.6 220.19-31.6L220.19-31.6 217.04-27.15Q215.49-28.55 212.84-29.45 210.19-30.35 207.61-30.35 205.04-30.35 203.39-29.3 201.74-28.25 201.74-26.13 201.74-24 203.39-22.88 205.04-21.75 210.41-20.45 215.79-19.15 218.51-16.8 221.24-14.45 221.24-10.2L221.24-10.2Q221.24-5.05 217.44-2.15L217.44-2.15ZM223.68-2.15L228.53-2.15 228.53-34.95 234.43-34.95 234.43-17.9 250.43-34.95 257.93-34.95 243.88-19.65 256.58-2.1 256.58-2.15 261.43-2.15 261.43 0 251.13 0 239.53-15.3 234.43-9.8 234.43 0 223.68 0 223.68-2.15Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="#61777f" class="undefined-text-0" data-fill-palette-color="primary" id="text-0"></path></svg></g></svg></g></svg></g></svg></g><g></g></svg></g></svg></g></svg></g><defs></defs></svg><rect width="512" height="320" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>';
	logoScreen.style.display = 'none';
	rightNav.appendChild(logoScreen);


	$(document).ready(function () {
	
		if(localStorage.getItem('logged') != null){

			//$(loader).fadeIn();

			//setTimeout(function ()
			//{
			//	$('#logoid').fadeIn();
			//}, 300);

			//setTimeout(function ()
			//{
			//	$('#logoid').fadeOut();
			//}, 2000);

			//setTimeout(function ()
			//{
			//	$(spanInfo).fadeIn();
			//}, 2400);

			//setTimeout(function ()
			//{
			//	$(spanInfo).fadeOut();
			//	$(loader).fadeOut();
			//}, 4600);
		}


		/**/
		var $round = $('#round1'),
		  roundRadius = $round.find('circle').attr('r'),
		  roundPercent = $round.data('percent'),
		  roundCircum = 2 * roundRadius * Math.PI,
		  roundDraw = roundPercent * roundCircum / 100
		$round.css('stroke-dasharray', roundDraw  + ' 999')

		let count1 = 71;
		var percentage1 = count1 / 1000;
		let i = 0;
		var interval1 = setInterval(function(){
			if(i>=count1){
				
				clearInterval(interval1);
			}
			else {
				i++;
				$('#XLkvcgJWzEfxPvE').text(i + '%');
			}
		}, percentage1);
		/**/

		/**/
		var $round2 = $('#round2'),
		  roundRadius2 = $round2.find('circle').attr('r'),
		  roundPercent2 = $round2.data('percent'),
		  roundCircum2 = 2 * roundRadius2 * Math.PI,
		  roundDraw2 = roundPercent2 * roundCircum2 / 100
		$round2.css('stroke-dasharray', roundDraw2  + ' 999')

		let count2 = 42;
		var percentage2 = count2 / 1000;
		let j = 0;
		var interval2 = setInterval(function(){
			if(j>=count2){
				
				clearInterval(interval2);
			}
			else {
				j++;
				$('#HTdLmnPsRaqTSUU').text(j + '%');
			}
		}, percentage2);
		/**/



		
	});



	var model_d = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Department));
	if (model_d.length == 0)
	{
		let buttons = document.querySelectorAll("button");
		for(let i = 0; i < buttons.length; i++){
			buttons[i].setAttribute('disabled', '');
		}
	}

	function departmentClick(t)
	{
		let span = t.querySelector("span");
		let svgPath = t.querySelector("svg path");
		let id = t.getAttribute('id');
		let departA1 = document.querySelectorAll(".departments__a");
		let departA2 = document.querySelectorAll(".departments__a2");
		let departA3 = document.querySelectorAll(".departments__a3");
		let departW = document.querySelectorAll(".departments__worker");

		let b = document.querySelectorAll(".departments__ button");
		let c = document.querySelectorAll(".departments__ button svg path");

		if (!t.hasAttribute('opened'))
		{
			for (let i = 0; i < departA1.length; i++)
			{
				if (departA1[i].getAttribute('id') == id) {
					departA1[i].style.display = '';
					svgPath.setAttribute('d', 'm572.501 747-254.933 815.893-101.867-31.786 278.507-890.774h1105.813v-320H783.808L612.181 107H.021v1546.667c0 88.213 71.787 160 160 160h1388.054c75.946 0 141.973-54.08 156.906-128.64L1892.608 747H572.501Z');
					t.setAttribute('opened', '');

					localStorage.setItem('opened', id);
					localStorage.removeItem("opened2");
				}
				else {
					departA1[i].style.display = 'none';
					b[i].removeAttribute('opened');
					c[i].setAttribute('d', 'M225.882 564.765V451.824h764.386L764.386 113H0v1524.706c0 93.402 76.01 169.412 169.412 169.412h1581.176c93.403 0 169.412-76.01 169.412-169.412V564.765H225.882Z');
					
					for(let j = 0; j < departW.length; j++){
						departW[j].style.display = 'none';
					}
				}    
			}
			for (let i = 0; i < departA2.length; i++)
			{
				if (departA2[i].getAttribute('id') == id) {
					departA2[i].style.display = '';
				}   
				else {
					departA2[i].style.display = 'none';
					departA2[i].removeAttribute('opened');
					let departA2_svg = departA2[i].querySelectorAll("svg path");
					for(let j = 0; j < departA2_svg.length; j++){
						departA2_svg[j].setAttribute('d', 'M225.882 564.765V451.824h764.386L764.386 113H0v1524.706c0 93.402 76.01 169.412 169.412 169.412h1581.176c93.403 0 169.412-76.01 169.412-169.412V564.765H225.882Z');
					}
				}     
			}
			for (let i = 0; i < departA3.length; i++)
			{
				if (departA3[i].getAttribute('id') == id) {
					departA3[i].style.display = '';
				}  
				else {
					departA3[i].style.display = 'none';
				} 
			}
		}
		else 
		{
			svgPath.setAttribute('d', 'M225.882 564.765V451.824h764.386L764.386 113H0v1524.706c0 93.402 76.01 169.412 169.412 169.412h1581.176c93.403 0 169.412-76.01 169.412-169.412V564.765H225.882Z');
			t.removeAttribute('opened');
			for (let i = 0; i < departA1.length; i++)
			{
				if (departA1[i].getAttribute('id') == id)
					departA1[i].style.display = 'none';
			}
			for (let i = 0; i < departA2.length; i++)
			{
				if (departA2[i].getAttribute('id') == id){
					departA2[i].style.display = 'none';
					let svgD2 = departA2[i].querySelectorAll("svg path");
					for (let j = 0; j < svgD2.length; j++) {
						svgD2[j].setAttribute('d', 'M225.882 564.765V451.824h764.386L764.386 113H0v1524.706c0 93.402 76.01 169.412 169.412 169.412h1581.176c93.403 0 169.412-76.01 169.412-169.412V564.765H225.882Z');
					}
					departA2[i].removeAttribute('opened');
				}     
			}
			for (let i = 0; i < departA3.length; i++)
			{
				if (departA3[i].getAttribute('id') == id)
					departA3[i].style.display = 'none';
			}
			for (let i = 0; i < departW.length; i++) 
			{
				if (departW[i].getAttribute('worker') == id) {
					departW[i].style.display = 'none';

				}   
			}

			localStorage.removeItem("opened");
			localStorage.removeItem("opened2");
		}
	};

	function departmentClick2(t) 
	{
		let svg = t.querySelector("svg");
		let svgPath = t.querySelector("svg path");
		let workers = document.querySelectorAll(".departments__worker");
		let id = t.getAttribute("worker");

		if (!t.hasAttribute('opened')) 
		{
			svgPath.setAttribute('d', 'm572.501 747-254.933 815.893-101.867-31.786 278.507-890.774h1105.813v-320H783.808L612.181 107H.021v1546.667c0 88.213 71.787 160 160 160h1388.054c75.946 0 141.973-54.08 156.906-128.64L1892.608 747H572.501Z')
			t.setAttribute('opened', '');

			for(let i = 0; i < workers.length; i++){
				if(workers[i].getAttribute("worker") == id){
					workers[i].style.display = '';
					localStorage.setItem('opened2', id);
				}
			}
		}
		else 
		{
			svgPath.setAttribute('d', 'M225.882 564.765V451.824h764.386L764.386 113H0v1524.706c0 93.402 76.01 169.412 169.412 169.412h1581.176c93.403 0 169.412-76.01 169.412-169.412V564.765H225.882Z');
			t.removeAttribute('opened');

			for(let i = 0; i < workers.length; i++){
				if(workers[i].getAttribute("worker") == id){
					workers[i].style.display = 'none';
				}
			}

			localStorage.removeItem("opened2");
		}
	};

	function hideA() 
	{
		let a = document.querySelectorAll(".departments__ a");
		for (let i = 0; i < a.length; i++)
		{
			a[i].style.display = 'none';
		}
	};
	hideA();

	


	if(localStorage.length > 0){
		if(localStorage.getItem("opened") != null){
			let id = localStorage.getItem("opened")

			let departA1 = document.querySelectorAll(".departments__a");
			let departA2 = document.querySelectorAll(".departments__a2");
			let departA3 = document.querySelectorAll(".departments__a3");

			let d = document.querySelectorAll(".departments__ button");
			let d_svgPath = document.querySelectorAll(".departments__ button svg path");
			for(let i = 0; i < d.length; i++){
				if(d[i].getAttribute('id') == id){
					d_svgPath[i].setAttribute('d', 'm572.501 747-254.933 815.893-101.867-31.786 278.507-890.774h1105.813v-320H783.808L612.181 107H.021v1546.667c0 88.213 71.787 160 160 160h1388.054c75.946 0 141.973-54.08 156.906-128.64L1892.608 747H572.501Z');
					d[i].setAttribute('opened', '');
					for(let j = 0; j < departA1.length; j++){
						if (departA1[j].getAttribute("id") == id)
							departA1[j].style.display = '';
						//departA1[j].style.display = '';
					}
					for(let j = 0; j < departA2.length; j++){
						if (departA2[j].getAttribute("id") == id)
							departA2[j].style.display = '';
						//departA2[j].style.display = '';
					}
					for(let j = 0; j < departA3.length; j++){
						if (departA3[j].getAttribute("id") == id)
							departA3[j].style.display = '';
						//departA3[j].style.display = '';
					}
				}
			}
		}

		if(localStorage.getItem('opened2') != null){
			let id = localStorage.getItem("opened2")

			let departA2 = document.querySelectorAll(".departments__a2");
			let departWorker = document.querySelectorAll('.departments__worker');
			for(let i = 0; i < departA2.length; i++){
				if(departA2[i].getAttribute('id') == id){
					let svg = departA2[i].querySelectorAll('svg path');
					for(let j = 0; j < svg.length; j++){
						svg[j].setAttribute('d', 'm572.501 747-254.933 815.893-101.867-31.786 278.507-890.774h1105.813v-320H783.808L612.181 107H.021v1546.667c0 88.213 71.787 160 160 160h1388.054c75.946 0 141.973-54.08 156.906-128.64L1892.608 747H572.501Z');
					}
					departA2[i].setAttribute('opened', '');
				}
			}
			for(let i = 0; i < departWorker.length; i++){
				if(departWorker[i].getAttribute('id') == id){
					departWorker[i].style.display = '';
				}
			}
		}

	}

	function addWorkerSaveToStorage(t) {
		localStorage.removeItem("storage_AddWorker");
		let id = t.getAttribute("id");
		localStorage.setItem("storage_AddWorker", id);
	};



	


	

</script>


<script type="text/javascript" src="~/js/site_other.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
@* <script src="~/js/color-picker.js"></script> *@
