@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @{
    var workers = ((IEnumerable<Workers2>)ViewBag.Workers);
    var departments = ((IEnumerable<Department>)ViewBag.Department);
    var workstations = ((IEnumerable<Workstations>)ViewBag.Workstation);
    var shifts = ((IEnumerable<Shifts>)ViewBag.Shift);
} *@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav SHNVXqYepsFyCsw">
        @* <div class="PeEkAugENvBHbuG">Ustawienia</div> *@

        @* <div class="settings">
            <div class="settings_">
                <div class="settings__">
                    <div>
                        <div>
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Pracownicy</span>
                        </div>
                        <div>
                            <span>Ilość</span>
                            @if (workers.Count() > 0)
                            {
                                <span>@workers.Count()</span>
                            }
                            else
                            {
                                <span style="color: red;">@workers.Count()</span>
                            }                        
                        </div>                     
                    </div>
                    <div>
                        <div>
                            <ion-icon name="cube-outline"></ion-icon>
                            <span>Działy</span>
                        </div>
                        <div>
                            <span>Ilość</span>
                            @if (departments.Count() > 0)
                            {
                                <span>@departments.Count()</span>
                            }
                            else
                            {
                                <span style="color: red;">@departments.Count()</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="settings__">
                    <div>
                        <div>
                            <ion-icon name="briefcase-outline"></ion-icon>
                            <span>Stanowiska</span>
                        </div>
                        <div>
                            <span>Ilość</span>
                            <span>@workstations.Count()</span>
                        </div>
                    </div>
                </div>

                <div class="settings__">
                    <div>
                        <div>
                            <ion-icon name="git-compare-outline"></ion-icon>
                            <span>Grupy zmianowe</span>
                        </div>
                        <div>
                            <span>Ilość</span>
                            <span>@shifts.Count()</span>
                        </div>
                    </div>

                    @if (shifts.Count() > 0)
                    {
                        @foreach (var row in shifts)
                        {
                            <div>
                                <div>
                                    <span>@row.Name</span>
                                </div>
                                <div>
                                    <span style="font-size: 16px;">
                                        @workers.Where(e => e.ShiftId == row.Id).Count()
                                    </span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="settings_">

            </div>
            <div class="settings_">

            </div>
        </div> *@

        @* <div class="settings">
            <div class="settings_">
                <a href="@Url.Action("Index", "Workers2")">
                    <ion-icon name="people-outline"></ion-icon>
                    <span>Pracownicy</span>
                </a>
                <a>
                    <ion-icon name="briefcase-outline"></ion-icon>
                    <span>Stanowiska</span>
                </a>
                <a>
                    <ion-icon name="git-compare-outline"></ion-icon>
                    <span>Grupy zmianowe</span>
                </a>
            </div>
            <div class="settings_">
                <a>
                    <ion-icon name="time-outline"></ion-icon>
                    <span>Czas pracy i Urlopy</span>
                </a>
                <a>
                    <ion-icon name="calendar-outline"></ion-icon>
                    <span>Grafik</span>
                </a>
                <a>
                    <ion-icon name="id-card-outline"></ion-icon>
                    <span>Bilans</span>
                </a>
            </div>
            <div class="settings_">
                <a>
                    <ion-icon name="snow-outline"></ion-icon>
                    <span>Święta</span>
                </a>
                <a>
                    <ion-icon name="person-add-outline"></ion-icon>
                    <span>Konta i uprawnienia</span>
                </a>
                <a>
                    <ion-icon name="options-outline"></ion-icon>
                    <span>Inne ustawienia</span>
                </a>
            </div>
        </div> *@

    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>