@model IEnumerable<TimeTask.Models.Task2>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";

    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Id;
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0">
        <div class="grZWUijDhGWKyHd" style="opacity: 0;">          
            <div class="GlpaymKnQLOGAOs">
                <div class="fSJtEaXwJSHzoxW"></div>

                @* @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).OrderBy(x => x.Surname).ThenBy(e => e.DepartmentID))
                {
                    <div class="wcHMgjWjXaRMPKy" worker="@item.Id" id="@item.DepartmentID" style="display: none;">
                        <div class="oKvcDSylPNSLgqr">
                            <span>@item.Surname @item.Name</span>
                            <span>
                                @{
                                    var row = ((IEnumerable<Department>)ViewBag.Departments).FirstOrDefault(e => e.Id == item.DepartmentID);
                                }
                                @row?.Name
                            </span>
                        </div>

                        @for(int i = 1; i <= 7; i++){
                            <div class="SBVWNWOJZnTplXL" onmouseover="szWBomtrGKAViBb(this, event)">
                                <div class="LwxRoYhfmyzTlGm" worker="@item.Id">
                                    <input type="time" onblur="wgddAsHIsXNWQkl(this)" id="wgddAsHIsXNWQkl_" />
                                    <span>-</span>
                                    <input type="time" onblur="YNXxUwIhBTDduDG(this)" id="YNXxUwIhBTDduDG_" />
                                    <div class="avnythFRVEkXnim" worker="@item.Id" style="display: none;"></div>
                                    <a class="MNewKOhqZkqNDeJ" onclick="jzOfWppePYfqVYf(this)" title="Usuń wpisy" style="display: none;"><ion-icon name="trash-outline"></ion-icon></a>
                                </div>
                                <div class="AQzCKqmlrQJmxzn">  
                                    @if (Model != null)
                                    {
                                        foreach (var item2 in Model)
                                        {
                                            if (item.Id == item2.WorkerID && item2.TaskNameID != null)
                                            {
                                                <div class="ZslufbFdcfCIeaW" id2="@item2.TaskNameID" id="@item2.Date?.ToString("yyyy-MM-dd")" pHXkWraiQguiibO="@item2.Id" style="display: none;">
                                                    @{
                                                        var taskName = ((IEnumerable<TaskName2>)ViewBag.TaskNames).FirstOrDefault(x => x.Id == item2.TaskNameID);
                                                    }
                                                    <span>@taskName?.Name</span>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="lzfFwBKdGEtuYUv" style="display: none;">
                                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                        }
                    </div>                   
                } *@
            </div>
        </div>
    </section>
</div> 

<script type="text/javascript">
    //var model_t = @Html.Raw(JsonConvert.SerializeObject(Model));
    //var model_task = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TaskNames));
</script>

<script type="text/javascript" src="~/js/TaskJS.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

@* <script type="text/javascript">
    if (sessionStorage.getItem('JcvzYoovBpGECWh') != null)
    {
        arKOctcZVJhWuhL(sessionStorage.getItem('JcvzYoovBpGECWh'));
    }
    else {
        arKOctcZVJhWuhL(@firstDepartmentID);
    }
</script> *@