@model IEnumerable<TimeTask.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Task")
    </section>
    <section class="right-nav">
        <div class="grZWUijDhGWKyHd">
            
            <div class="GlpaymKnQLOGAOs">

                <div class="fSJtEaXwJSHzoxW"></div>

                @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).OrderBy(x => x.DepartmentID))
                {
                    <div class="wcHMgjWjXaRMPKy" worker="@item.Id" id="@item.DepartmentID" style="display: none;">
                        <div class="oKvcDSylPNSLgqr">
                            <!--imie nazwisko pracownika-->
                            <span>@item.Surname @item.Name</span>
                            <span>
                                @{
                                    var row = ((IEnumerable<Department>)ViewBag.Departments).FirstOrDefault(e => e.Id == item.DepartmentID);
                                }
                                @row?.Name
                            </span>
                        </div>

                        @*<div class="txiqlohrZzPoTzQ"></div>*@
                        @for(int i = 1; i <= 7; i++){
                            <div class="SBVWNWOJZnTplXL" worker="@item.Id">
                                <div class="LwxRoYhfmyzTlGm">
                                    <input type="time" id="vnuzfjzFlwNnnIi" />
                                    <span>-</span>
                                    <input type="time" id="KBGvvFHeLdDvzlR" />
                                </div>
                                <div class="AQzCKqmlrQJmxzn"></div>
                            </div>
                        }
                    </div>                   
                }
            </div>
        </div>
    </section>
</div>

<div id="hJQarhdVtvVBOnk" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa zadania..." id="IluduaIgOUVOGRf" />
        </div>
        <div class="form-group form-group-margin">
            <select class="form-control bYwPpsleuVCBkPv" id="hdfoDuUOBPpvhSl">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Departments))
                {
                    <option value="@item.Id">@item.Name</option>
                }
                <option id="null">Wszyscy</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="zGWGBXreWGtGNcS()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="rURQfWmsrmzXwCV()" />
        </div>
    </form>
</div>
<div id="HrjQZZqwQjnGRuC" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa zadania..." id="gPLPpoufGitmRJK" />
        </div>
        <div class="form-group form-group-margin">
            <select class="form-control bYwPpsleuVCBkPv" id="rFaJKmZDlbnwiBP">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Departments))
                {
                    <option value="@item.Id">@item.Name</option>
                }
                <option id="0">Wszyscy</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="CaomIrxdWJchcOk()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="wNvCTiOzGLwtsaX()" />
        </div>
    </form>
</div>

       