@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                
            </div>
            @* <div class="IVnxgCORpPYL" onclick="YENAVVQWwo()">
                <span>Nowe zadanie</span>
            </div> *@
            <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" onclick="YENAVVQWwo()">
                <ion-icon name="add-outline"></ion-icon>
                <span>Nowe zadanie</span>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            @* <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                <thead>
                    <th style="width: 100px;">ID</th>
                    <th>Nazwa zadania</th>
                    <th>Opcje</th>
                </thead>
                <tbody>
                    @foreach (var item in ((IEnumerable<TaskName2>)ViewBag.TaskNames).OrderBy(x => x.Id))
                    {
                        <tr class="EmRSNqsShbDnTsE" id="@item.DepartmentID">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="MUdkksPiwwBklvN(this)" title="Edytuj">
                                    <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                                </a>
                                <a onclick="LXxUWyFdXJNnlvI(this)" title="Usuń">
                                    <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table> *@
        </div>

    </section>
</div>

<div id="hJQarhdVtvVBOnk" class="pGKcZvErUB" style="display: none;">
    <form class="form">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa zadania..." id="IluduaIgOUVOGRf" />
        </div>
        <div class="form-group form-group-margin">
            <select class="form-control bYwPpsleuVCBkPv" id="hdfoDuUOBPpvhSl">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name))
                {
                    <option value="@item.Id">@item.Name</option>
                }
                @* <option id="null">Wszyscy</option> *@
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="zGWGBXreWGtGNcS()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="rURQfWmsrmzXwCV()" />
        </div>
    </form>
</div>

<div id="jwOsncySQjwD" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa zadania..." id="xEjLBIPqUXLK" />
        </div>
        <div class="form-group form-group-margin">
            <label>Wybierz dział:</label>
            <select class="form-control bYwPpsleuVCBkPv" id="ZRfCdgttdnOCfXF">
                @foreach (var item in ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name))
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="KfdhlqmDXEsR()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="vQaAzODstzsu()" />
        </div>
    </form>
</div>

<div id="YUkuEpVsBmYTtjN" class="pGKcZvErUB" style="display: none;">
    <form class="form_2">
        <div class="IvBtEDulLESDYxK">
            <span id="cKSpcSCmKURLYSF"></span>
            <span>Spowoduje to usunięcie zadań z tą nazwą we wszystkich grafikach! Upewnij się, że wszystkie potrzebne grafiki zostały pobrane!</span>
        </div>
        <div class="btn-danger-div" id="eUkBfdkCVpxXxot">
            <input type="button" value="Usuń" id="ApFOgPcwItDNkKp" onclick="aDkOgungYCvMbHN()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="spDekwIzyQklvGF()" />
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/sorttable.js"></script>

<script type="text/javascript">
    // var model_d = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Departments));
    // var model_task = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TaskNames));

    // let selected = document.getElementById('settings_tasks_id');
    // selected.classList.add('settings_a_selected');
</script>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskSettingsJS.js"></script>