@using System.Security.Claims
@{
    ViewData["Title"] = "TasksSettings";

    //userID
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var userID = "";
    if (claimsIdentity != null)
    {
        var userIdClaim = claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
        {
            userID = userIdClaim.Value;
        }
    }

    var encryptedUserID = TimeTask.Data.Encryption.EncryptionHelper.Encrypt(userID);

    var taskSettingsArray = ((IEnumerable<TasksSettings>)ViewBag.TasksSettings).FirstOrDefault(x => x.UserId == userID);
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb yQNvRBYQAhqDuTe">
            <div class="ECTosDyufuTqvBV gvkEfATyldCdKLB">
                <a href="@Url.Action("Settings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln"><span>Zadania (tabela)</span></a>
                <a href="@Url.Action("TasksSettings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln MQihtEemnyVHxOa"><span>Ustawienia</span></a>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia główne</span>
                <div class="msdgExEZCpefgcL">
                    <span>Widok grafiku: (admin i liderzy)</span>
                    <select class="form-control PpUlJWeIciRKSTQ" id="DGSWGCQnhgXKmAe_" onchange="DGSWGCQnhgXKmAe('@encryptedUserID')">
                        @if (taskSettingsArray != null)
                        {
                            if (taskSettingsArray.WorkScheduleView == 0)
                            {
                                <option selected>Tygodniowy (domyślny)</option>
                                <option>Miesięczny</option>
                            }
                            if (taskSettingsArray.WorkScheduleView == 1)
                            {
                                <option>Tygodniowy (domyślny)</option>
                                <option selected>Miesięczny</option>
                            }
                        }
                        else
                        {
                            <option>Tygodniowy (domyślny)</option>
                            <option>Miesięczny</option>
                        }
                    </select>
                </div>
                <div class="msdgExEZCpefgcL">
                    <span>Pierwszy dzień tygodnia: (help icon: dotyczy grafiku tygodniowego) (admin)</span>
                    <select class="form-control PpUlJWeIciRKSTQ" id="ynAnPsGicwfcWMt_" onchange="ynAnPsGicwfcWMt('@encryptedUserID')">
                        @if (taskSettingsArray != null)
                        {
                            if (taskSettingsArray.FirstDayOfWeek == 0)
                            {
                                <option selected>Poniedziałek (domyślny)</option>
                                <option>Niedziela</option>
                            }
                            if (taskSettingsArray.FirstDayOfWeek == 1)
                            {
                                <option>Poniedziałek (domyślny)</option>
                                <option selected>Niedziela</option>
                            }
                        }
                        else
                        {
                            <option>Poniedziałek (domyślny)</option>
                            <option>Niedziela</option>
                        }
                    </select>
                    <span style="color: greenyellow;">(działa)</span>
                </div>
                <div class="msdgExEZCpefgcL">
                    <span>Limit przydzielonych zadań na dzień: (admin)</span>
                    <select class="form-control HZDznQEKaNVLIxx" id="uTwWyyqQLuKCRUq_" onchange="uTwWyyqQLuKCRUq('@encryptedUserID')">
                        @if (taskSettingsArray != null)
                        {
                            for (int i = 10; i >= 1; i--)
                            {
                                if (taskSettingsArray.DayTasksLimit == i)
                                {
                                    if (i == 10)
                                    {
                                        <option value="@i" selected>@i (domyślny)</option>
                                    }
                                    else
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                }
                                else
                                {
                                    if (i == 10)
                                    {
                                        <option value="@i">@i (domyślny)</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <option value="10">10 (domyślny)</option>
                            @for (int i = 9; i >= 1; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                    <span class="pCAkeIBbalSqCTB" id="NquudTpGloVzKoB" onclick="vNqzVHFCucSjrph()">wyjątki dla działów</span>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Urlopy</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.ShowLeaves == true)
                                {
                                    <input type="checkbox" checked id="vHNhdTLtVqLZhGE_" onchange="vHNhdTLtVqLZhGE('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="vHNhdTLtVqLZhGE_" onchange="vHNhdTLtVqLZhGE('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="vHNhdTLtVqLZhGE_" onchange="vHNhdTLtVqLZhGE('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokaż urlopy w grafiku (wszyscy)</span>
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Święta</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.ShowHolidays == true)
                                {
                                    <input type="checkbox" checked id="xIHLFrzYfniOJtj_" onchange="xIHLFrzYfniOJtj('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="xIHLFrzYfniOJtj_" onchange="xIHLFrzYfniOJtj('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="xIHLFrzYfniOJtj_" onchange="xIHLFrzYfniOJtj('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokaż święta w grafiku (wszyscy)</span>
                        <span style="color: greenyellow;">(działa)</span>
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.LockAddingToHolidays == true)
                                {
                                    <input type="checkbox" checked id="UbUzTtXGLKIHPnT_" onchange="UbUzTtXGLKIHPnT('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="UbUzTtXGLKIHPnT_" onchange="UbUzTtXGLKIHPnT('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="UbUzTtXGLKIHPnT_" onchange="UbUzTtXGLKIHPnT('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span style="width: 375px;" class="hFzZLqJdsEqdlrx">Zablokuj możliwość dodawania zadań do dni świątecznych (admin)</span>
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Prywatność</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.ShowOnlyInitials == true)
                                {
                                    <input type="checkbox" checked id="BJhwjaWvHWWTVEo_" onchange="BJhwjaWvHWWTVEo('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="BJhwjaWvHWWTVEo_" onchange="BJhwjaWvHWWTVEo('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="BJhwjaWvHWWTVEo_" onchange="BJhwjaWvHWWTVEo('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokazuj tylko inicjały imion i nazwisk w grafikach (admin i liderzy)</span>
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">                      
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.EnablePrivateSchedule == true)
                                {
                                    <input type="checkbox" checked id="UnbUFgGDXRYLZYj_" onchange="UnbUFgGDXRYLZYj('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="UnbUFgGDXRYLZYj_" onchange="UnbUFgGDXRYLZYj('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="UnbUFgGDXRYLZYj_" onchange="UnbUFgGDXRYLZYj('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Włącz prywatne grafiki (admin i liderzy)</span>
                        <ion-icon name="help-circle-outline" onclick="GtmejktUVOJfTCB()"></ion-icon>
                        @if (taskSettingsArray != null)
                        {
                            if (taskSettingsArray.EnablePrivateSchedule == true)
                            {
                                <span class="pCAkeIBbalSqCTB" id="oGcQReBvhchwRqL" onclick="blyVpYCtnXKDgCn()">lista osób</span>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Bezpieczeństwo</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.AllowOthersToEdit == true)
                                {
                                    <input type="checkbox" checked id="eSXbJrbKMlYGIrp_" onchange="eSXbJrbKMlYGIrp('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="eSXbJrbKMlYGIrp_" onchange="eSXbJrbKMlYGIrp('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="eSXbJrbKMlYGIrp_" onchange="eSXbJrbKMlYGIrp('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        @* <span class="hFzZLqJdsEqdlrx">Włącz możliwość edycji grafiku przez pracowników innych niż liderzy czy admini (admin)</span> *@
                        <span class="hFzZLqJdsEqdlrx">Zezwól na edycję grafików przez pracowników innych niż liderzy (admin)</span>
                        @* <a href="#">lista dozwolonych osób (do zrobienia (nowa tabela))</a> *@
                        @* <span class="pCAkeIBbalSqCTB" onclick="alert()">lista dozwolonych osób</span> *@
                        @if (taskSettingsArray != null)
                        {
                            if (taskSettingsArray.AllowOthersToEdit == true)
                            {
                                <span class="pCAkeIBbalSqCTB" id="pCAkeIBbalSqCTB_" onclick="vCLpIjekJHmTCDZ()">lista dozwolonych osób</span>
                            }
                        }
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">                          
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.LockScheduleEdit == true)
                                {
                                    <input type="checkbox" checked id="enKTbQYvxBzlFBO_" onchange="enKTbQYvxBzlFBO('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="enKTbQYvxBzlFBO_" onchange="enKTbQYvxBzlFBO('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="enKTbQYvxBzlFBO_" onchange="enKTbQYvxBzlFBO('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Zablokuj możliwość edycji grafików po upływie określonego czasu (admin)</span>
                    </div>
                    @if (taskSettingsArray != null)
                    {
                        if (taskSettingsArray.LockScheduleEdit == true)
                        {
                            <select class="form-control PpUlJWeIciRKSTQ" id="qAIabAYRAJSWgqK_" onchange="qAIabAYRAJSWgqK('@encryptedUserID')">
                                @if (taskSettingsArray.LockTime == 0)
                                {
                                    <option selected>Tydzień</option>
                                    <option>Miesiąc</option>
                                    <option>Rok</option>
                                }
                                @if (taskSettingsArray.LockTime == 1)
                                {
                                    <option>Tydzień</option>
                                    <option selected>Miesiąc</option>
                                    <option>Rok</option>
                                }
                                @if (taskSettingsArray.LockTime == 2)
                                {
                                    <option>Tydzień</option>
                                    <option>Miesiąc</option>
                                    <option selected>Rok</option>
                                }
                            </select>
                        }
                    }
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Inne</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.AutoCopySchedule == true)
                                {
                                    <input type="checkbox" checked id="ZwiLZYVPGXOWYCD_" onchange="ZwiLZYVPGXOWYCD('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="ZwiLZYVPGXOWYCD_" onchange="ZwiLZYVPGXOWYCD('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="ZwiLZYVPGXOWYCD_" onchange="ZwiLZYVPGXOWYCD('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Włącz automatyczne powielanie grafiku (admin i liderzy) (po włączeniu pokaż form)</span>
                        <span class="pCAkeIBbalSqCTB" id="" onclick="">ustawienia</span>
                    </div>
                    @if (taskSettingsArray != null)
                    {
                        if (taskSettingsArray.AutoCopySchedule == true)
                        {
                            <div id="ItYujZvGhAXoNJw">
                                <div class="VjYAEBHWVZOOXnf KwklCFLXfXUydOj">
                                    <span>Rozpocznij od dnia:</span>
                                    @if (taskSettingsArray.StartCopyScheduleDate.HasValue)
                                    {
                                        <input class="form-control" type="date" value="@taskSettingsArray.StartCopyScheduleDate.Value.ToString("yyyy-MM-dd")" id="oPEStVVIUxnydDp_" onchange="oPEStVVIUxnydDp('@encryptedUserID')" />
                                    }
                                </div>
                                <div class="VjYAEBHWVZOOXnf">
                                    <span>Powtarzaj:</span>
                                    <select class="form-control HZDznQEKaNVLIxx" id="gBTdQeDEXrAZpsu_" onchange="gBTdQeDEXrAZpsu('@encryptedUserID')">
                                        @if (taskSettingsArray.RepeatAutoCopySchedule == 0)
                                        {
                                            <option selected>co tydzień</option>
                                            <option>co miesiąc</option>
                                        }
                                        @if (taskSettingsArray.RepeatAutoCopySchedule == 1)
                                        {
                                            <option>co tydzień</option>
                                            <option selected>co miesiąc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            @if (taskSettingsArray != null)
                            {
                                if (taskSettingsArray.AutoShareSchedule == true)
                                {
                                    <input type="checkbox" checked id="jXPbcuZxwEHflcw_" onchange="jXPbcuZxwEHflcw('@encryptedUserID')" />
                                }
                                else
                                {
                                    <input type="checkbox" id="jXPbcuZxwEHflcw_" onchange="jXPbcuZxwEHflcw('@encryptedUserID')" />
                                }
                            }
                            else
                            {
                                <input type="checkbox" id="jXPbcuZxwEHflcw_" onchange="jXPbcuZxwEHflcw('@encryptedUserID')" />
                            }
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Włącz automatyczne udostępnianie grafiku (admin i liderzy) (link do ustawień, w tym dla jakiego dzału ustawić (role))</span>
                    </div>
                    @if (taskSettingsArray != null)
                    {
                        if (taskSettingsArray.AutoShareSchedule == true)
                        {
                            <div id="pNstugmIpmEENyd">
                                <div class="VjYAEBHWVZOOXnf KwklCFLXfXUydOj">
                                    <span>Rozpocznij od dnia:</span>
                                    @if (taskSettingsArray.StartShareScheduleDate.HasValue)
                                    {
                                        <input class="form-control" type="date" value="@taskSettingsArray.StartShareScheduleDate.Value.ToString("yyyy-MM-dd")" id="XcUHXPHttLovDJu_" onchange="XcUHXPHttLovDJu('@encryptedUserID')" />
                                    }
                                </div>
                                <div class="VjYAEBHWVZOOXnf">
                                    <span>Powtarzaj:</span>
                                    <select class="form-control HZDznQEKaNVLIxx" id="YcyAWdmiezAOUBV_" onchange="YcyAWdmiezAOUBV('@encryptedUserID')">
                                        @if (taskSettingsArray.RepeatAutoShareSchedule == 0)
                                        {
                                            <option selected>co tydzień</option>
                                            <option>co miesiąc</option>
                                        }
                                        @if (taskSettingsArray.RepeatAutoShareSchedule == 1)
                                        {
                                            <option>co tydzień</option>
                                            <option selected>co miesiąc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskSettingsJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>