@model TimeTask.Models.Department
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Menu")
    </section>

    <section class="right-nav right-nav-forms">
        <form asp-action="Edit">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-group-margin">
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Resource.Edit" class="btn-custom" />
            </div>
            <div class="form-group">
                <a asp-area="" asp-controller="Home" asp-action="Index"><input value="Wróć" type="button" class="btn-custom_" /></a>
            </div>
        </form>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <span id="deleteText">@Resource.ClickBelowToDelete @Resource.DepartmentLowecase.</span>
            <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="IWantToDeleteDepartment(this)" />
            <div class="btn-danger-div">
                <input type="submit" value="Tak" id="yes"/>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    var model_d = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Department));
    if (model_d.length == 0)
    {
        let buttons = document.querySelectorAll("button");
        for (let i = 0; i < buttons.length; i++)
        {
            buttons[i].setAttribute('disabled', '');
        }
    }
    else
    {
        let buttons = document.querySelectorAll(".departments button");
        for (let i = 0; i < buttons.length; i++)
        {
            buttons[i].setAttribute('disabled', '');
        }
    }

    function hideA()
    {
        let a = document.querySelectorAll(".departments__ a");
        for (let i = 0; i < a.length; i++)
        {
            a[i].style.display = 'none';
        }

        let b = document.querySelector(".btn-danger-div");
        b.style.display = 'none';
    };
    hideA();

    function IWantToDeleteDepartment(t)
    {
        let a = document.querySelector(".btn-danger-div");
        a.style.display = '';
        t.style.display = 'none';
        document.getElementById("deleteText").innerHTML = '@Resource.AreYouSureYouWantToDeleteDepartment';

        /*timer*/
        let count = 9;
        document.getElementById("yes").value = '@Resource.Yes' + ' ' + '(' + 10 + ')';
        setInterval(function() {
            if (count > 0) {
                document.getElementById("yes").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                count--;
            }
            else {
                document.getElementById("yes").value = '@Resource.Yes';
            }
        }, 1000);

        document.getElementById("yes").setAttribute('disabled', '');
        setTimeout(function() {
            document.getElementById("yes").removeAttribute('disabled');
        }, 10000);
        /**/
    };




    if(localStorage.length > 0){
        if(localStorage.getItem("opened") != null){
            let id = localStorage.getItem("opened")

            let departA1 = document.querySelectorAll(".departments__a");
            let departA2 = document.querySelectorAll(".departments__a2");
            let departA3 = document.querySelectorAll(".departments__a3");

            let d = document.querySelectorAll(".departments__ button");
            let d_svgPath = document.querySelectorAll(".departments__ button svg path");
            for(let i = 0; i < d.length; i++){
                if(d[i].getAttribute('id') == id){
                    d_svgPath[i].setAttribute('d', 'm572.501 747-254.933 815.893-101.867-31.786 278.507-890.774h1105.813v-320H783.808L612.181 107H.021v1546.667c0 88.213 71.787 160 160 160h1388.054c75.946 0 141.973-54.08 156.906-128.64L1892.608 747H572.501Z');
                    d[i].setAttribute('opened', '');
                    for(let j = 0; j < departA1.length; j++){
                        departA1[i].style.display = ''; departA1[i].style.opacity = '0.6'; departA1[i].style.pointerEvents = 'none';
                    }
                    for(let j = 0; j < departA2.length; j++){
                        departA2[i].style.display = ''; departA2[i].style.opacity = '0.6'; departA2[i].style.pointerEvents = 'none';
                    }
                    for(let j = 0; j < departA3.length; j++){
                        departA3[i].style.display = ''; departA3[i].style.opacity = '0.6'; departA3[i].style.pointerEvents = 'none';
                    }
                }
            }
        }
    }


</script>