@model IEnumerable<TimeTask.Models.Department>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">

        <div class="right-nav-parent">
            @foreach (var item in Model.OrderBy(x => x.Id))
            {
                <div>
                    <span>@item.Name</span>

                    @{
                        int i = 0;
                    }

                    @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers))
                    {
                        if (item.Id == item2.DepartmentID)
                        {
                            i++;
                        }
                    }

                    <span>@i.ToString()</span>
                </div>
            }
        </div>

    </section>
</div>

<script type="text/javascript">
    let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[1];
    selected.classList.add('settings_a_selected');
</script>