@model IEnumerable<TimeTask.Models.Department>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
        <div id="dragAndDropWorker" style="display: none;">
            <span>W celu zmiany przydziału pracownika, przeciągnij i upuść ich do jednego z działów.</span>
        </div>
    </section>
    <section class="right-nav right-nav-flex">
       
        <div class="right-nav-parent2">

            <!---->
            <div class="right-nav-parent">
                @foreach (var item in Model.OrderBy(x => x.Name))
                {
                    <div class="right-nav-parent-div" onclick="rightNavParentDivClick(this)" d1ID="@item.Id">
                        <div xaLDiWnnNy="@item.Id">
                            <span class="right-nav-parent-div-span1">Wybierz</span>
                            <svg style="display: none;" id="addToNew" viewBox="0 0 16 16" height="16" width="16"><path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path></svg>
                        </div>
                        <div xaLDiWnnNy="@item.Id">
                            @{
                                int i = 0;
                            }

                            @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers))
                            {
                                if (item.Id == item2.DepartmentID)
                                {
                                    i++;
                                }
                            }
                            <span id="osoby">@i.ToString()</span>

                            <section class="uFwRGjPydp">
                                <span>@item.Name</span>
                                <a onclick="tLdJnSRyYs()" style="display: none;" d1ID="@item.Id" title="Zmień nazwę"><svg viewBox="0 0 512 512" height="12" width="12"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>
                                <a onclick="YHuhfDRXks()" style="display: none;" d1ID="@item.Id" title="Usuń dział"><svg viewBox="0 0 469.404 469.404" height="12" width="12"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                            </section>

                        </div>
                        <input type="radio" name="radioName" id="@item.Id" IhMoBWilbDee="@item.Name" hidden>
                    </div>
                }


                @{
                    int j = 0;
                }
                @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers))
                {
                    if(!Model.Select(x => x.Id).Contains(item.DepartmentID)){
                        j++;
                    }
                }

                @if(j > 0)
                {
                    <div class="right-nav-parent-div">
                        <div>
                            <span class="right-nav-parent-div-span1">Wybierz</span>
                        </div>
                        <div>
                            <span>@j.ToString()</span>
                            <section>
                                <span>Nieprzypisani</span>
                            </section>
                        </div>
                    </div>
                }

                

                <div class="addNewDepartment" onclick="BqujyivUqK()">
                    <span>Nowy dział</span>
                </div>
            </div>
            <!---->

            <div class="right-nav-parent_">
                @foreach (var item in Model)
                {
                    @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers).OrderBy(x => x.Surname))
                    {
                        if (item2.DepartmentID == item.Id)
                        {
                            <div class="right-nav-parent2-div" d2ID="@item.Id" workerid="@item2.Id" style="display: none;" >
                                <div>
                                    <svg viewBox="0 0 20 20" height="26" width="26" workerid="@item2.Id" class="svgWorker" ><path d="M2.5 8C1.94772 8 1.5 7.55228 1.5 7C1.5 6.44772 1.94772 6 2.5 6H17.5C18.0523 6 18.5 6.44772 18.5 7C18.5 7.55228 18.0523 8 17.5 8H2.5Z" /><path d="M2.5 11.25C1.94772 11.25 1.5 10.8023 1.5 10.25C1.5 9.69772 1.94772 9.25 2.5 9.25H17.5C18.0523 9.25 18.5 9.69772 18.5 10.25C18.5 10.8023 18.0523 11.25 17.5 11.25H2.5Z" /><path d="M2.5 14.5C1.94772 14.5 1.5 14.0523 1.5 13.5C1.5 12.9477 1.94772 12.5 2.5 12.5H17.5C18.0523 12.5 18.5 12.9477 18.5 13.5C18.5 14.0523 18.0523 14.5 17.5 14.5H2.5Z" /></svg>
                                    <span>@item2.Surname @item2.Name</span>
                                    <a href="#" title="Zmień imię/nazwisko"><svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>
                                </div>

                                <div>
                                    <a onclick="deleteWorker(this)" id="@item2.Id" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="16" width="16"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                                </div>
                            </div>
                        }
                    }
                }
                <a href="#" onclick="YENAVVQWwo()" class="addNewWorker" style="display: none;">
                    <!--Url.Action("Create", "Workers2")-->
                    <svg viewBox="0 0 16 16" height="20" width="20">
                        <path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path>
                    </svg>
                    <span>Nowy pracownik</span>
                </a>
            </div>

            
        </div>
    </section>
</div>
<div id="QmRrlOQPQW" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="wpisz imię pracownika..." id="GVegODKbEh" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="wpisz nazwisko pracownika..." id="toPdQnPuvH" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="TEqGSwRYnu()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EYVOxDPdHV()" />
        </div>
    </form>
</div>

<div id="XOrtKNkAwk" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="wpisz tutaj nazwę działu..." id="svFbsOqCAR" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="GuDpHEcfHN()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="bmIRCNZNky()" />
        </div>
    </form>
</div>

<div id="uLTJNrstvNEQ" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="wpisz tutaj nazwę działu..." id="coVYuzZVCFxh" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="KOdkyXQcUVJW()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="NlckkxcEbWXv()" />
        </div>
    </form>
</div>

<div id="PNujBEeIildr" class="pGKcZvErUB" style="display: none;">
    <form>
        <span id="deleteText">@Resource.ClickBelowToDelete @Resource.DepartmentLowecase.</span>
        <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="IWantToDeleteDepartment(this)" />
        <div class="btn-danger-div">
            <input type="button" value="Tak" id="yes" onclick="adqwBJykaCzQ()"/>
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<script type="text/javascript">
    var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));

    let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[1];
    selected.classList.add('settings_a_selected');


    let osoby = document.querySelectorAll('#osoby');
    for(let i = 0; i < osoby.length; i++){
        let str = osoby[i].innerHTML;
        let nbr = parseInt(str);
        if (nbr == 1)
            osoby[i].innerHTML += ' pracownik';
        else if (nbr > 1)
            osoby[i].innerHTML += ' pracowników';
        else {
            osoby[i].innerHTML = 'brak pracowników';
        }
    }


    var workerDepartmentID = null;
    function rightNavParentDivClick(t) {
        //console.log(t);
        sessionStorage.setItem('chosenDepartment', t.getAttribute('d1ID'));

        let span = t.querySelector('.right-nav-parent-div-span1');
        let rest = document.querySelectorAll('.right-nav-parent-div');
        let div = t.querySelector('.right-nav-parent-div div');
        let divContent = document.querySelector('.right-nav-parent2');
        let r1 = document.querySelectorAll('.right-nav-parent2-div');
        let newWorker = document.querySelector('.addNewWorker');
        let uFwRGjPydp = document.querySelectorAll('.uFwRGjPydp a');


        let input = t.querySelector('input');
        input.checked = true;
        if(input.checked){
            div.style.width = '40px';
            div.style.boxShadow = 'inset -30px 0px 20px -25px rgba(0, 0, 0, 1)';
            div.style.backgroundColor = 'rgb(26, 79, 101)';
            t.style.backgroundColor = 'rgb(72, 74, 86)';
            span.style.opacity = '0';


            $(divContent).slideDown(200);
            //t.scrollIntoView();
            $(newWorker).show();


            for(let i = 0; i < rest.length; i++){
                let input_rest = rest[i].querySelector('input');
                let span_rest = rest[i].querySelector('span');
                let div_rest = rest[i].querySelector('div');
                if(!input_rest.checked){
                    rest[i].removeAttribute('style');
                    span_rest.removeAttribute('style');
                    div_rest.removeAttribute('style');
                    span_rest.innerHTML = 'Wybierz';
                }
            }

            workerDepartmentID = input.id;
        }


        //let array = [];
        let d1ID = t.getAttribute('d1ID');
        
        for (let i = 0; i < r1.length; i++)
        {
            let r1ID = r1[i].getAttribute('d2ID');
            if (r1ID == d1ID)
            {
                $(r1[i]).show();
            }
            else {
                $(r1[i]).hide();
            }

            for(let j = 0; j < uFwRGjPydp.length; j++){
                let udFAcsaCvQ = uFwRGjPydp[j].getAttribute('d1ID');
                if(udFAcsaCvQ == d1ID){
                    $(uFwRGjPydp[j]).show();
                }
                else {
                    $(uFwRGjPydp[j]).hide();
                }
            }

            //array.push(r1[i].style.display);
        }



        //if(array.every( (val, i, arr) => val ===  arr[0])){
        //    $('#dropToDelete').hide();
        //}
        //else {
        //    $('#dropToDelete').show();
        //}
    };

    if(sessionStorage.getItem('chosenDepartment') != null){
        let iCCTjwKAhW = document.querySelectorAll('.right-nav-parent-div');
        for(let i = 0; i < iCCTjwKAhW.length; i++){
            let aIfhXQgmFz = iCCTjwKAhW[i].getAttribute('d1ID');
            if(sessionStorage.getItem('chosenDepartment') == aIfhXQgmFz){
                rightNavParentDivClick(iCCTjwKAhW[i]);
            }
        }
    }






    //var item = document.querySelector(".right-nav-parent");
    //window.addEventListener("wheel", function (e)
    //{
    //    if (e.deltaY > 0) item.scrollLeft += 500;
    //    else item.scrollLeft -= 500;
    //});





    let svg = document.querySelectorAll('.svgWorker');
    var workerID = null;
    for (let i = 0; i < svg.length; i++)
    {
        let svgID = svg[i].getAttribute('workerid');
        let departmentID_ = svg[i].getAttribute('d2ID2');
        svg[i].addEventListener('mousedown', function () {
            let r2 = document.querySelectorAll('.right-nav-parent2-div');
            let newWorker = document.querySelector('.addNewWorker');
            let newDepartment = document.querySelector('.addNewDepartment');
            let a = document.querySelector('.right-nav-parent_');
            let b = document.querySelector('.right-nav');
            let c = document.querySelectorAll('.right-nav-parent-div');
            for (let j = 0; j < r2.length; j++)
            {
                let r2ID = r2[j].getAttribute('workerid');                
                if (svgID == r2ID)
                {
                    svg[i].style.cursor = 'grabbing';

                    r2[j].style.width = r2[j].offsetWidth + 'px';
                    r2[j].style.backgroundColor = 'rgba(54, 56, 68, 1)';
                    r2[j].style.transition = 'background-color 0.2s';
                    $(r2[j]).draggable({ cursor: 'grabbing', handle: svg[i], cursorAt: { bottom: 30, left: 30 }, zIndex: 1 });

                    a.style.overflowX = 'unset';
                    a.style.overflowY = 'unset';
                    a.style.mask = 'unset';

                    b.style.scrollbarWidth = 'none';

                    for(let k = 0; k < c.length; k++){
                        let cSpan = c[k].querySelector('span');
                        let cDiv = c[k].querySelector('div');
                        let cInput = c[k].querySelector('input');
                        $(cSpan).hide();
                        if(!cInput.checked){
                            cDiv.style.width = '29px';
                            cDiv.style.boxShadow = 'inset -25px 0px 30px -25px rgba(0, 0, 0, 1)';
                            let svgAdd = document.querySelectorAll('#addToNew');
                            $(svgAdd[k]).fadeIn();
                        }
                        else {
                            c[k].style.opacity = '0.5';
                        }
                    }

                    localStorage.setItem('drag', '');
                    workerID = r2ID;
                    $('#dragAndDropWorker').fadeIn(200);
                }
                else {
                    r2[j].style.opacity = '0.5';
                    r2[j].style.transition = 'opacity 0.2s';
                    newWorker.style.opacity = '0.5';
                    newDepartment.style.opacity = '0.5';
                }
            }

            document.addEventListener('mouseup', function () {
                for (let j = 0; j < r2.length; j++)
                {
                    svg[i].style.removeProperty('cursor');

                    r2[j].style.removeProperty('opacity');
                    r2[j].style.removeProperty('background-color');
                    r2[j].style.removeProperty('z-index');
                    r2[j].style.removeProperty('width');
                    r2[j].style.removeProperty('transition');
                    r2[j].style.removeProperty('top');
                    r2[j].style.removeProperty('left');

                    a.removeAttribute('style');
                    b.removeAttribute('style');

                    newWorker.style.removeProperty('opacity');
                    newDepartment.style.removeProperty('opacity');

                    for(let k = 0; k < c.length; k++){
                        let cSpan = c[k].querySelector('span');
                        let cDiv = c[k].querySelector('div');
                        let cInput = c[k].querySelector('input');
                        $(cSpan).show();
                        if(!cInput.checked){
                            cDiv.removeAttribute('style');
                            let svgAdd = document.querySelectorAll('#addToNew');
                            $(svgAdd[k]).fadeOut(100);
                        }
                        else {
                            c[k].style.removeProperty('opacity');
                        }
                    }

                    
                }


                setTimeout(function (){
                    localStorage.removeItem('drag');
                }, 250)

                $('#dragAndDropWorker').fadeOut(100);
                
            });
        });
    }


    
     window.addEventListener('mouseup', function (e)
     {
        if(localStorage.getItem('drag') != null){
            let currentDepartment = parseInt(workerDepartmentID);
            let worker_id = parseInt(workerID);
            let newDepartment = parseInt(document.elementFromPoint(e.x, e.y).getAttribute('xaLDiWnnNy'));

            var t = $("input[name='__RequestVerificationToken']").val();

            if(currentDepartment != newDepartment && currentDepartment != null && newDepartment != null && worker_id != null){
                if(!isNaN(currentDepartment) && !isNaN(newDepartment) && !isNaN(worker_id)){
                    $.ajax({
                        type: 'POST',
                        url: '/Workers2/ChangeWorkerDepartment',
                        data: {
                            id: worker_id,
                            departmentID: newDepartment
                        },
                        success: function (response)
                        {
                            //Column value updated successfully!
                            location.reload();
                        },
                        error: function (xhr, status, error)
                        {
                            console.log('Error updating column value:', error);
                        }
                    });
                }
            }
        }
     }); 

    function deleteWorker(t) {
        let id_ = parseInt(t.id);
        
        Swal.fire({
            title: 'Czy na pewno chcesz usunąć?',
            icon: 'question',
            showDenyButton: true,
            confirmButtonText: 'Tak',
            denyButtonText: 'Nie',
        }).then((result) => {
            if(result.isConfirmed){
                $.ajax({
                    type: 'POST',
                    url: '/Workers2/DeleteWorker',
                    data: { id: id_ },
                    success: function (response) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log('Error removing row:', error);
                    }
                });
            }
        });

    };

    function YENAVVQWwo() {
        let a = document.querySelectorAll('.right-nav-parent-div input');
        for(let i = 0; i < a.length; i++){
            if(a[i].checked){
                let id_ = a[i].id;
                sessionStorage.setItem('storage_AddWorker', id_);
            }
        }
        $('#QmRrlOQPQW').fadeIn(200);
    };

    function BqujyivUqK() {
        $('#XOrtKNkAwk').fadeIn(200);
    };

    function EYVOxDPdHV() {
        $('#QmRrlOQPQW').fadeOut(200);
        setTimeout(function (){
            document.getElementById('GVegODKbEh').value = '';
            document.getElementById('toPdQnPuvH').value = '';
        }, 200);
    };

    function bmIRCNZNky() {
        $('#XOrtKNkAwk').fadeOut(200);
        setTimeout(function (){
            document.getElementById('svFbsOqCAR').value = '';
        }, 200);
    };

    function NlckkxcEbWXv() {
        $('#uLTJNrstvNEQ').fadeOut(200);
        setTimeout(function (){
            document.getElementById('coVYuzZVCFxh').value = '';
        }, 200);
    };

    function UOspQSjpbVdS() {
        //$('#PNujBEeIildr').fadeOut(200);
        location.reload();
    };

    function TEqGSwRYnu() {
        if(document.getElementById('GVegODKbEh').value != '' && document.getElementById('toPdQnPuvH').value != '') {
            let name_ = document.getElementById('GVegODKbEh').value;
            let surname_ = document.getElementById('toPdQnPuvH').value;
            let dep_id_ = parseInt(sessionStorage.getItem('storage_AddWorker'));
            let employed_ = true;

            $.ajax({
                type: 'POST',
                url: '/Workers2/AddNewWorker',
                data: {
                    name: name_,
                    surname: surname_,
                    departmentID: dep_id_,
                    employed: employed_
                },
                success: function (response) {
                    location.reload();
                },
                Error: function (xhr, status, error) {
                    console.log('Error adding data:', error);
                }
            });
        }
        else {
            console.log('empty');
        }
    };

    function GuDpHEcfHN() {
        if(document.getElementById('svFbsOqCAR').value != ''){
            let department_ = document.getElementById('svFbsOqCAR').value;

            $.ajax({
                type: 'POST',
                url: '/Departments/AddNewDepartment',
                data: {
                    name: department_,
                },
                success: function (response) {
                    location.reload();
                },
                Error: function (xhr, status, error) {
                    console.log('Error adding data:', error);
                }
            });
        }
    };

    function KOdkyXQcUVJW() {
        if(document.getElementById('coVYuzZVCFxh').value != null){
            let department_ = document.getElementById('coVYuzZVCFxh').value;

            let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }

            $.ajax({
                type: 'POST',
                url: '/Departments/EditDepartment',
                data: {
                    id: RNeDYmxNNzoe,
                    name: department_
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log('Error updating column value:', error);
                }
            });
        }
    };

    function adqwBJykaCzQ() {
        let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }

        $.ajax({
            type: 'POST',
            url: '/Departments/RemoveDepartment',
            data: {
                id: RNeDYmxNNzoe
            },
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log('Error removing row:', error);
            }
        });
    };

    function tLdJnSRyYs() {
        let uLTJNrstvNEQ = document.getElementById('uLTJNrstvNEQ');
        $(uLTJNrstvNEQ).fadeIn(200);


        let RNeDYmxNNzoe = null;
        let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
        for(let i = 0; i < rCEOGdPmClqT.length; i++){
            if(rCEOGdPmClqT[i].checked){
                RNeDYmxNNzoe = rCEOGdPmClqT[i].getAttribute('IhMoBWilbDee');
            }
        }
        document.getElementById('coVYuzZVCFxh').value = RNeDYmxNNzoe;
    };

    function YHuhfDRXks() {
        let b = document.querySelector(".btn-danger-div");
        b.style.display = 'none';
        let PNujBEeIildr = document.getElementById('PNujBEeIildr');
        $(PNujBEeIildr).fadeIn(200);
    };

    function IWantToDeleteDepartment(t)
    {
        document.getElementById("deleteText").innerHTML = '@Resource.AreYouSureYouWantToDeleteDepartment';
        let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }
        for(let i = 0; i < model_w.length; i++){
            if(model_w[i].DepartmentID == RNeDYmxNNzoe){
                if(model_w.length != 0){
                    document.getElementById("deleteText").innerHTML = 'Dział nie jest pusty!' + '<br>' + '@Resource.AreYouSureYouWantToDeleteDepartment';
                }
            }
        }


        let a = document.querySelector(".btn-danger-div");
        a.style.display = '';
        t.style.display = 'none';

        /*timer*/
        let count = 9;
        document.getElementById("yes").value = '@Resource.Yes' + ' ' + '(' + 10 + ')';
        setInterval(function() {
            if (count > 0) {
                document.getElementById("yes").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                count--;
            }
            else {
                document.getElementById("yes").value = '@Resource.Yes';
            }
        }, 1000);

        document.getElementById("yes").setAttribute('disabled', '');
        setTimeout(function() {
            document.getElementById("yes").removeAttribute('disabled');
        }, 10000);
        /**/
    };

</script>