@model IEnumerable<TimeTask.Models.Department>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
        <div id="dragAndDropWorker" style="display: none;">
            <span>W celu zmiany przydziału pracownika, przeciągnij i upuść ich do jednego z działów.</span>
        </div>
    </section>
    <section class="right-nav right-nav-flex">
       
        <div class="right-nav-parent2">

            <!---->
            <div class="right-nav-parent">
                @foreach (var item in Model.OrderBy(x => x.Name))
                {
                    <div class="right-nav-parent-div" onclick="rightNavParentDivClick(this)" d1ID="@item.Id">
                        <div xaLDiWnnNy="@item.Id">
                            <span class="right-nav-parent-div-span1">Wybierz</span>
                            <svg style="display: none;" id="addToNew" viewBox="0 0 16 16" height="16" width="16"><path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path></svg>
                        </div>
                        <div xaLDiWnnNy="@item.Id">
                            @{
                                int i = 0;
                            }

                            @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers))
                            {
                                if (item.Id == item2.DepartmentID)
                                {
                                    i++;
                                }
                            }
                            <span id="osoby">@i.ToString()</span>

                            <section class="uFwRGjPydp">
                                <span>@item.Name</span>
                                <a onclick="tLdJnSRyYs()" style="display: none;" d1ID="@item.Id" title="Zmień nazwę"><svg viewBox="0 0 512 512" height="12" width="12"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>
                                <a onclick="YHuhfDRXks()" style="display: none;" d1ID="@item.Id" title="Usuń dział"><svg viewBox="0 0 469.404 469.404" height="12" width="12"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                            </section>

                        </div>
                        <input type="radio" name="radioName" id="@item.Id" IhMoBWilbDee="@item.Name" hidden>
                    </div>
                }


                @{
                    int j = 0;
                }
                @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers))
                {
                    if(!Model.Select(x => x.Id).Contains(item.DepartmentID)){
                        j++;
                    }
                }

                @if(j > 0)
                {
                    <div class="right-nav-parent-div" onclick="rightNavParentDivClick(this)" d1ID="undefined">
                        <div>
                            <span class="right-nav-parent-div-span1">Wybierz</span>
                        </div>
                        <div>
                            <span id="osoby">@j.ToString()</span>
                            <section>
                                <span style="background-color: darkred; padding: 2px 5px;">Nieprzypisani</span>
                            </section>
                        </div>
                        <input type="radio" name="radioName" id="undefined" hidden>
                    </div>
                }

                

                <div class="addNewDepartment" onclick="BqujyivUqK()">
                    <span>Nowy dział</span>
                </div>
            </div>
            <!---->

            <div class="right-nav-parent_">

                <div class="idCoFonIOIZS" style="display: none;">
                    <input class="cLQpvnbeLrJy" id="pgYLfzjGlOjB" type="text" placeholder="szukaj..." />
                </div>

                @foreach (var item in Model)
                {
                    @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers).OrderBy(x => x.Surname))
                    {
                        if (item2.DepartmentID == item.Id)
                        {
                            <div class="right-nav-parent2-div" d2ID="@item.Id" workerid="@item2.Id" style="display: none;" >
                                <div>
                                    <svg viewBox="0 0 20 20" height="26" width="26" workerid="@item2.Id" class="svgWorker" ><path d="M2.5 8C1.94772 8 1.5 7.55228 1.5 7C1.5 6.44772 1.94772 6 2.5 6H17.5C18.0523 6 18.5 6.44772 18.5 7C18.5 7.55228 18.0523 8 17.5 8H2.5Z" /><path d="M2.5 11.25C1.94772 11.25 1.5 10.8023 1.5 10.25C1.5 9.69772 1.94772 9.25 2.5 9.25H17.5C18.0523 9.25 18.5 9.69772 18.5 10.25C18.5 10.8023 18.0523 11.25 17.5 11.25H2.5Z" /><path d="M2.5 14.5C1.94772 14.5 1.5 14.0523 1.5 13.5C1.5 12.9477 1.94772 12.5 2.5 12.5H17.5C18.0523 12.5 18.5 12.9477 18.5 13.5C18.5 14.0523 18.0523 14.5 17.5 14.5H2.5Z" /></svg>
                                    <span id="tsTEdblBeOia">@item2.Surname @item2.Name</span>
                                </div>

                                <div>
                                                                        <a onclick="IxsCvPIuWwZw(this)" uRiajmNrSFFv="@item2.Id" gvOdItWZFRSg="@item2.Name" UcWvjqdRNTDD="@item2.Surname" title="Zmień imię/nazwisko"><svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>

                                    <a onclick="deleteWorker(this)" id="@item2.Id" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="16" width="16"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                                </div>
                            </div>
                        }
                    }
                }

                @foreach (var item2 in ((IEnumerable<Workers2>)ViewBag.Workers).OrderBy(x => x.Surname))
                {
                    if (!Model.Select(x => x.Id).Contains(item2.DepartmentID))
                    {
                        <div class="right-nav-parent2-div" id="undefined" d2ID="@item2.DepartmentID" workerid="@item2.Id" style="display: none;">
                            <div>
                                <svg viewBox="0 0 20 20" height="26" width="26" workerid="@item2.Id" class="svgWorker" ><path d="M2.5 8C1.94772 8 1.5 7.55228 1.5 7C1.5 6.44772 1.94772 6 2.5 6H17.5C18.0523 6 18.5 6.44772 18.5 7C18.5 7.55228 18.0523 8 17.5 8H2.5Z" /><path d="M2.5 11.25C1.94772 11.25 1.5 10.8023 1.5 10.25C1.5 9.69772 1.94772 9.25 2.5 9.25H17.5C18.0523 9.25 18.5 9.69772 18.5 10.25C18.5 10.8023 18.0523 11.25 17.5 11.25H2.5Z" /><path d="M2.5 14.5C1.94772 14.5 1.5 14.0523 1.5 13.5C1.5 12.9477 1.94772 12.5 2.5 12.5H17.5C18.0523 12.5 18.5 12.9477 18.5 13.5C18.5 14.0523 18.0523 14.5 17.5 14.5H2.5Z" /></svg>
                                <span id="tsTEdblBeOia">@item2.Surname @item2.Name</span>
                            </div>
                            <div>
                                                                <a onclick="IxsCvPIuWwZw(this)" uRiajmNrSFFv="@item2.Id" gvOdItWZFRSg="@item2.Name" UcWvjqdRNTDD="@item2.Surname" title="Zmień imię/nazwisko"><svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>

                                <a onclick="deleteWorker(this)" id="@item2.Id" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="16" width="16"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                            </div>
                        </div>
                    }
                }

                <a onclick="YENAVVQWwo()" class="addNewWorker" style="display: none;">
                    <svg viewBox="0 0 16 16" height="20" width="20">
                        <path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path>
                    </svg>
                    <span>Nowy pracownik</span>
                </a>
            </div>

            
        </div>
    </section>
</div>
<div id="QmRrlOQPQW" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="imię pracownika..." id="GVegODKbEh" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwisko pracownika..." id="toPdQnPuvH" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="TEqGSwRYnu()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EYVOxDPdHV()" />
        </div>
    </form>
</div>

<div id="XOrtKNkAwk" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwa działu..." id="svFbsOqCAR" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="GuDpHEcfHN()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="bmIRCNZNky()" />
        </div>
    </form>
</div>

<div id="uLTJNrstvNEQ" class="pGKcZvErUB" style="display: none;">
    <form>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwa działu..." id="coVYuzZVCFxh" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="KOdkyXQcUVJW()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="NlckkxcEbWXv()" />
        </div>
    </form>
</div>

<div id="PNujBEeIildr" class="pGKcZvErUB" style="display: none;">
    <form>
        <span id="JsFfTXmLOVbI" class="nknRtrdeAeIX">@Resource.ClickBelowToDelete @Resource.DepartmentLowecase.</span>
        <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="IWantToDeleteDepartment(this)" />
        <div class="btn-danger-div" id="bAWzKvvkmVmE">
            <input type="button" value="Tak" id="nditIlzCWflU" onclick="adqwBJykaCzQ()"/>
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<div id="jwOsncySQjwD" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="imię pracownika..." id="qxZnTneGdrVW" />
        </div>
        <div class="form-group form-group-margin">
            <input class="form-control" autocomplete="off" placeholder="nazwisko pracownika..." id="xEjLBIPqUXLK" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="KfdhlqmDXEsR()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="vQaAzODstzsu()" />
        </div>
    </form>
</div>

<div id="UwCmLRqIRSZM" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
            <span id="zwQBaubcYWcJ" class="nknRtrdeAeIX">@Resource.ClickBelowToDeleteWorker.</span>
            <input type="button" value="@Resource.Delete" class="btn-danger-custom" id="deleteID" onclick="fBTJyaaQRpDf(this)" />
            <div class="btn-danger-div" id="FamcDfiHIvhi">
                <input type="button" value="Tak" id="XSkMvvmEXCee" onclick="dDlRcSCJZAuO()"/>
            </div>
            <div class="form-group">
                <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
            </div>
        </form>
</div>

<script type="text/javascript">
    var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));

    let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[1];
    selected.classList.add('settings_a_selected');


    let osoby = document.querySelectorAll('#osoby');
    for(let i = 0; i < osoby.length; i++){
        let str = osoby[i].innerHTML;
        let nbr = parseInt(str);
        if (nbr == 1)
            osoby[i].innerHTML += ' pracownik';
        else if (nbr > 1)
            osoby[i].innerHTML += ' pracowników';
        else {
            osoby[i].innerHTML = 'brak pracowników';
        }
    }


    var workerDepartmentID = null;
    function rightNavParentDivClick(t) {
        document.getElementById('pgYLfzjGlOjB').value = '';
        //console.log(t);
        sessionStorage.setItem('chosenDepartment', t.getAttribute('d1ID'));
        document.querySelector('.idCoFonIOIZS').style.display = '';

        let span = t.querySelector('.right-nav-parent-div-span1');
        let rest = document.querySelectorAll('.right-nav-parent-div');
        let div = t.querySelector('.right-nav-parent-div div');
        let divContent = document.querySelector('.right-nav-parent2');
        let r1 = document.querySelectorAll('.right-nav-parent2-div');
        let newWorker = document.querySelector('.addNewWorker');
        let uFwRGjPydp = document.querySelectorAll('.uFwRGjPydp a');


        let input = t.querySelector('input');
        input.checked = true;
        if(input.checked){
            div.style.width = '40px';
            div.style.boxShadow = 'inset -30px 0px 20px -25px rgba(0, 0, 0, 1)';
            div.style.backgroundColor = 'rgb(26, 79, 101)';
            t.style.backgroundColor = 'rgb(72, 74, 86)';
            span.style.opacity = '0';


            $(divContent).slideDown(200);
            //t.scrollIntoView();
            $(newWorker).show();


            for(let i = 0; i < rest.length; i++){
                let input_rest = rest[i].querySelector('input');
                let span_rest = rest[i].querySelector('span');
                let div_rest = rest[i].querySelector('div');
                if(!input_rest.checked){
                    rest[i].removeAttribute('style');
                    span_rest.removeAttribute('style');
                    div_rest.removeAttribute('style');
                    span_rest.innerHTML = 'Wybierz';
                }
            }

            //workerDepartmentID = input.id;
        }

        let d1ID = t.getAttribute('d1ID');
        
        for (let i = 0; i < r1.length; i++)
        {
            let r1ID = r1[i].getAttribute('d2ID');
            if (r1ID == d1ID)
            {
                $(r1[i]).show();
                workerDepartmentID = r1ID;
            }
            else {
                $(r1[i]).hide();

                //rest of workers without department
                let QcPKESfuhlCt = r1[i].id;
                if(d1ID == QcPKESfuhlCt){
                    $(r1[i]).show();
                    document.querySelector('.addNewWorker').style.display = 'none';
                    workerDepartmentID = r1ID;
                }
                //
            }

            // edit i delete worker
            for(let j = 0; j < uFwRGjPydp.length; j++){
                let udFAcsaCvQ = uFwRGjPydp[j].getAttribute('d1ID');
                if(udFAcsaCvQ == d1ID){
                    //$(uFwRGjPydp[j]).show('slide', {direction: 'right'}, 1000);
                    $(uFwRGjPydp[j]).show();
                }
                else {
                    $(uFwRGjPydp[j]).hide();
                }
            }
            //
        }
    };

    if(sessionStorage.getItem('chosenDepartment') != null){
        let iCCTjwKAhW = document.querySelectorAll('.right-nav-parent-div');
        for(let i = 0; i < iCCTjwKAhW.length; i++){
            let aIfhXQgmFz = iCCTjwKAhW[i].getAttribute('d1ID');
            if(sessionStorage.getItem('chosenDepartment') == aIfhXQgmFz){
                rightNavParentDivClick(iCCTjwKAhW[i]);
            }
            
        }
    }






    //var item = document.querySelector(".right-nav-parent");
    //window.addEventListener("wheel", function (e)
    //{
    //    if (e.deltaY > 0) item.scrollLeft += 500;
    //    else item.scrollLeft -= 500;
    //});





    let svg = document.querySelectorAll('.svgWorker');
    var workerID = null;
    for (let i = 0; i < svg.length; i++)
    {
        let svgID = svg[i].getAttribute('workerid');
        let departmentID_ = svg[i].getAttribute('d2ID2');
        svg[i].addEventListener('mousedown', function () {
            let r2 = document.querySelectorAll('.right-nav-parent2-div');
            let newWorker = document.querySelector('.addNewWorker');
            let newDepartment = document.querySelector('.addNewDepartment');
            let a = document.querySelector('.right-nav-parent_');
            let b = document.querySelector('.right-nav');
            let c = document.querySelectorAll('.right-nav-parent-div');
            for (let j = 0; j < r2.length; j++)
            {
                let r2ID = r2[j].getAttribute('workerid');                
                if (svgID == r2ID)
                {
                    svg[i].style.cursor = 'grabbing';

                    r2[j].style.width = r2[j].offsetWidth + 'px';
                    r2[j].style.backgroundColor = 'rgba(54, 56, 68, 1)';
                    r2[j].style.transition = 'background-color 0.2s';
                    $(r2[j]).draggable({ cursor: 'grabbing', handle: svg[i], cursorAt: { bottom: 30, left: 30 }, zIndex: 1 });

                    a.style.overflowX = 'unset';
                    a.style.overflowY = 'unset';
                    a.style.mask = 'unset';

                    b.style.scrollbarWidth = 'none';

                    for(let k = 0; k < c.length; k++){
                        let cSpan = c[k].querySelector('span');
                        let cDiv = c[k].querySelector('div');
                        let cInput = c[k].querySelector('input');
                        $(cSpan).hide();
                        if(!cInput.checked && cInput.id != 'undefined'){
                            cDiv.style.width = '29px';
                            cDiv.style.boxShadow = 'inset -25px 0px 30px -25px rgba(0, 0, 0, 1)';
                            let svgAdd = document.querySelectorAll('#addToNew');
                            $(svgAdd[k]).fadeIn();
                        }
                        else {
                            c[k].style.opacity = '0.5';
                        }
                    }

                    localStorage.setItem('drag', '');
                    workerID = r2ID;
                    $('#dragAndDropWorker').fadeIn(200);
                }
                else {
                    r2[j].style.opacity = '0.5';
                    r2[j].style.transition = 'opacity 0.2s';
                    newWorker.style.opacity = '0.5';
                    newDepartment.style.opacity = '0.5';
                }
            }

            document.addEventListener('mouseup', function () {
                for (let j = 0; j < r2.length; j++)
                {
                    svg[i].style.removeProperty('cursor');

                    r2[j].style.removeProperty('opacity');
                    r2[j].style.removeProperty('background-color');
                    r2[j].style.removeProperty('z-index');
                    r2[j].style.removeProperty('width');
                    r2[j].style.removeProperty('transition');
                    r2[j].style.removeProperty('top');
                    r2[j].style.removeProperty('left');

                    a.removeAttribute('style');
                    b.removeAttribute('style');

                    newWorker.style.removeProperty('opacity');
                    newDepartment.style.removeProperty('opacity');

                    for(let k = 0; k < c.length; k++){
                        let cSpan = c[k].querySelector('span');
                        let cDiv = c[k].querySelector('div');
                        let cInput = c[k].querySelector('input');
                        $(cSpan).show();
                        if(!cInput.checked && cInput.id != 'undefined'){
                            cDiv.removeAttribute('style');
                            let svgAdd = document.querySelectorAll('#addToNew');
                            $(svgAdd[k]).fadeOut(100);
                        }
                        else {
                            c[k].style.removeProperty('opacity');
                        }
                    }

                    
                }


                setTimeout(function (){
                    localStorage.removeItem('drag');
                }, 250)

                $('#dragAndDropWorker').fadeOut(100);
                
            });
        });
    }


    
     window.addEventListener('mouseup', function (e)
     {
        if(localStorage.getItem('drag') != null){
            let currentDepartment = parseInt(workerDepartmentID);
            let worker_id = parseInt(workerID);
            let newDepartment = parseInt(document.elementFromPoint(e.x, e.y).getAttribute('xaLDiWnnNy'));

            var t = $("input[name='__RequestVerificationToken']").val();

            if(currentDepartment != newDepartment && currentDepartment != null && newDepartment != null && worker_id != null){
                if(!isNaN(currentDepartment) && !isNaN(newDepartment) && !isNaN(worker_id)){

                    CiSEfkVgdGdf(worker_id, newDepartment);
                }
            }
        }
     }); 

    function deleteWorker(t) {
        sessionStorage.setItem('dKorJSPZCYCt', t.id);

        let b = document.getElementById("FamcDfiHIvhi");
        b.style.display = 'none';
        let UwCmLRqIRSZM = document.getElementById('UwCmLRqIRSZM');
        $(UwCmLRqIRSZM).fadeIn(200);
    };

    function YENAVVQWwo() {
        let a = document.querySelectorAll('.right-nav-parent-div input');
        for(let i = 0; i < a.length; i++){
            if(a[i].checked){
                let id_ = a[i].id;
                sessionStorage.setItem('storage_AddWorker', id_);
            }
        }
        $('#QmRrlOQPQW').fadeIn(200);
    };

    function BqujyivUqK() {
        $('#XOrtKNkAwk').fadeIn(200);
    };

    function EYVOxDPdHV() {
        $('#QmRrlOQPQW').fadeOut(200);
        setTimeout(function (){
            document.getElementById('GVegODKbEh').value = '';
            document.getElementById('toPdQnPuvH').value = '';
        }, 200);
    };

    function bmIRCNZNky() {
        $('#XOrtKNkAwk').fadeOut(200);
        setTimeout(function (){
            document.getElementById('svFbsOqCAR').value = '';
        }, 200);
    };

    function NlckkxcEbWXv() {
        $('#uLTJNrstvNEQ').fadeOut(200);
        setTimeout(function (){
            document.getElementById('coVYuzZVCFxh').value = '';
        }, 200);
    };

    function UOspQSjpbVdS() {
        //$('#PNujBEeIildr').fadeOut(200);
        location.reload();
    };

    function TEqGSwRYnu() {
        if(document.getElementById('GVegODKbEh').value != '' && document.getElementById('toPdQnPuvH').value != '') {
            let name_ = document.getElementById('GVegODKbEh').value;
            let surname_ = document.getElementById('toPdQnPuvH').value;
            let dep_id_ = parseInt(sessionStorage.getItem('storage_AddWorker'));
            let employed_ = true;

            KOxtvRcBmzeo(name_, surname_, dep_id_, employed_);
        }
        else {
            console.log('empty');
        }
    };

    function GuDpHEcfHN() {
        if(document.getElementById('svFbsOqCAR').value != ''){
            let DeViohCQjIFT = document.getElementById('svFbsOqCAR').value;

            opvqVIGDmNiz(DeViohCQjIFT);
        }
    };

    function KOdkyXQcUVJW() {
        if(document.getElementById('coVYuzZVCFxh').value != null){
            let XozBLvRgROAw = document.getElementById('coVYuzZVCFxh').value;

            let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }

            VYhhVLCczCoE(RNeDYmxNNzoe, XozBLvRgROAw);
        }
    };

    function adqwBJykaCzQ() {
        let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }

        ertVmpwgdwWK(RNeDYmxNNzoe);
    };

    function tLdJnSRyYs() {
        let uLTJNrstvNEQ = document.getElementById('uLTJNrstvNEQ');
        $(uLTJNrstvNEQ).fadeIn(200);


        let RNeDYmxNNzoe = null;
        let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
        for(let i = 0; i < rCEOGdPmClqT.length; i++){
            if(rCEOGdPmClqT[i].checked){
                RNeDYmxNNzoe = rCEOGdPmClqT[i].getAttribute('IhMoBWilbDee');
            }
        }
        document.getElementById('coVYuzZVCFxh').value = RNeDYmxNNzoe;
    };

    function YHuhfDRXks() {
        let b = document.getElementById("bAWzKvvkmVmE");
        b.style.display = 'none';
        let PNujBEeIildr = document.getElementById('PNujBEeIildr');
        $(PNujBEeIildr).fadeIn(200);
    };

    function IWantToDeleteDepartment(t)
    {
        document.getElementById("JsFfTXmLOVbI").innerHTML = '@Resource.AreYouSureYouWantToDeleteDepartment';
        let RNeDYmxNNzoe = null;
            let rCEOGdPmClqT = document.querySelectorAll('.right-nav-parent-div input');
            for(let i = 0; i < rCEOGdPmClqT.length; i++){
                if(rCEOGdPmClqT[i].checked){
                    RNeDYmxNNzoe = rCEOGdPmClqT[i].id;
                }
            }
        for(let i = 0; i < model_w.length; i++){
            if(model_w[i].DepartmentID == RNeDYmxNNzoe){
                if(model_w.length != 0){
                    document.getElementById("JsFfTXmLOVbI").innerHTML = 'Dział nie jest pusty!' + '<br>' + '@Resource.AreYouSureYouWantToDeleteDepartment';
                }
            }
        }


        let a = document.getElementById("bAWzKvvkmVmE");
        a.style.display = '';
        t.style.display = 'none';

        /*timer*/
        let count = 4;
        document.getElementById("nditIlzCWflU").value = '@Resource.Yes' + ' ' + '(' + 5 + ')';
        setInterval(function() {
            if (count > 0) {
                document.getElementById("nditIlzCWflU").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                count--;
            }
            else {
                document.getElementById("nditIlzCWflU").value = '@Resource.Yes';
            }
        }, 1000);

        document.getElementById("nditIlzCWflU").setAttribute('disabled', '');
        setTimeout(function() {
            document.getElementById("nditIlzCWflU").removeAttribute('disabled');
        }, 5000);
        /**/
    };

    function IxsCvPIuWwZw(t) {
        let jwOsncySQjwD = document.getElementById('jwOsncySQjwD');

        let id_ = t.getAttribute('uRiajmNrSFFv');
        let name_ = t.getAttribute('gvOdItWZFRSg');
        let surname_ = t.getAttribute('UcWvjqdRNTDD');
        sessionStorage.setItem('rGjJZtPGkSIg', id_);

        document.getElementById('qxZnTneGdrVW').value = name_;
        document.getElementById('xEjLBIPqUXLK').value = surname_;

        $(jwOsncySQjwD).fadeIn(200);
    };

    function vQaAzODstzsu() {
        let jwOsncySQjwD = document.getElementById('jwOsncySQjwD');
        $(jwOsncySQjwD).fadeOut(200);
    };

    function KfdhlqmDXEsR() {
        let id_ = parseInt(sessionStorage.getItem('rGjJZtPGkSIg'));
        let name_ = document.getElementById('qxZnTneGdrVW').value;
        let surname_ = document.getElementById('xEjLBIPqUXLK').value;

        kMCAxKgSATqh(id_, name_, surname_)
    };

    function fBTJyaaQRpDf(t) {
        document.getElementById("zwQBaubcYWcJ").innerHTML = '@Resource.AreYouSureYouWantToDeleteWorker';

        let a = document.getElementById("FamcDfiHIvhi");
        a.style.display = '';
        t.style.display = 'none';

        /*timer*/
        let count = 4;
        document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes' + ' ' + '(' + 5 + ')';
        setInterval(function() {
            if (count > 0) {
                document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes' + ' ' + '(' + count + ')';
                count--;
            }
            else {
                document.getElementById("XSkMvvmEXCee").value = '@Resource.Yes';
            }
        }, 1000);

        document.getElementById("XSkMvvmEXCee").setAttribute('disabled', '');
        setTimeout(function() {
            document.getElementById("XSkMvvmEXCee").removeAttribute('disabled');
        }, 5000);
        /**/
    };

    function dDlRcSCJZAuO() {
        let id_ = parseInt(sessionStorage.getItem('dKorJSPZCYCt')) ;
        blKTigJUXVdB(id_);
    };

    $('#pgYLfzjGlOjB').keyup(function () {
        let a = document.querySelectorAll('.right-nav-parent2-div');
        let b = document.getElementById('pgYLfzjGlOjB').value.toUpperCase();
        let c = document.querySelectorAll('.right-nav-parent-div input');

        filterWorkersInDepartment(a, b, c);
    });

    


</script>