@using Newtonsoft.Json;
@model IEnumerable<TimeTask.Models.Time>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                <input class="kzQkCNWOiUhJxRl" type="radio" id="czas" name="radio" onchange="OnvqHvCoOiDaFEV()" hidden />
                <label class="oZBtnmiLrunDFMC" for="czas">Czas pracy</label>
                <input class="kzQkCNWOiUhJxRl" type="radio" id="urlop" name="radio" onchange="ZucUMOWKGdlqgYv()" hidden />
                <label class="oZBtnmiLrunDFMC" for="urlop">Urlopy</label>
            </div>
            <div class="IVnxgCORpPYL" id="yYNizTMVTEhbkFD" onclick="yYNizTMVTEhbkFD_()">
                <span>Nowy urlop</span>
            </div>
            @if (((IEnumerable<Workers2>)ViewBag.Workers).Count() > 0)
            {
                <div class="IVnxgCORpPYL" id="LRKPgUoIPlhVTMS" onclick="LRKPgUoIPlhVTMS_()">
                    <span>Wyjątek dla pracownika</span>
                </div>
            }
            else
            {
                <div class="IVnxgCORpPYL GcatEFOlNEfZNtE" id="LRKPgUoIPlhVTMS">
                    <span>Wyjątek dla pracownika</span>
                    <div class="tooltiptext">Nie ma dodanych żadnych pracowników!</div>
                </div>
            }           
        </div>

        <div class="YUPrikbkYzkc">
            <div id="cJsHHcdodjVadhY">
                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                    <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia ogólne</span>
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Pora nocna trwa od godziny</span>
                        <input class="form-control DnSGyEINFwTACsK" type="time" id="gsWnPInTEluayCy" onblur="gsWnPInTEluayCy_(this)" />
                        <span class="hFzZLqJdsEqdlrx">do godziny</span>
                        <input class="form-control DnSGyEINFwTACsK" type="time" id="SiNSMVtTKxOjnem" onblur="SiNSMVtTKxOjnem_(this)" />
                    </div>
                    <div class="msdgExEZCpefgcL FKefKMBcjulzAaY">
                        <span class="hFzZLqJdsEqdlrx">Dni wolne od pracy:</span>
                    </div>
                    <div class="msdgExEZCpefgcL AhPaTGevmeuEsrA">
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="QPebGULGyufDEHz" onchange="QPebGULGyufDEHz_(this)" />
                                <span>Poniedziałek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="kJGnDDkbrZWXYuR" onchange="kJGnDDkbrZWXYuR_(this)" />
                                <span>Wtorek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="CKMBUUZmdZmwRBI" onchange="CKMBUUZmdZmwRBI_(this)" />
                                <span>Środa</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="CYUzYwwDMVXUmke" onchange="CYUzYwwDMVXUmke_(this)" />
                                <span>Czwartek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="NtmebQZRHqjmpmB" onchange="NtmebQZRHqjmpmB_(this)" />
                                <span>Piątek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="RSUOGpjPUOmRtSA" onchange="RSUOGpjPUOmRtSA_(this)" />
                                <span>Sobota</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input type="checkbox" id="baAmFvRLsPdjFPK" onchange="baAmFvRLsPdjFPK_(this)" />
                                <span>Niedziela</span>
                            </label>
                        </div>
                    </div>
                </div>
                 
                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                    <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia pracowników</span>
                    <!--Okres rozliczeniowy-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Okres rozliczeniowy -</span>
                        <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="IkruzJFAfehduep" onkeypress="return isNumberKey(event);" onblur="YaohyXTjGdIPVHK(this)" />
                        <select class="form-control BdeTMrFhVdXURgF" id="dOAFhxfwDtzoHav" onchange="dOAFhxfwDtzoHav_(this)">
                            <option disabled selected>-</option>
                            <option>tydzień/tygodnie/tygodni</option>
                            <option>miesiąc/miesiące/miesięcy</option>
                        </select>
                    </div>
                    <!--czas pracy-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Dobowy wymiar czasu pracy -</span>
                        <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="mNLCvwMfyDsHDRo" onkeypress="return isNumberKey(event)" onblur="IIjDrhHnsJwmqtN(this)" />
                        <span class="hFzZLqJdsEqdlrx"> godz.</span>
                    </div>
                    <!--max nadgodzin w tygodniu-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w tygodniu -</span>
                        <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="rShbhZqNInnuIPw" onkeypress="return isNumberKey(event)" onblur="jShPfjshHZwMBZw(this)"/>
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                    <!--max nadgodzin w roku-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w roku -</span>
                        <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="3" id="qFciKrITNFzxtSL" onkeypress="return isNumberKey(event)" onblur="XzSwltkFnFZxgQl(this)"/>
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                    <!--Nieprzerwany odpoczynek między dniami roboczymi-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Nieprzerwany odpoczynek między dniami roboczymi -</span>
                        <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="FqvhrnXefCjthHG" onkeypress="return isNumberKey(event)" onblur="bnjRnAOHPyGsOAT(this)"/>
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                </div>


                @if (((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Count() > 0 && ((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Any(x => x.WorkerId != null))
                {
                    <div class="MslTtblACOgbHhY">
                        <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Wyjątki dla pracowników</span>
                        @* <select class="form-control BdeTMrFhVdXURgF raZYoDOYNwjFDKk" id="" onchange="">
                            <option selected>Wszystkie działy</option>
                            @foreach (var item in (IEnumerable<TimeSettings3>)ViewBag.TimeSetting)
                            {
                                foreach (var item2 in (IEnumerable<Workers2>)ViewBag.Workers)
                                {
                                    if (item.WorkerId == item2.Id)
                                    {
                                        var depsName = ((IEnumerable<Department>)ViewBag.Departments).Where(x => x.Id == item2.DepartmentID);
                                        var temp = depsName.GroupBy(x => x.Id).Select(x => x.First()).ToList<Department>();
                                        temp.Distinct();
                                        foreach (var item3 in temp)
                                        {
                                            <option>@item3.Name</option>                                           
                                        }
                                    }
                                }
                            }
                        </select> *@
                    </div>
                    @foreach (var item in (IEnumerable<TimeSettings3>)ViewBag.TimeSetting)
                    {
                        if (item.WorkerId != null)
                        {
                            var workerSurname = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.Surname;
                            var workerName = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.Name;
                            var workerDepartment_id = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.DepartmentID;
                            var workerDepartmentName = ((IEnumerable<Department>)ViewBag.Departments).FirstOrDefault(x => x.Id == workerDepartment_id)?.Name;

                            if (workerSurname != null && workerName != null && workerDepartmentName != null)
                            {
                                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL" id="@item.WorkerId">

                                    <div class="erOCIbdJwtotRUa">
                                        <span>@workerSurname @workerName (@workerDepartmentName)</span>
                                        <div class="JtovNmsBONthQte">
                                            <a onclick="pEIhAaljnrXIAfq(@item.Id)" title="Edytuj">
                                                <ion-icon class="edit" name="create-outline"></ion-icon>
                                            </a>
                                            <a onclick="BPrZxQsyhDUoPdi(@item.Id)" title="Usuń">
                                                <ion-icon class="delete" name="trash-outline" style="color: rgba(255, 60, 60, 1);"></ion-icon>
                                            </a>
                                        </div>
                                    </div>

                                    @if (item.CzasPracy != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Dobowy wymiar czasu pracy wynosi </span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="mNLCvwMfyDsHDRo_" value="@item.CzasPracy" disabled />
                                            <span class="hFzZLqJdsEqdlrx"> godz.</span>
                                        </div>
                                    }
                                    @if (item.OkresRozliczeniowy != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Okres rozliczeniowy -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="IkruzJFAfehduep_" value="@item.OkresRozliczeniowy" disabled />
                                            <select class="form-control BdeTMrFhVdXURgF BdeTMrFhVdXURgF_" id="xAprUkvEKUETwRe" disabled>
                                                @if (item.jezeliTydzien == true)
                                                {
                                                    <option>tydzień/tygodnie/tygodni</option>
                                                }
                                                @if (item.jezeliMiesiac == true)
                                                {
                                                    <option>miesiąc/miesiące/miesięcy</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    @if (item.MaksymalnaLiczbaNadgodzinTydzien != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w tygodniu -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="rShbhZqNInnuIPw_" value="@item.MaksymalnaLiczbaNadgodzinTydzien" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                    @if (item.MaksymalnaLiczbaNadgodzin != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w roku -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="qFciKrITNFzxtSL_" value="@item.MaksymalnaLiczbaNadgodzin" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                    @if (item.NieprzerwanyOdpoczynek != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Nieprzerwany odpoczynek między dniami roboczymi -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="FqvhrnXefCjthHG_" value="@item.NieprzerwanyOdpoczynek" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                }
            </div>
           
            <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Komentarz</th>
                        <th>
                            @*Maks.*@
                            <span>Maks.</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Maksymalna długość urlopu</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Weekendy*@
                            <span class="FkyNgSytCCecyIP">Weekendy</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się soboty i niedziele</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Święta*@
                            <span class="FkyNgSytCCecyIP">Święta</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się święta</title>
                            </svg>
                        </th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                @foreach (var item in ((IEnumerable<Leave4>)ViewBag.Leave).OrderBy(x => x.Name))
                {
                    <tr class="EmRSNqsShbDnTsE">
                        <td title="@item.Name">@item.Name</td>
                        <td title="@item.Description">@item.Description</td>
                        @if (item.IfDays == true)
                        {
                            <td checked1="true">@item.Max (dni)</td>
                        }
                        else if (item.IfWeeks == true)
                        {
                            <td checked2="true">@item.Max (tygodnie)</td>
                        }
                        else if (item.IfMonths == true)
                        {
                            <td checked3="true">@item.Max (miesiące)</td>
                        }
                        else if (item.IfYears == true)
                        {
                            <td checked4="true">@item.Max (lata)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            <input type="checkbox" checked="@item.IfWeekends" disabled style="display: none;" />
                            @if (item.IfWeekends == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>
                        <td>
                            <input type="checkbox" checked="@item.IfHolidays" disabled style="display: none;" />
                            @if (item.IfHolidays == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>

                        <td>
                            <a onclick="klhLiQVRwGfWrSp(@item.Id)" title="Edytuj">
                                <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                            </a>
                            <a onclick="GTUwirLRmPXoIuh(@item.Id)" title="Usuń">
                                <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                            </a>
                        </td>
                    </tr>
                }
            </table>           
        </div>
    </section>
</div>

<script type="text/javascript">
    var model_ts = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TimeSetting));
    var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));
    var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));
    var model_d = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Departments));
</script>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/sorttable.js"></script>
<script type="text/javascript" src="~/js/TimeIndex.js"></script>