@model IEnumerable<TimeTask.Models.Time>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
