@using Newtonsoft.Json;
@model IEnumerable<TimeTask.Models.Time>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">

        <div class="kxOMhDZFzkDb">

            <div class="ECTosDyufuTqvBV">
                <input class="kzQkCNWOiUhJxRl" type="radio" id="czas" name="radio" onclick="OnvqHvCoOiDaFEV()" hidden checked />
                <label class="oZBtnmiLrunDFMC" for="czas">Czas pracy</label>
                <input class="kzQkCNWOiUhJxRl" type="radio" id="urlop" name="radio" onclick="ZucUMOWKGdlqgYv()" hidden />
                <label class="oZBtnmiLrunDFMC" for="urlop">Urlopy</label>
                @*<label class="oZBtnmiLrunDFMC" >Klikniecie na nazwe urlopu wyswietla calą nazwe</label>*@
            </div>

            <div class="IVnxgCORpPYL" onclick="fwsxYepQKkCq()">
                <span>Nowy urlop</span>
@*                <svg viewBox="0 0 16 16" width="20" height="20"><path d="M10 1H6V6L1 6V10H6V15H10V10H15V6L10 6V1Z"></path></svg>
*@            </div>
        </div>

        <div class="YUPrikbkYzkc">

            <div class="kfVQjJnCTNjZlgW ozZkrSfXdfbxJPO" id="arZXMQdbSQIRrUe">
                <div class="TOBgPdZDnrCaJEf">Ilość godzin roboczych w </div>
                <div class="TOBgPdZDnrCaJEf">: </div>
                <div class="TOBgPdZDnrCaJEf HaNiODyyZAMDvgK" id="cJKKxespUKquUPA"></div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL" id="UOrGQHMwMiwAhOM">
                <!--Okres rozliczeniowy-->
                <div class="msdgExEZCpefgcL">
                    <span class="hFzZLqJdsEqdlrx">Okres rozliczeniowy wynosi </span>
                    <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="IkruzJFAfehduep" onkeypress="return isNumberKey(event)" onblur="YaohyXTjGdIPVHK(this)"/>
                    <span class="hFzZLqJdsEqdlrx"> miesiąc/miesiące/miesięcy (maks. 12).</span>
                </div>
                <!--czas pracy-->
                <div class="msdgExEZCpefgcL">
                    <span class="hFzZLqJdsEqdlrx">Czas pracy wynosi </span>
                    <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="mNLCvwMfyDsHDRo" onkeypress="return isNumberKey(event)"/>
                    <span class="hFzZLqJdsEqdlrx"> godzin. (liczba godzin czasu pracy w jednym dniu)</span>
                </div>
                <!--max nadgodzin w roku-->
                <div class="msdgExEZCpefgcL">
                    <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w roku -</span>
                    <input class="form-control DnSGyEINFwTACsK" type="text" maxlength="3" id="qFciKrITNFzxtSL" onkeypress="return isNumberKey(event)"/>
                    <span class="hFzZLqJdsEqdlrx">godz.</span>
                </div>

            </div>






            <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Komentarz</th>
                        <th>
                            @*Maks.*@
                            <span>Maks.</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Maksymalna długość urlopu</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Weekendy*@
                            <span class="FkyNgSytCCecyIP">Weekendy</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się soboty i niedziele</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Święta*@
                            <span class="FkyNgSytCCecyIP">Święta</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się święta</title>
                            </svg>
                        </th>
                        <th>Opcje</th>
                        <!--text-align: right; padding-right: 20px; width: 100px;-->
                    </tr>
                </thead>
                @foreach (var item in ((IEnumerable<Leave4>)ViewBag.Leave).OrderBy(x => x.Name))
                {
                    <tr class="EmRSNqsShbDnTsE">
                        <td title="@item.Name">@item.Name</td>
                        <td title="@item.Description">@item.Description</td>
                        @if (item.IfDays == true)
                        {
                            <td checked1="true">@item.Max (dni)</td>
                        }
                        else if (item.IfWeeks == true)
                        {
                            <td checked2="true">@item.Max (tygodnie)</td>
                        }
                        else if (item.IfMonths == true)
                        {
                            <td checked3="true">@item.Max (miesiące)</td>
                        }
                        else if (item.IfYears == true)
                        {
                            <td checked4="true">@item.Max (lata)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @*<td><input type="checkbox" checked="@item.IfWeekends" disabled /></td>
                        <td><input type="checkbox" checked="@item.IfHolidays" disabled /></td>*@
                        <td>
                            <input type="checkbox" checked="@item.IfWeekends" disabled style="display: none;" />
                            @if (item.IfWeekends == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>
                        <td>
                            <input type="checkbox" checked="@item.IfHolidays" disabled style="display: none;" />
                            @if (item.IfHolidays == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>

                        <td>
                            <a onclick="klhLiQVRwGfWrSp(this)" id="@item.Id" title="Edytuj"><svg viewBox="0 0 512 512" height="16" width="16"><path d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path><polygon points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon></svg></a>
                            <a onclick="GTUwirLRmPXoIuh(this)" id="@item.Id" title="Usuń"><svg viewBox="0 0 469.404 469.404" height="16" width="16"><path d="M310.4,235.083L459.88,85.527c12.545-12.546,12.545-32.972,0-45.671L429.433,9.409c-12.547-12.546-32.971-12.546-45.67,0L234.282,158.967L85.642,10.327c-12.546-12.546-32.972-12.546-45.67,0L9.524,40.774c-12.546,12.546-12.546,32.972,0,45.671l148.64,148.639L9.678,383.495c-12.546,12.546-12.546,32.971,0,45.67l30.447,30.447c12.546,12.546,32.972,12.546,45.67,0l148.487-148.41l148.792,148.793c12.547,12.546,32.973,12.546,45.67,0l30.447-30.447c12.547-12.546,12.547-32.972,0-45.671L310.4,235.083z"></path></svg></a>
                        </td>
                        <!--text-align: right; padding-right: 20px; width: 100px;-->
                    </tr>
                }
            </table>
            
        </div>
        
    </section>
</div>

<div id="GpoavnFwAOos" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa urlopu..." id="oVxJeHhcExMV" />
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="komentarz (opcjonalnie)..." id="kwYypucEEAnX" />
        </div>
        <div class="form-group">
            <input class="form-control dGNCykvGtQxbazH" type="number" onkeydown="UXOaovmCsnlURsn(this, event)" onkeypress="validate(this, event)" placeholder="maks. długość urlopu (opcjonalnie)..." id="IyWRFThVHhEX" />
            <div class="eshTOvdrdlbtIkg" id="radiocb" onclick="cbclick(event)">
                <label><input id="cb1" type="checkbox" />Dni</label>
                <label><input id="cb2" type="checkbox" />Tygodnie</label>
                <label><input id="cb3" type="checkbox" />Miesiące</label>
                <label><input id="cb4" type="checkbox" />Lata</label>
            </div>
        </div>
        <div class="form-group form-group-margin">
            <div class="jwvLslukUqESfdP">
                <span>Uwzględnij:</span>
            </div>
            <div class="eshTOvdrdlbtIkg">
                <label><input id="cb5" type="checkbox" />Soboty i Niedzielę</label>
                <label><input id="cb6" type="checkbox" />Święta</label>
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="BmJPiKFdcncS()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="EjaqSVIBTCAu()" />
        </div>
    </form>
</div>

<div id="YiAVCpnVzhDnOsL" class="pGKcZvErUB" style="display: none;">
    <form class="jbiihcodqinw">
        <div class="IvBtEDulLESDYxK">
            <span id="ewZOdyapfFtPtMi"></span>
            <span id="nZDLxLTZwFzAFCY"></span>
        </div>
        <div class="btn-danger-div" id="FamcDfiHIvhi">
            <input type="button" value="Usuń" id="XSkMvvmEXCee" onclick="dDlRcSCJZAuO()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="UOspQSjpbVdS()" />
        </div>
    </form>
</div>

<div id="nGWLQDZPlPSDQaC" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="nazwa urlopu..." id="AazUHXhkXIbdKWH" />
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" placeholder="komentarz (opcjonalnie)..." id="TDGIADzVjJqefsV" />
        </div>
        <div class="form-group">
            <input class="form-control dGNCykvGtQxbazH" type="number" onkeydown="UXOaovmCsnlURsn(this, event)" onkeypress="validate(this, event)" placeholder="maks. długość urlopu (opcjonalnie)..." id="VumSHUqECwbXZcK" />
            <div class="eshTOvdrdlbtIkg" id="radiocb" onclick="cbclick(event)">
                <label><input id="cb1_" type="checkbox" />Dni</label>
                <label><input id="cb2_" type="checkbox" />Tygodnie</label>
                <label><input id="cb3_" type="checkbox" />Miesiące</label>
                <label><input id="cb4_" type="checkbox" />Lata</label>
            </div>
        </div>
        <div class="form-group form-group-margin">
            <div class="jwvLslukUqESfdP">
                <span>Uwzględnij:</span>
            </div>
            <div class="eshTOvdrdlbtIkg">
                <label><input id="cb5_" type="checkbox" />Soboty i Niedzielę</label>
                <label><input id="cb6_" type="checkbox" />Święta</label>
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" onclick="LkHTSbDyYLLvJeC()" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" onclick="vscNmCABakSwTKc()" />
        </div>
    </form>
</div>





<script type="text/javascript">
    var model_ts = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TimeSetting));
    var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));

function isNumberKey(event){
    var charCode = (event.which) ? event.which : event.keyCode

    if(charCode > 31 && (charCode < 48 || charCode > 57)){
        return false;
    }
    else {
        return true;
    }
}

var tables = document.getElementsByTagName('table');
for (var i=0; i<tables.length;i++){
 resizableGrid(tables[i]);
}

function resizableGrid(table) {
 var row = table.getElementsByTagName('tr')[0],
 cols = row ? row.children : undefined;
 if (!cols) return;
 
 table.style.overflow = 'hidden';
 
 var tableHeight = table.offsetHeight;
 
 for (var i=0;i<cols.length-2;i++){
  var div = createDiv(tableHeight);
  cols[i].appendChild(div);
  cols[i].style.position = 'relative';
  setListeners(div);
 }

 function setListeners(div){
  var pageX,curCol,nxtCol,curColWidth,nxtColWidth;

  div.addEventListener('mousedown', function (e) {
   curCol = e.target.parentElement;
   nxtCol = curCol.nextElementSibling;
   pageX = e.pageX; 
 
   var padding = paddingDiff(curCol);
 
   curColWidth = curCol.offsetWidth - padding;
   if (nxtCol)
    nxtColWidth = nxtCol.offsetWidth - padding;
  });

  div.addEventListener('mouseover', function (e) {
   //e.target.style.borderRight = '4px double rgb(150, 150, 150)';
  })

  div.addEventListener('mouseout', function (e) {
     //e.target.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';
  })

  document.addEventListener('mousemove', function (e) {
   if (curCol) {
    var diffX = e.pageX - pageX;
 
    if (nxtCol)
     nxtCol.style.width = (nxtColWidth - (diffX))+'px';

    curCol.style.width = (curColWidth + diffX)+'px';
   }
  });

  document.addEventListener('mouseup', function (e) { 
   curCol = undefined;
   nxtCol = undefined;
   pageX = undefined;
   nxtColWidth = undefined;
   curColWidth = undefined
  });
 }
 
 function createDiv(height){
  var div = document.createElement('div');
  div.style.top = 0;
  div.style.right = 0;
  //div.style.width = '5px';
  div.style.width = '23px';
  //div.style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
  div.style.zIndex = '1';
  div.style.position = 'absolute';
  div.style.cursor = 'col-resize';
  div.style.userSelect = 'none';
  @*div.style.height = height + 'px';*@
  div.style.height = '52px';
  //div.style.borderRight = '4px double rgba(255, 255, 255, 0.2)';

  //div.style.right = '-10px';

  div.style.transform = 'translatex(10px)';
  div.innerHTML += `<i class="arrow left"></i> <div class="lines line1"></div> <div class="lines line2"></div> <i class="arrow right"></i>`;//<div class="lines line1"></div> <div class="lines line2"></div>
  div.setAttribute('id', 'GRgYMQCkHWKDuyb');
  div.setAttribute('onmouseover', 'ZKHOrDgJBDHOpmW(this)');
  div.setAttribute('onmouseout', 'pNxCxvPIUtCbSHM(this)');
  div.setAttribute('onclick', 'kEDVBzpHnAzOqpp(this, event)');

  return div;
 }


 
 function paddingDiff(col){
 
  if (getStyleVal(col,'box-sizing') == 'border-box'){
   return 0;
  }
 
  var padLeft = getStyleVal(col,'padding-left');
  var padRight = getStyleVal(col,'padding-right');
  return (parseInt(padLeft) + parseInt(padRight));

 }

 function getStyleVal(elm,css){
  return (window.getComputedStyle(elm, null).getPropertyValue(css))
 }
};



function kEDVBzpHnAzOqpp(t, e){
    e.stopPropagation();
};

function ZKHOrDgJBDHOpmW(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().addClass('qDIGovQQrGkMAIm');
    }   
};

function pNxCxvPIUtCbSHM(t){
    if($(t).attr('id') == 'GRgYMQCkHWKDuyb'){
        $(t).parent().removeClass('qDIGovQQrGkMAIm');
    } 
}






    @*let selected = document.querySelectorAll('.IdRKPExyAQSewBL a')[3];
    selected.classList.add('settings_a_selected');*@
    let selected = document.getElementById('settings_times_id');
    selected.classList.add('settings_a_selected');


    function fwsxYepQKkCq()
    {
        //document.getElementById('oVxJeHhcExMV').value = '';
        //document.getElementById('kwYypucEEAnX').value = '';
        //document.getElementById('IyWRFThVHhEX').value = '';
        //document.getElementById('cb1').checked = false;
        //document.getElementById('cb2').checked = false;
        //document.getElementById('cb3').checked = false;
        //document.getElementById('cb4').checked = false;
        //document.getElementById('cb5').checked = false;
        //document.getElementById('cb6').checked = false;
        

        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeIn(200);
    };

    function EjaqSVIBTCAu()
    {
        let a = document.getElementById('GpoavnFwAOos');
        $(a).fadeOut(200);
    };

    function vscNmCABakSwTKc(){
        let a = document.getElementById('nGWLQDZPlPSDQaC');
        $(a).fadeOut(200);
    };

    function validate(t, evt)
    {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste')
        {
            key = event.clipboardData.getData('text/plain');
        } else
        {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key))
        {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }

        
    };

    function UXOaovmCsnlURsn(t, evt) {
        //if (t.value.length > -1)
        //{
        //    let children = $(t).parent().children().eq(1).children();
        //    for (let i = 0; i < children.length; i++)
        //    {
        //        $(children[i]).removeClass('flYuCaWkWLvKDYr');
        //        $(children[i]).children().removeAttr('disabled');
        //    }
        //}
        //else 
        //{
        //    let children = $(t).parent().children().eq(1).children();
        //    for (let i = 0; i < children.length; i++)
        //    {
        //        $(children[i]).addClass('flYuCaWkWLvKDYr');
        //        $(children[i]).children().attr('disabled');
        //    }
        //}

        //if (t.value.length > -1)
        //{
        //    let children = $(t).parent().children().eq(1).children();
        //    for (let i = 0; i < children.length; i++)
        //    {
        //        $(children[i]).removeClass('flYuCaWkWLvKDYr');
        //        $(children[i]).children().removeAttr('disabled');
        //    }
        //}
        //else 
        //{

        //}

        //var key = evt.keyCode || evt.charCode;
        //if (key == 8 || key == 46)
        //{            
        //        let children = $(t).parent().children().eq(1).children();
        //        for (let i = 0; i < children.length; i++)
        //        {
        //            $(children[i]).addClass('flYuCaWkWLvKDYr');
        //            $(children[i]).children().attr('disabled', '');
        //        }
        //}
    };

    function BmJPiKFdcncS(){
        let name_ = document.getElementById('oVxJeHhcExMV').value;
        let description_ = document.getElementById('kwYypucEEAnX').value;
        let max_ = document.getElementById('IyWRFThVHhEX').value;
        let ifDays_ = document.getElementById('cb1').checked;
        let ifWeeks_ = document.getElementById('cb2').checked;
        let ifMonths_ = document.getElementById('cb3').checked;
        let ifYears_ = document.getElementById('cb4').checked;
        let ifWeekends_ = document.getElementById('cb5').checked;
        let ifHolidays_ = document.getElementById('cb6').checked;

        if (name_)
        {
            if (max_)
            {
                if (ifDays_ || ifWeeks_ || ifMonths_ || ifYears_)
                {
                    $.ajax({
                        type: 'POST',
                        url: '/Leave4/AddLeave',
                        data: {
                            name: name_,
                            description: description_,
                            max: max_,
                            ifDays: ifDays_,
                            ifWeeks: ifWeeks_,
                            ifMonths: ifMonths_,
                            ifYears: ifYears_,
                            ifWeekends: ifWeekends_,
                            ifHolidays: ifHolidays_
                        },
                        success: function (response)
                        {
                            //let a = document.getElementById('GpoavnFwAOos');
                            //$(a).fadeOut(200);
                            location.reload();
                        },
                        error: function (xhr, status, error)
                        {
                            console.log('Error updating data:', error);
                        }
                    });
                }
            }
            else if (ifDays_ || ifWeeks_ || ifMonths_ || ifYears_)
            {
                if (max_)
                {
                    $.ajax({
                        type: 'POST',
                        url: '/Leave4/AddLeave',
                        data: {
                            name: name_,
                            description: description_,
                            max: max_,
                            ifDays: ifDays_,
                            ifWeeks: ifWeeks_,
                            ifMonths: ifMonths_,
                            ifYears: ifYears_,
                            ifWeekends: ifWeekends_,
                            ifHolidays: ifHolidays_
                        },
                        success: function (response)
                        {
                            //let a = document.getElementById('GpoavnFwAOos');
                            //$(a).fadeOut(200);
                            location.reload();
                        },
                        error: function (xhr, status, error)
                        {
                            console.log('Error updating data:', error);
                        }
                    });
                }
            }
            else 
            {
                $.ajax({
                    type: 'POST',
                    url: '/Leave4/AddLeave',
                    data: {
                        name: name_,
                        description: description_,
                        max: max_,
                        ifDays: ifDays_,
                        ifWeeks: ifWeeks_,
                        ifMonths: ifMonths_,
                        ifYears: ifYears_,
                        ifWeekends: ifWeekends_,
                        ifHolidays: ifHolidays_
                    },
                    success: function (response)
                    {
                        //let a = document.getElementById('GpoavnFwAOos');
                        //$(a).fadeOut(200);
                        location.reload();
                    },
                    error: function (xhr, status, error)
                    {
                        console.log('Error updating data:', error);
                    }
                });
            }
        }
    };


    function cbclick(e)
    {
        e = e || event;
        var cb = e.srcElement || e.target;
        if (cb.type !== 'checkbox') { return true; }
        var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i = cbxs.length;
        while (i--)
        {
            if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id)
            {
                cbxs[i].checked = false;
            }
        }
        // if the click should always result in a checked checkbox
        // unconmment this:
        // cb.checked = true;
    }

    function OnvqHvCoOiDaFEV() {
        $('.VUXahzbNUTWtiZa').hide();
        $('#UOrGQHMwMiwAhOM').show();
        $('#arZXMQdbSQIRrUe').show();
        $('.IVnxgCORpPYL').hide();
    };
    OnvqHvCoOiDaFEV();

    function ZucUMOWKGdlqgYv() {
        $('.VUXahzbNUTWtiZa').show();
        $('#UOrGQHMwMiwAhOM').hide();
        $('#arZXMQdbSQIRrUe').hide();
        $('.IVnxgCORpPYL').show();
    };

    function GTUwirLRmPXoIuh(t){
        sessionStorage.setItem('hCiEUYaJyBZCWTU', t.id);
        //document.getElementById('ewZOdyapfFtPtMi').innerHTML = t.getAttribute('name');
        document.getElementById('ewZOdyapfFtPtMi').innerHTML = $(t).parent().parent().children().eq(0).html();
        document.getElementById('nZDLxLTZwFzAFCY').innerHTML = $(t).parent().parent().children().eq(1).html();

        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeIn(200);
    };

    function UOspQSjpbVdS()
    {
        let a = document.getElementById('YiAVCpnVzhDnOsL');
        $(a).fadeOut(200);
    };

    function dDlRcSCJZAuO(){
        let id_ = sessionStorage.getItem('hCiEUYaJyBZCWTU');

        $.ajax({
            type: 'POST',
            url: '/Leave4/RemoveLeave',
            data: {
                id: id_
            },
            success: function (response)
            {
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error deleting data:', error);
            }
        });
    };

    function klhLiQVRwGfWrSp(t){
        sessionStorage.setItem('MRZrhugkTpKvhtm', t.id);
        document.getElementById('AazUHXhkXIbdKWH').value = $(t).parent().parent().children().eq(0).html();
        document.getElementById('TDGIADzVjJqefsV').value = $(t).parent().parent().children().eq(1).html();
        document.getElementById('VumSHUqECwbXZcK').value = $(t).parent().parent().children().eq(2).html().split(' ')[0];
        document.getElementById('cb1_').checked = $(t).parent().parent().children().eq(2).attr('checked1');
        document.getElementById('cb2_').checked = $(t).parent().parent().children().eq(2).attr('checked2');
        document.getElementById('cb3_').checked = $(t).parent().parent().children().eq(2).attr('checked3');
        document.getElementById('cb4_').checked = $(t).parent().parent().children().eq(2).attr('checked4');
        document.getElementById('cb5_').checked = $(t).parent().parent().children().eq(3).children().eq(0).attr('checked');
        document.getElementById('cb6_').checked = $(t).parent().parent().children().eq(4).children().eq(0).attr('checked');



        let nGWLQDZPlPSDQaC = document.getElementById('nGWLQDZPlPSDQaC');
        $(nGWLQDZPlPSDQaC).fadeIn(200);
    };

    function LkHTSbDyYLLvJeC(){
        let id_ = sessionStorage.getItem('MRZrhugkTpKvhtm');

        let name_ = document.getElementById('AazUHXhkXIbdKWH').value;
        let description_ = document.getElementById('TDGIADzVjJqefsV').value;
        let max_ = document.getElementById('VumSHUqECwbXZcK').value;
        let ifDays_ = document.getElementById('cb1_').checked;
        let ifWeeks_ = document.getElementById('cb2_').checked;
        let ifMonths_ = document.getElementById('cb3_').checked;
        let ifYears_ = document.getElementById('cb4_').checked;
        let ifWeekends_ = document.getElementById('cb5_').checked;
        let ifHolidays_ = document.getElementById('cb6_').checked;

        if (name_)
        {
            if (max_)
            {
                if (ifDays_ || ifWeeks_ || ifMonths_ || ifYears_)
                {
                    $.ajax({
                        type: 'POST',
                        url: '/Leave4/EditLeave',
                        data: {
                            id: id_,
                            name: name_,
                            description: description_,
                            max: max_,
                            ifDays: ifDays_,
                            ifWeeks: ifWeeks_,
                            ifMonths: ifMonths_,
                            ifYears: ifYears_,
                            ifWeekends: ifWeekends_,
                            ifHolidays: ifHolidays_
                        },
                        success: function (response)
                        {
                            //let a = document.getElementById('GpoavnFwAOos');
                            //$(a).fadeOut(200);
                            location.reload();
                        },
                        error: function (xhr, status, error)
                        {
                            console.log('Error updating data:', error);
                        }
                    });
                }
            }
            else if (ifDays_ || ifWeeks_ || ifMonths_ || ifYears_)
            {
                if (max_)
                {
                    $.ajax({
                        type: 'POST',
                        url: '/Leave4/EditLeave',
                        data: {
                            id: id_,
                            name: name_,
                            description: description_,
                            max: max_,
                            ifDays: ifDays_,
                            ifWeeks: ifWeeks_,
                            ifMonths: ifMonths_,
                            ifYears: ifYears_,
                            ifWeekends: ifWeekends_,
                            ifHolidays: ifHolidays_
                        },
                        success: function (response)
                        {
                            //let a = document.getElementById('GpoavnFwAOos');
                            //$(a).fadeOut(200);
                            location.reload();
                        },
                        error: function (xhr, status, error)
                        {
                            console.log('Error updating data:', error);
                        }
                    });
                }
            }
            else
            {
                $.ajax({
                    type: 'POST',
                    url: '/Leave4/EditLeave',
                    data: {
                        id: id_,
                        name: name_,
                        description: description_,
                        max: max_,
                        ifDays: ifDays_,
                        ifWeeks: ifWeeks_,
                        ifMonths: ifMonths_,
                        ifYears: ifYears_,
                        ifWeekends: ifWeekends_,
                        ifHolidays: ifHolidays_
                    },
                    success: function (response)
                    {
                        //let a = document.getElementById('GpoavnFwAOos');
                        //$(a).fadeOut(200);
                        location.reload();
                    },
                    error: function (xhr, status, error)
                    {
                        console.log('Error updating data:', error);
                    }
                });
            }
        }
    };




</script>


<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TimeIndex.js"></script>
<script type="text/javascript" src="~/js/sorttable.js"></script>