@using Newtonsoft.Json;
@model IEnumerable<TimeTask.Models.Time>

@{
	ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
	<section class="left-nav">
		@Html.Partial("_Settings")
	</section>
	<section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                <a href="@Url.Action("TimeSettings", "Times")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln"><span>Czas Pracy</span></a>
                <a href="@Url.Action("LeaveSettings", "Times")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln MQihtEemnyVHxOa"><span>Urlopy</span></a>
            </div>
            <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="yYNizTMVTEhbkFD" onclick="yYNizTMVTEhbkFD_()">
                <ion-icon name="add-outline"></ion-icon>
                <span>Nowy urlop</span>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                <thead>
                    <tr>
                        <th><span>Nazwa</span></th>
                        <th><span>Komentarz</span></th>
                        <th>
                            @*Maks.*@
                            <span>Maks.</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Maksymalna długość urlopu</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Weekendy*@
                            <span class="FkyNgSytCCecyIP">Weekendy</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się soboty i niedziele</title>
                            </svg>
                        </th>
                        <th class="MSqNklVuATDPbHk">
                            @*Święta*@
                            <span class="FkyNgSytCCecyIP">Święta</span>
                            <svg viewBox="0 0 12 12" width="15px" height="15px">
                                <path d="M6,0C2.6862793,0,0,2.6862793,0,6s2.6862793,6,6,6s6-2.6862793,6-6S9.3137207,0,6,0z M6.5,9.5h-1v-1h1V9.5z   M7.2651367,6.1738281C6.7329102,6.5068359,6.5,6.6845703,6.5,7v0.5h-1V7c0-0.9023438,0.7138672-1.3486328,1.2348633-1.6738281  C7.2670898,4.9931641,7.5,4.8154297,7.5,4.5c0-0.5517578-0.4487305-1-1-1h-1c-0.5512695,0-1,0.4482422-1,1V5h-1V4.5  c0-1.1025391,0.8969727-2,2-2h1c1.1030273,0,2,0.8974609,2,2C8.5,5.4023438,7.7861328,5.8486328,7.2651367,6.1738281z"></path>
                                <title>Czy do urlopu wliczają się święta</title>
                            </svg>
                        </th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                @foreach (var item in ((IEnumerable<Leave4>)ViewBag.Leave).OrderBy(x => x.Name))
                {
                    <tr class="EmRSNqsShbDnTsE">
                        <td title="@item.Name">@item.Name</td>
                        <td title="@item.Description">@item.Description</td>
                        @if (item.IfDays == true)
                        {
                            <td checked1="true">@item.Max (dni)</td>
                        }
                        else if (item.IfWeeks == true)
                        {
                            <td checked2="true">@item.Max (tygodnie)</td>
                        }
                        else if (item.IfMonths == true)
                        {
                            <td checked3="true">@item.Max (miesiące)</td>
                        }
                        else if (item.IfYears == true)
                        {
                            <td checked4="true">@item.Max (lata)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            <input type="checkbox" checked="@item.IfWeekends" disabled style="display: none;" />
                            @if (item.IfWeekends == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>
                        <td>
                            <input type="checkbox" checked="@item.IfHolidays" disabled style="display: none;" />
                            @if (item.IfHolidays == true)
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm6.003 11L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"></path>
                                </svg>
                            }
                            else
                            {
                                <svg viewBox="0 0 24 24" height="22" width="22">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2 "></path>
                                </svg>
                            }
                        </td>

                        <td>
                            <a onclick="klhLiQVRwGfWrSp(@item.Id)" title="Edytuj">
                                <ion-icon class="edit urlop" name="create-outline"></ion-icon>
                            </a>
                            <a onclick="GTUwirLRmPXoIuh(@item.Id)" title="Usuń">
                                <ion-icon class="delete urlop" name="trash-outline"></ion-icon>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
	</section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TimeIndex.js"></script>
<script type="text/javascript" src="~/js/sorttable.js"></script>