@using Newtonsoft.Json;
@model IEnumerable<TimeTask.Models.Time>

@{
	ViewData["Title"] = "Index";

    var timeSettings = ((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).FirstOrDefault(x => x.WorkerId == null);
    var poraNocnaStart = timeSettings?.PoraNocnaStart;
    var poraNocnaKoniec = timeSettings?.PoraNocnaKoniec;

    var czyPoniedzialek = timeSettings?.CzyPoniedzialekWolny;
    var czyWtorek = timeSettings?.CzyWtorekWolny;
    var czySroda = timeSettings?.CzySrodaWolny;
    var czyCzwartek = timeSettings?.CzyCzwartekWolny;
    var czyPiatek = timeSettings?.CzyPiatekWolny;
    var czySobota = timeSettings?.CzySobotaWolny;
    var czyNiedziela = timeSettings?.CzyNiedzielaWolny;

    var dobowyWymiarCzasuPracy = timeSettings?.CzasPracy;
    var okresRozliczeniowy = timeSettings?.OkresRozliczeniowy;

    var okresRozliczeniowy_jezeliTydzien = timeSettings?.jezeliTydzien;
    var okresRozliczeniowy_jezeliMiesiac = timeSettings?.jezeliMiesiac;

    var maksymalnaLiczbaNadgodzinTydzien = timeSettings?.MaksymalnaLiczbaNadgodzinTydzien;
    var maksymalnaLiczbaNadgodzinRok = timeSettings?.MaksymalnaLiczbaNadgodzin;
    var nieprzerwanyOdpoczynek = timeSettings?.NieprzerwanyOdpoczynek;
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
	<section class="left-nav">
		@Html.Partial("_Settings")
	</section>
	<section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                <a href="@Url.Action("TimeSettings", "Times")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln MQihtEemnyVHxOa"><span>Czas Pracy</span></a>
                <a href="@Url.Action("LeaveSettings", "Times")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln"><span>Urlopy</span></a>
            </div>
            @if (((IEnumerable<Workers2>)ViewBag.Workers).Count() > 0)
            {
                <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="LRKPgUoIPlhVTMS" onclick="LRKPgUoIPlhVTMS_()">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <span>Ustawienie indywidualne</span>
                </div>
            }
            else
            {
                <div class="IVnxgCORpPYL GcatEFOlNEfZNtE" id="LRKPgUoIPlhVTMS">
                    <span>Wyjątek dla pracownika</span>
                    <div class="tooltiptext">Nie ma dodanych żadnych pracowników!</div>
                </div>
            }
        </div>

        <div class="YUPrikbkYzkc">
            <div id="cJsHHcdodjVadhY">
                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                    <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia ogólne</span>
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Pora nocna trwa od godziny</span>
                        @if (poraNocnaStart != null)
                        {
                            <input value="@poraNocnaStart.Value.ToString("HH:ss")" class="form-control DnSGyEINFwTACsK" type="time" id="gsWnPInTEluayCy" onblur="gsWnPInTEluayCy_()" />
                        }
                        else
                        {
                            <input value="@null" class="form-control DnSGyEINFwTACsK" type="time" id="gsWnPInTEluayCy" onblur="gsWnPInTEluayCy_()" />
                        }
                        <span class="hFzZLqJdsEqdlrx">do godziny</span>
                        @if (poraNocnaKoniec != null)
                        {
                            <input value="@poraNocnaKoniec.Value.ToString("HH:ss")" class="form-control DnSGyEINFwTACsK" type="time" id="SiNSMVtTKxOjnem" onblur="gsWnPInTEluayCy_()" />
                        }
                        else
                        {
                            <input value="@null" class="form-control DnSGyEINFwTACsK" type="time" id="SiNSMVtTKxOjnem" onblur="gsWnPInTEluayCy_()" />
                        }
                    </div>
                    <div class="msdgExEZCpefgcL FKefKMBcjulzAaY">
                        <span class="hFzZLqJdsEqdlrx">Dni wolne od pracy:</span>
                    </div>
                    <div class="msdgExEZCpefgcL AhPaTGevmeuEsrA">
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czyPoniedzialek" type="checkbox" id="QPebGULGyufDEHz" onchange="MrQZggFcmaNphIg(this)" /> <!--QPebGULGyufDEHz_(this)-->
                                <span>Poniedziałek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czyWtorek" type="checkbox" id="kJGnDDkbrZWXYuR" onchange="MrQZggFcmaNphIg(this)" /> <!--kJGnDDkbrZWXYuR_(this)-->
                                <span>Wtorek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czySroda" type="checkbox" id="CKMBUUZmdZmwRBI" onchange="MrQZggFcmaNphIg(this)" /> <!--CKMBUUZmdZmwRBI_(this)-->
                                <span>Środa</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czyCzwartek" type="checkbox" id="CYUzYwwDMVXUmke" onchange="MrQZggFcmaNphIg(this)" /> <!--CYUzYwwDMVXUmke_(this)-->
                                <span>Czwartek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czyPiatek" type="checkbox" id="NtmebQZRHqjmpmB" onchange="MrQZggFcmaNphIg(this)" /> <!--NtmebQZRHqjmpmB_(this)-->
                                <span>Piątek</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czySobota" type="checkbox" id="RSUOGpjPUOmRtSA" onchange="MrQZggFcmaNphIg(this)" /> <!--RSUOGpjPUOmRtSA_(this)-->
                                <span>Sobota</span>
                            </label>
                        </div>
                        <div class="tfxOCYXhVXTswof">
                            <label>
                                <input checked="@czyNiedziela" type="checkbox" id="baAmFvRLsPdjFPK" onchange="MrQZggFcmaNphIg(this)" /> <!--baAmFvRLsPdjFPK_(this)-->
                                <span>Niedziela</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                    <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia pracowników</span>
                    <!--Okres rozliczeniowy-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Okres rozliczeniowy -</span>
                        <input value="@okresRozliczeniowy" class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="IkruzJFAfehduep" onkeypress="return isNumberKey(event);" onblur="YaohyXTjGdIPVHK()" />
                        <select class="form-control BdeTMrFhVdXURgF" id="dOAFhxfwDtzoHav" onchange="YaohyXTjGdIPVHK()">
                            @if (okresRozliczeniowy_jezeliTydzien == null && okresRozliczeniowy_jezeliMiesiac == null)
                            {
                                <option disabled selected>-</option>
                            }
                            else
                            {
                                <option disabled>-</option>
                            }

                            @if (okresRozliczeniowy_jezeliTydzien == true && okresRozliczeniowy_jezeliMiesiac == false)
                            {
                                <option selected>tydzień/tygodnie/tygodni</option>
                            }
                            else
                            {
                                <option>tydzień/tygodnie/tygodni</option>
                            }

                            @if (okresRozliczeniowy_jezeliTydzien == false && okresRozliczeniowy_jezeliMiesiac == true)
                            {
                                <option selected>miesiąc/miesiące/miesięcy</option>
                            }
                            else
                            {
                                <option>miesiąc/miesiące/miesięcy</option>
                            }
                        </select>
                    </div>
                    <!--czas pracy-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Dobowy wymiar czasu pracy -</span>
                        <input value="@dobowyWymiarCzasuPracy" class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="mNLCvwMfyDsHDRo" onkeypress="return isNumberKey(event)" onblur="IIjDrhHnsJwmqtN(this)" />
                        <span class="hFzZLqJdsEqdlrx"> godz.</span>
                    </div>
                    <!--max nadgodzin w tygodniu-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w tygodniu -</span>
                        <input value="@maksymalnaLiczbaNadgodzinTydzien" class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="rShbhZqNInnuIPw" onkeypress="return isNumberKey(event)" onblur="jShPfjshHZwMBZw(this)" />
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                    <!--max nadgodzin w roku-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w roku -</span>
                        <input value="@maksymalnaLiczbaNadgodzinRok" class="form-control DnSGyEINFwTACsK" type="text" maxlength="3" id="qFciKrITNFzxtSL" onkeypress="return isNumberKey(event)" onblur="XzSwltkFnFZxgQl(this)" />
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                    <!--Nieprzerwany odpoczynek między dniami roboczymi-->
                    <div class="msdgExEZCpefgcL">
                        <span class="hFzZLqJdsEqdlrx">Nieprzerwany odpoczynek między dniami roboczymi -</span>
                        <input value="@nieprzerwanyOdpoczynek" class="form-control DnSGyEINFwTACsK" type="text" maxlength="2" id="FqvhrnXefCjthHG" onkeypress="return isNumberKey(event)" onblur="bnjRnAOHPyGsOAT(this)" />
                        <span class="hFzZLqJdsEqdlrx">godz.</span>
                    </div>
                </div>


                @if (((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Count() > 0 && ((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Any(x => x.WorkerId != null))
                {
                    foreach (var item in (IEnumerable<TimeSettings3>)ViewBag.TimeSetting)
                    {
                        if (item.WorkerId != null)
                        {
                            if (((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.Id == item.WorkerId).Count() > 0)
                            {
                                <div class="MslTtblACOgbHhY">
                                    <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Wyjątki dla pracowników</span>
                                </div>

                                break;
                            }
                        }
                    }
                }


                @if (((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Count() > 0 && ((IEnumerable<TimeSettings3>)ViewBag.TimeSetting).Any(x => x.WorkerId != null))
                {
                    @foreach (var item in (IEnumerable<TimeSettings3>)ViewBag.TimeSetting)
                    {
                        if (item.WorkerId != null)
                        {
                            if (((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.Id == item.WorkerId).Count() > 0)
                            {
                                
                            }

                            var workerSurname = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.Surname;
                            var workerName = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.Name;
                            var workerDepartment_id = ((IEnumerable<Workers2>)ViewBag.Workers).FirstOrDefault(x => x.Id == item.WorkerId)?.DepartmentID;
                            var workerDepartmentName = ((IEnumerable<Department>)ViewBag.Departments).FirstOrDefault(x => x.Id == workerDepartment_id)?.Name;

                            if (workerSurname != null && workerName != null && workerDepartmentName != null)
                            {
                                <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL" id="@item.WorkerId">

                                    <div class="erOCIbdJwtotRUa">
                                        <span>@workerSurname @workerName (@workerDepartmentName)</span>
                                        <div class="JtovNmsBONthQte">
                                            <a onclick="pEIhAaljnrXIAfq(@item.Id)" title="Edytuj">
                                                <ion-icon class="edit" name="create-outline"></ion-icon>
                                            </a>
                                            <a onclick="BPrZxQsyhDUoPdi(@item.Id)" title="Usuń">
                                                <ion-icon class="delete" name="trash-outline" style="color: rgba(255, 60, 60, 1);"></ion-icon>
                                            </a>
                                        </div>
                                    </div>

                                    @if (item.CzasPracy != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Dobowy wymiar czasu pracy wynosi </span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="mNLCvwMfyDsHDRo_" value="@item.CzasPracy" disabled />
                                            <span class="hFzZLqJdsEqdlrx"> godz.</span>
                                        </div>
                                    }
                                    @if (item.OkresRozliczeniowy != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Okres rozliczeniowy -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="IkruzJFAfehduep_" value="@item.OkresRozliczeniowy" disabled />
                                            <select class="form-control BdeTMrFhVdXURgF BdeTMrFhVdXURgF_" id="xAprUkvEKUETwRe" disabled>
                                                @if (item.jezeliTydzien == true)
                                                {
                                                    <option>tydzień/tygodnie/tygodni</option>
                                                }
                                                @if (item.jezeliMiesiac == true)
                                                {
                                                    <option>miesiąc/miesiące/miesięcy</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    @if (item.MaksymalnaLiczbaNadgodzinTydzien != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w tygodniu -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="rShbhZqNInnuIPw_" value="@item.MaksymalnaLiczbaNadgodzinTydzien" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                    @if (item.MaksymalnaLiczbaNadgodzin != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Maksymalna liczba nadgodzin w roku -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="qFciKrITNFzxtSL_" value="@item.MaksymalnaLiczbaNadgodzin" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                    @if (item.NieprzerwanyOdpoczynek != null)
                                    {
                                        <div class="msdgExEZCpefgcL">
                                            <span class="hFzZLqJdsEqdlrx">Nieprzerwany odpoczynek między dniami roboczymi -</span>
                                            <input class="form-control DnSGyEINFwTACsK" type="text" id="FqvhrnXefCjthHG_" value="@item.NieprzerwanyOdpoczynek" disabled />
                                            <span class="hFzZLqJdsEqdlrx">godz.</span>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
	</section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TimeIndex.js"></script>