@model TimeTask.Models.TimeSettings3

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSettings3</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OkresRozliczeniowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OkresRozliczeniowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jezeliTydzien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jezeliTydzien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jezeliMiesiac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jezeliMiesiac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzasPracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzasPracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaksymalnaLiczbaNadgodzin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaksymalnaLiczbaNadgodzin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaksymalnaLiczbaNadgodzinTydzien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaksymalnaLiczbaNadgodzinTydzien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NieprzerwanyOdpoczynek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NieprzerwanyOdpoczynek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoraNocnaStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoraNocnaStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoraNocnaKoniec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoraNocnaKoniec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyPoniedzialekWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyPoniedzialekWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyWtorekWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyWtorekWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzySrodaWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzySrodaWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyCzwartekWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyCzwartekWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyPiatekWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyPiatekWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzySobotaWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzySobotaWolny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyNiedzielaWolny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyNiedzielaWolny)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
