@model IEnumerable<TimeTask.Models.Statistics>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Statistics" />
    </section>
    <section class="right-nav RRoFiIClIdLQJJD">

        <div class="DwElCJjoDUWbsnV">
            <div class="GobmBwqqBbAsPaX">
                <div onclick="fZyjOJhrSKbOWIT(this)" id="fZyjOJhrSKbOWIT_">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none"><path d="M21 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V3M15 10V17M7 13V17M19 5V17M11 7V17" stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
                <div onclick="piQGwnkhyVDjpuD(this)" id="piQGwnkhyVDjpuD_">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none"><path d="M3 3V16.2C3 17.8802 3 18.7202 3.32698 19.362C3.6146 19.9265 4.07354 20.3854 4.63803 20.673C5.27976 21 6.11984 21 7.8 21H21M19 15H7M18 7H7M15 11H7" stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
                <div onclick="aUsCMMTyjqhmxBa(this)" id="aUsCMMTyjqhmxBa_">
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none"><path d="M21 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V3M15 4V8M11 8V12M7 13V17M19 4V17" stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
            </div>



            <div class="imAZBCksRVUuDsR" id="imAZBCksRVUuDsR_">
                <!--słupki-->
                <div class="yTKpwuaIyVAZjYk" id="yTKpwuaIyVAZjYk_">
                    <!---->
                </div>
                <!--nazwy dni, dni miesiąca-->
                <div class="KjseMRiNyEJWtCR" id="KjseMRiNyEJWtCR_">
                    <!---->
                </div>
            </div>
            <div class="kCJfJXsYxCydUDw" id="kCJfJXsYxCydUDw_">

            </div>
            <div class="GYgSdzJuBJAuFcM" id="GYgSdzJuBJAuFcM_">
                <!--słupki-->
                <div class="yTKpwuaIyVAZjYk" id="qoawyUybNhotJKO_">
                    <!---->
                </div>
                <!--nazwy dni, dni miesiąca-->
                <div class="KjseMRiNyEJWtCR" id="GFYnHZkcKqlZmQu_">
                    <!---->
                </div>
            </div>
        </div>


    </section>
</div>

<!--contextMenu-->
<div>

</div>
<!---->

<!--infoMenu-->
<div class="ojoBTKJoCXNHgxz" id="ojoBTKJoCXNHgxz_" style="display: none;">

</div>
<!---->

<script type="text/javascript">
    var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));
    var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));
    var model_ts = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TimeSetting));
    var model_t = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Time));
    var model_task = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Task));

    $(document).ready(function ()
    {
        $('.loader_div').fadeOut(200);
    });
</script>

<script src="~/js/site.js"></script>
<script src="~/js/Statistics.js"></script>